<div class="dmb-survey-privacy-policy dmb-u-m-b-s">
  <p class="h-u-font-weight-regular">
    To create an assessment report, you’ll need to agree to Google's terms of service and privacy policy.
  </p>
  <button
      id="dmb-read-more"
      class="dmb-survey-privacy-policy__btn h-c-button h-c-button--flat"
      aria-controls="dmb-read-more-text"
      aria-expanded="false">
    Read
    <span class="dmb-survey-privacy-policy__more">more</span>
    <span class="dmb-survey-privacy-policy__less">less</span>
  </button>
  <p
      id="dmb-read-more-text"
      class="dmb-survey-privacy-policy__text h-c-footnote"
      aria-labelledby="dmb-read-more">
    By using this tool you agree that the tool and any report generated as a result of your use of the tool is provided to you “as is”, without any warranty of any kind, either express or implied, including without limitation, fitness for a particular purpose or non-infringement, and without any warranty that the information obtained through the report is accurate, reliable or error-free. The entire risk arising out of utilising the report remains with you. You understand and agree that any action you may take based on the findings of the report is done at your own discretion and risk. Any data you input into the tool may be anonymized and aggregated for use within and by Google or selected third parties. <a href="https://policies.google.com/privacy" target="_blank" class="h-c-inline-link">Privacy & Terms</a>.
  </p>
</div>
