{% load angular %}
{% load i18n %}
<section class="dmb-header-text-cta h-c-page h-u-text-center{% if class %} {{class}}{% endif %}">
  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--8 h-c-grid__col--offset-2">
      <h2 class="h-c-headline h-c-headline--two dmb-u-m-b-s">
        {% trans "Your roadmap to digital marketing maturity" %}
      </h2>
      <p class="dmb-header-text-cta__text dmb-u-m-b-s">
        {% with prod_name=product_name|ng_mark_safe %}
        {% blocktrans %}The <strong>{{prod_name}}</strong> is a diagnostic tool developed based on our in-depth research with BCG.{% endblocktrans %}
        {% endwith %}
      </p>
      {% comment %}
      <a
          href=""
          class="h-c-button dmb-outline-button"
          target="_blank">
        {% trans "Study" }
      </a>
      {% endcomment %}
    </div>
  </div>
</section>
