{% load i18n %}
<section class="dmb-home-tabs h-c-page{% if class %} {{class}}{% endif %}">
  <h1 class="h-c-eyebrow">
    {% trans "How it works" %}
  </h1>
  {% trans "Benchmark which stage your organisation is at on our digital maturity scale." as step_heading %}

  {% include 'public/inc/global/step-heading.inc.html' with text=step_heading svg='shield' numbered=True only %}

  <div
      class="dmb-home-tabs__tabs glue-tabby glue-zippy-style h-t-hercules"
      data-glue-tabby-tabset-breakpoints="['small', 'medium', 'medium-large', 'large', 'x-large', 'xx-large']"
      ng-cloak>
    <ul class="glue-zippy-set-single">
      {% trans "Nascent" as level_0_heading %}
      {% trans "Businesses at this stage work on a campaign-by-campaign basis, using external data and direct buys with limited link to sales." as level_0_text %}
      <li
          id="level-0"
          class="dmb-home-tabs__tab--level-0 glue-a-zippy--v-smooth-expand"
          data-glue-label="level-0">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading dmb-u-alt-font h-u-font-weight-medium">
            {{ level_0_heading }}
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/inc/home/home-tab-content.inc.html' with title=level_0_heading text=level_0_text %}
        </div>
      </li>

      {% trans "Emerging" as level_1_heading %}
      {% trans "In these businesses, there is some use of owned data in automated buying, with single-channel optimisation and testing." as level_1_text %}
      <li
          id="level-1"
          class="dmb-home-tabs__tab--level-1 glue-a-zippy--v-smooth-expand"
          data-glue-label="level-1">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading dmb-u-alt-font h-u-font-weight-medium">
            {{ level_1_heading }}
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/inc/home/home-tab-content.inc.html' with title=level_1_heading text=level_1_text %}
        </div>
      </li>

      {% trans "Connected" as level_2_heading %}
      {% trans "By now, data is integrated and activated across channels with a demonstrated link to ROI or sales proxies." as level_2_text %}
      <li
          id="level-2"
          class="dmb-home-tabs__tab--level-2 glue-a-zippy--v-smooth-expand"
          data-glue-label="level-2">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading dmb-u-alt-font h-u-font-weight-medium">
            {{ level_2_heading }}
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/inc/home/home-tab-content.inc.html' with title=level_2_heading text=level_2_text %}
        </div>
      </li>
      {% trans "Multi-moment" as level_3_heading %}
      {% trans "At this stage, businesses have dynamic execution optimised towards a single-customer view across channels." as level_3_text %}
      <li
          id="level-3"
          class="dmb-home-tabs__tab--level-3 glue-a-zippy--v-smooth-expand"
          data-glue-label="level-3">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading dmb-u-alt-font h-u-font-weight-medium">
            {{ level_3_heading }}
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/inc/home/home-tab-content.inc.html' with title=level_3_heading text=level_3_text %}
        </div>
      </li>
    </ul>
  </div>
</section>
