{% load i18n %}
{% trans "Use the insights from your report to identify how to drive your organisation to the next level, and work with others in your company and your partners to achieve this." as image_text_heading %}
{% trans "devices running the tool" as image_alt_text %}

<section class="dmb-img-text{% if class %} {{class}}{% endif %}">
  <div class="h-c-page">
    <div class="h-c-grid">
      <div class="h-c-grid__col h-c-grid__col--5">
        <div class="dmb-img-text__heading">
          {% include 'public/inc/global/step-heading.inc.html' with text=image_text_heading svg='shield' numbered=True only %}
        </div>

        {% include 'public/inc/global/responsive-image.inc.html' with class='dmb-img-text__img dmb-u-m-b-s' img='img/ads/home/img-text-img-mobile' ext='jpg' alt='image_alt_text' only %}

        {% include 'public/inc/global/collaboration.inc.html' with partner1='bcg' text=collab_text %}
      </div>
    </div>
  </div>
</section>
