{% load i18n %}
{% load staticfiles %}

<section class="dmb-product-hero h-u-text-center{% if class %} {{class}}{% endif %}">
  <img
      class="dmb-product-hero__bg-img"
      src="{% static 'img/ads/home/product-hero-bg.svg' %}"
      alt="background image">

  {% trans "laptop screen demo" as alt_text %}
  {% include 'public/inc/global/responsive-image.inc.html' with class='dmb-product-hero__img' img='img/ads/home/laptop' ext='png' alt='alt_text' %}

  <div class="dmb-product-hero__color-bg"></div>
</section>
