body {
  font-family: $tr-font-family;
  font-size: $tr-font-size-default;
  color: $tr-font-color-dark;
}

.tr-display {
  font-size: $tr-display-font-size;
  line-height: $tr-display-line-height;
  font-weight: $tr-display-font-weight;
}

h1,
.tr-alpha {
  font-size: $tr-h1-font-size;
  line-height: $tr-h1-line-height;
  font-weight: $tr-h1-font-weight;
}

h2,
.tr-beta {
  font-size: $tr-h2-font-size;
  line-height: $tr-h2-line-height;
  font-weight: $tr-h2-font-weight;
}

h3,
.tr-gamma {
  font-size: $tr-h3-font-size;
  line-height: $tr-h3-line-height;
  font-weight: $tr-h3-font-weight;
}

.tr-p-leading {
  font-size: $tr-paragraph-lead-font-size;
  line-height: $tr-paragraph-lead-line-height;
}

.tr-color-light {
  color: $tr-font-color-light;
}

