<section class="dmb-tile-carousel{% if class %} {{class}}{% endif %} dmb-u-p-t-m dmb-u-p-b-m">
  <div class="h-c-page">
    {% include 'public/inc/global/step-heading.inc.html' with text='Dig deeper into how your news organisation prioritises data across four key dimensions' svg='shield' numbered=True only %}

    <div class="dmb-tile-carousel__tiles">

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          {% include 'core/inc/svg.html' with id='strategic-direction' size='48px' class='dmb-tile-carousel__tile-icon' %}
          <h4 class="h-c-tile__headline">
            Strategic direction & data foundations
          </h4>
          <p class="h-c-tile__description">
            Understand the role of data and the core capabilities required to successfully activate data within the organisation.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          {% include 'core/inc/svg.html' with id='reader-engagement' size='48px' class='dmb-tile-carousel__tile-icon' %}
          <h4 class="h-c-tile__headline">
            Reader engagement
          </h4>
          <p class="h-c-tile__description">
            Understand critical audience segments and how to satisfy their preferences.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          {% include 'core/inc/svg.html' with id='reader-revenue' size='48px' class='dmb-tile-carousel__tile-icon' %}
          <h4 class="h-c-tile__headline">
            Reader revenue
          </h4>
          <p class="h-c-tile__description">
            Drive financial value directly from readers, whether through subscriptions or net new revenue opportunities.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          {% include 'core/inc/svg.html' with id='ad-revenue' size='48px' class='dmb-tile-carousel__tile-icon' %}
          <h4 class="h-c-tile__headline">
            Advertising revenue
          </h4>
          <p class="h-c-tile__description">
            Reach the right audience and deliver high-impact ad campaigns that do not diminish the reader experience.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>



{% comment %}
<div class="h-c-tile h-c-tile--border h-c-tile--hoverable h-c-tile--small-height">
  <div class="h-c-tile__header h-c-tile__header--icon">
    <img class="h-c-tile__icon" src="/assets/hercules-docs/img/heart.png" alt="">
  </div>
  <div class="h-c-tile__body">
    <h4 class="h-c-tile__headline">
      Icon tile
    </h4>
    <p class="h-c-tile__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="h-c-tile__links">
      <li class="h-c-tile__link h-c-tile__link--text"><span class="h-c-link">Download</span></li>
    </ul>
  </div>
</div>
{% endcomment %}
