// Fileoverview:
// Font-faces definitions.
// Using remote src to make sure we can load fonts in the survey when
// developing.

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: $tr-font-style-normal;
  src: url('https://test-dot-potato-trev-test.appspot.com/static/fonts/google-sans/GoogleSans-Regular.ttf');
  // src: url('../fonts/google-sans/GoogleSans-Medium.ttf');

  // TODO: add other font extensions
  // src: local('?'),
  //     url("GoogleSans-Medium.woff") format("woff"),
  //     url("GoogleSans-Medium.otf") format("opentype"),
  //     url("GoogleSans-Medium.svg") format("svg");
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: $tr-font-weight-bold;
  src: url('https://test-dot-potato-trev-test.appspot.com/static/fonts/google-sans/GoogleSans-Bold.ttf');
  // src: url('../fonts/google-sans/GoogleSans-Bold.ttf');

  // TODO: add other font extensions
  // src: local('?'),
  //     url("GoogleSans-Bold.woff") format("woff"),
  //     url("GoogleSans-Bold.otf") format("opentype"),
  //     url("GoogleSans-Bold.svg") format("svg");
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: $tr-font-weight-medium;
  src: url('https://test-dot-potato-trev-test.appspot.com/static/fonts/google-sans/GoogleSans-Medium.ttf');
  // src: url('../fonts/google-sans/GoogleSans-Medium.ttf');

  // TODO: add other font extensions
  // src: local('?'),
  //     url("GoogleSans-Bold.woff") format("woff"),
  //     url("GoogleSans-Bold.otf") format("opentype"),
  //     url("GoogleSans-Bold.svg") format("svg");
}
