//Fileoverview:
// Type definitions.

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $tr-font-color-dark;
  font-family: $tr-font-family;
  font-size: $tr-font-size-default;
}


// Specic overrides for Qualtrics
#RestoredResponseBar, .Skin, .Skin .yui-skin-sam .yui-calcontainer, .Skin button, .Skin input, .Skin select, .Skin textarea { // sass-lint:disable-line single-line-per-selector no-ids
  font-family: $tr-font-family;
}

// Specic overrides for Qualtrics
#QMenu ul li a.MenuItemLink { // sass-lint:disable-line single-line-per-selector no-ids
  font-family: $tr-font-family;
}


.tr-display,
h1,
.tr-alpha,
h2,
.tr-beta,
h3,
.tr-gamma {
  @include spacing(mt, 1);
  @include spacing(mb, 2);
}



.tr-display {
  font-size: $tr-display-font-size;
  font-weight: $tr-display-font-weight;
  line-height: $tr-display-line-height;
}

h1,
.tr-alpha {
  font-size: $tr-h1-font-size;
  font-weight: $tr-h1-font-weight;
  line-height: $tr-h1-line-height;
}

h2,
.tr-beta {
  font-size: $tr-h2-font-size;
  font-weight: $tr-h2-font-weight;
  line-height: $tr-h2-line-height;
}

h3,
.tr-gamma {
  font-size: $tr-h3-font-size;
  font-weight: $tr-h3-font-weight;
  line-height: $tr-h3-line-height;
}

.tr-p-leading {
  font-size: $tr-paragraph-lead-font-size;
  line-height: $tr-paragraph-lead-line-height;
}

p,
.tr-p-leading{
  @include spacing(mb, 1);
  margin-top: 0;
}

.tr-color-light {
  color: $tr-font-color-light;
}

