{% load staticfiles %}
{% load static_rev %}
{% load angular %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head ng-csp>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-115330216-1', 'auto');
      ga('set', 'referrer', document.referrer.split('?')[0]);
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static_rev 'css/advertisers.css' %}">
    {% if debug %}
      <link rel="stylesheet" href="/node_modules/angular/angular-csp.css">
      <script src="/node_modules/google-closure-library/closure/goog/base.js"></script>
      <script src="{% static 'js/deps.js' %}"></script>
      <script>goog.require('dmb.detect')</script>
    {% else %}
      <script src="{% static_rev 'js/detect.min.js' %}"></script>

      {% comment %} Deferred scripts {% endcomment %}
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" defer></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js" defer></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js" defer></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js" defer></script>

      <!-- Third party -->
      <script src="{% static_rev 'js/main.min.js' %}" defer></script>
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Google+Sans:400,500,200|Product+Sans:400&lang=en" rel="stylesheet">

    <title>{% trans "Digital Maturity Benchmark" %}</title>
</head>
<body class="{% block body_class %}{% endblock %}" angular-app>
  {% csrf_token %}

  {% block header %}
    {% include 'public/inc/global/header.html' %}
  {% endblock header %}
  <div id="jump-content">
    {% block main %}
    {% endblock main %}
  </div>

{% block footer %}
{% include 'public/inc/global/footer.html' %}
{% endblock footer %}

<div style="display: none">
  {% include 'core/inc/_svg.inc.html' %}
  {% include 'core/inc/_dmb-svgs.inc.html' %}
</div>
<div id="bootstrap-data" class="ng-non-bindable" data-bootstrap-data="{% block bootstrap_data %}{% endblock %}" data-tenant="{{ tenant|ng_mark_safe }}" data-content-data="{{ content_data|ng_mark_safe }}"></div>

{% if debug %}

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

  <script src="/node_modules/clipboard/dist/clipboard.js"></script>
  <script src="/node_modules/ngclipboard/dist/ngclipboard.js"></script>
  <script src="{% static 'js/templates.js' %}" ></script>
  <script >goog.require('dmb.app')</script>
{% endif %}
</body>
</html>
