{% extends 'public/base.html' %}
{% load i18n %}

{% block body_class %}dmb-report{% endblock %}

{% block main %}
<main id="dmb-report" dmb-report ng-cloak>
  <div ng-if="reportCtrl.overallResult">
    {% include 'public/ads/report/report-intro.inc.html' %}
    {% include 'public/ads/report/report-hero.inc.html' %}
    {% include 'public/ads/report/report-overall.inc.html' %}
    {% include 'public/ads/report/report-dimensions.inc.html' %}
    {% include 'public/inc/report/report-footer.inc.html' %}
  </div>

  {% if debug %}
    {% include 'public/inc/report/report-debug.inc.html' %}
  {% endif %}
</main>

<div class="dmb-report-page__appendix dmb-h-hidden--screen">
  <h2 class="h-c-headline h-c-headline--three">
    {% trans "Appendix" %}
  </h2>
</div>

{% include 'public/ads/shared/maturity-side-panel.inc.html' %}
{% include 'public/inc/report/side-panels/levels-side-panel.inc.html' %}
{% include 'public/ads/report/industry-side-panel.inc.html' %}
{% include 'public/inc/report/side-panels/dimensions-side-panel.inc.html' %}

{% endblock %}

{% block footer %}
  {% include 'public/inc/global/footer.html' with footerClass="dmb-h-hidden--print" footerAttribute="ng-cloak" %}
{% endblock footer %}
