{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "env": {
    "browser": true,
    "node": false,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "goog": true,
    "google": false,
    "angular": true,
    "glue": true,
    "exports": true,
    "dmb": true
  },
  "rules": {
    "max-len": [2, {
      "code": 120,
      "tabWidth": 2,
      "ignoreUrls": true,
      "ignorePattern": "^goog\\.(module|require)"
    }]
  }
}
