.dmb-partnership-with-bcg {
  color: $h-gm-grey-700;

  p {
    font-family: $h-font-family-google-sans;
    font-size: 14px;
    font-weight: $h-font-weight-medium;
    letter-spacing: .04em;
    padding-bottom: 5px;
  }

  img {
    height: 44px;
  }

  &--invert {
    color: $dmb-light-text-color;
  }
}
