// Map colors using http://www.color-blindness.com/color-name-hue/
// with $dmb-color-<hue>-<color name>

$dmb-color-black-russian: #202124;
$dmb-color-grey-chateau: #9aa0a6;
$dmb-color-blue-charade: #3c4043;
$dmb-color-grey-athens: #d9dadb;
$dmb-color-grey-aluminium: #80868b;
$dmb-color-grey-charcoal: #4a4a4a;
$dmb-color-grey-shuttle: #5f6368;
$dmb-color-grey-light: #d6d6d6;
$dmb-color-grey-suva: #888;
$dmb-color-grey-gainsboro: #dcdcdc;
$dmb-color-grey-gainsborough: #ddd;
$dmb-color-grey-very-light: #c7c7c7;
$dmb-color-grey-zircon: #e0e4e5;


$dmb-color-blue-alice: #f7faff;
$dmb-color-blue-navy: #346df1;
$dmb-color-blue-denim: #1967d2;
$dmb-color-blue-cornflower: #4285f4;
$dmb-color-blue-denim-2: #185abc;
$dmb-color-blue-solitude: #f1f3f4;
$dmb-color-blue-lavender: #d2e3fc;
$dmb-color-blue-manatee: #8e949a;

$dmb-color-red-cinnabar: #ea4335;
$dmb-color-red-pale-pink: #fce8e6;

$dmb-color-yellow-selective: #fbbc04;
$dmb-color-yellow-forget-me-not: #fef7e0;

$dmb-color-green-ecalyptus: #34a853;
$dmb-color-green-frosted-mint: #e6f4ea;

$dmb-text-color: $dmb-color-black-russian;
$dmb-light-text-color: #fff;
