strong {
  font-weight: 500;
}

.h-c-headline {
  color: inherit;
  hyphens: none;
  page-break-inside: avoid;
  @include dmb-resp-prop(margin-bottom, 20px, 30px);
}

.h-c-eyebrow {
  @include dmb-resp-prop(margin-bottom, 20px, 30px, 40px);

  &--underlined {
    border-bottom: 5px solid $dmb-color-grey-zircon;
    display: inline-block;
    padding-bottom: 20px;
  }
}

.h-c-header__product-logo-text {
  @include dmb-mq($until: tablet) {
    font-size: 16px;
  }
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

.h-c-inline-link {
  border: 0;
  font-weight: $h-font-weight-medium;
}

.dmb-header {
  @include print-styles {
    display: none;
  }
}

.h-c-button {
  height: auto;
  text-align: center;
}

.h-c-button.h-c-button--flat {
  line-height: inherit;
}

.h-c-table th {
  word-break: keep-all;
}

.h-c-inline-link {
  font-size: 1em;
  vertical-align: bottom;
}

p > a {
  &,
  &:visited {
    border-bottom: 0;
  }
}