.h-c-headline {
  hyphens: none;
  page-break-inside: avoid;
}

.glue-app-supported,
.glue-app-ready {
  .h-c-header__bar {
    @include print-styles {
      position: absolute;
    }
  }
}

.h-c-page {
  @include print-styles {
    max-width: none;
    padding-left: $dmb-print-gutter;
    padding-right: $dmb-print-gutter;
  }
}

.h-c-header {
  @include print-styles {
    &__bar {
      box-shadow: none;
    }

    &.h-is-wholly-scrolled &__bar {
      transform: none !important;
    }
  }
}

.h-c-button--print {
  @extend .h-c-button--primary;
  @extend .h-c-button--reversed;

  background: transparent;
  color: $h-button-primary-bg-color !important;
  border-color: $h-button-primary-bg-color !important;

  &:hover,
  &:focus {
    color: $h-white !important;
    background-color: $h-button-primary-bg-color !important;
  }
}
