strong {
  font-weight: 500;
}

.h-c-headline {
  hyphens: none;
  page-break-inside: avoid;
  @include dmb-resp-prop(margin-bottom, 20px, 30px);
}

.h-c-eyebrow {
  border-bottom: 5px solid $dmb-color-grey-zircon;
  display: inline-block;
  padding-bottom: 20px;
}
