// TENANTS VARIABLES
$tenants: (
  ads: (
    primary-color: $dmb-text-color,
    progress-grid-switch-bp: 800px,
    levels: (
      0: (
        color: $h-gm-blue-500
      ),
      1: (
        color: $dmb-color-blue-royal2
      ),
      2: (
        color: $dmb-color-blue-egyptian
      ),
      3: (
        color: $dmb-color-blue-dark-cerulean
      )
    )
  ),
  news: (
    primary-color: $dmb-color-green-eucalyptus,
    progress-grid-switch-bp: 800px,
    levels: (
      0: (
        color: $dmb-color-green-eucalyptus
      ),
      1: (
        color: $dmb-color-green-salem
      ),
      2: (
        color: $dmb-color-green-jewel
      ),
      3: (
        color: $dmb-color-green-jewel-dark
      )
    )
  ),
  retail: (
    primary-color: $dmb-text-color,
    progress-grid-switch-bp: 800px,
    levels: (
      0: (
        color: $dmb-color-green-eucalyptus
      ),
      1: (
        color: $dmb-color-green-salem
      ),
      2: (
        color: $dmb-color-green-jewel
      ),
      3: (
        color: $dmb-color-green-jewel-dark
      )
    )
  ),
  cloud: (
    primary-color: $dmb-text-color,
    progress-grid-switch-bp: 800px,
    levels: (
      0: (
        color: $h-gm-yellow-600
      ),
      1: (
        color: $h-gm-yellow-700
      ),
      2: (
        color: $h-gm-yellow-800
      ),
      3: (
        color: $h-gm-yellow-900
      )
    )
  )
);

// Set primary heading color for each tenant
@each $key, $value in $tenants {
  #dmb-#{$key} { // sass-lint:disable-line no-ids
    .dmb-primary-heading {
      color: map-get($value, primary-color);
    }
  }
}
