// TENANTS VARIABLES
$tenants: (
  news: (
    primary-color: $dmb-color-green-eucalyptus,
    grid-switch-bp: 800px,
    levels: (
      0: (
        color: $dmb-color-green-eucalyptus
      ),
      1: (
        color: $dmb-color-green-salem
      ),
      2: (
        color: $dmb-color-green-jewel
      ),
      3: (
        color: $dmb-color-green-jewel-dark
      )
    )
  ),
  retail: (
    primary-color: $h-gm-red-500,
    grid-switch-bp: 1024px,
    levels: (
      0: (
        color: $h-gm-red-500
      ),
      1: (
        color: $h-gm-red-600
      ),
      2: (
        color: $h-gm-red-700
      ),
      3: (
        color: $h-gm-red-800
      ),
      4: (
        color: $h-gm-red-900
      )
    )
  )
);

// Set primary heading color for each tenant
@each $key, $value in $tenants {
  #dmb-#{$key} { // sass-lint:disable-line no-ids
    .dmb-primary-heading {
      color: map-get($value, primary-color);
    }
  }
}
