.dmb-bg-light-grey {
  background-color: $dmb-background-grey-color;
}

.dmb-h-visible {
  display: block !important;
}

.dmb-h-hidden {
  display: none !important;

  @include print-styles {
    &--print {
      display: none !important;
    }
  }

  @include screen-styles {
    &--screen {
      display: none !important;
    }
  }
}

.dmb-body--has-modal {
  overflow: hidden;
}

.dmb-h-mb--small {
  margin-bottom: $dmb-margin-small;
}

.dmb-h-mb--medium {
  margin-bottom: $dmb-margin-medium;
}

.dmb-h-mb--big {
  margin-bottom: $dmb-margin-big;
}

.dmb-h-alt-font {
  font-family: $dmb-alt-font-family;
}

.dmb-print-page-header {
  @include print-styles {
    border-bottom: 1px solid $dmb-heading-border-color !important;
    font-size: 40px !important;
  }
}
