.dmb-bg-light-grey {
  background-color: $dmb-background-grey-color;
}

.dmb-h-visible {
  display: block !important;
}

.dmb-h-hidden {
  display: none !important;
}

.dmb-body--has-modal {
  overflow: hidden;
}

.dmb-h-mb--small {
  margin-bottom: $dmb-margin-small;
}

.dmb-h-mb--medium {
  margin-bottom: $dmb-margin-medium;
}

.dmb-h-mb--big {
  margin-bottom: $dmb-margin-big;
}

.dmb-h-google-sans {
  font-family: 'Google Sans';
}
