.dmb-bg-light-grey {
  background-color: #f4f4f4;
}

.dmb-h-visible {
  display: block !important;
}

.dmb-h-hidden {
  display: none !important;
}

.dmb-body--has-modal {
  overflow: hidden;
}

.dmb-h-mb--small {
  margin-bottom: $dmb-margin-small;
}

.dmb-h-mb--medium {
  margin-bottom: $dmb-margin-medium;
}

.dmb-h-mb--big {
  $dmb-margin-big: $dmb-margin-big;
}
