// COLORS
// Name colors using http://www.color-blindness.com/color-name-hue/
// with $dmb-color-<hue>-<color-name>
// if color name contains the hue this can be omitted
$dmb-color-black-russian: #202124;
$dmb-color-grey-mid: #676c72;
$dmb-color-grey-shuttle: #5f6368;
$dmb-color-grey-chateau: #959ca5;
$dmb-color-grey-zircon: #dfe1e5;
$dmb-color-blue-solitude: #f1f3f4;

$dmb-color-blue-royal: #1a73e8;
$dmb-color-blue-royal2: #255FDB;
$dmb-color-egyptian: #0E3EC1;
$dmb-color-dark-cerulean: #053975;

$dmb-color-green-eucalyptus: #34a853;
$dmb-color-green-salem: #1e8e3e;
$dmb-color-green-jewel: #0d7533;
$dmb-color-green-jewel-dark: #0a4e22;

$dmb-color-red-fire-engine: #d01f1a;

$dmb-text-color: $dmb-color-black-russian;
$dmb-light-text-color: #fff;
$dmb-interactive-color: $dmb-color-blue-royal;


// VARIABLES
$dmb-border-radius: 2px;
$dmb-alt-font-family: $h-font-family-google-sans;


// Vertical spacing
$dmb-vertical-spacings: (
  s: (mobile: 20px, tablet: 20px, desktop: 30px),
  m: (mobile: 40px, tablet: 50px, desktop: 60px),
  l: (mobile: 60px, tablet: 80px, desktop: 120px)
);

// Animations

$dmb-easing-cubic: cubic-bezier(.4, 0, .2, 1);
$dmb-transition-duration: .15s;
$dmb-progress-trans-time: 1.5s;
$dmb-progress-trans-fn: ease-in-out;
