{% extends "./base.html" %}
{% load staticfiles %}
{% load angular %}
{% block main %}
  <div class="dmb-error-page">
    <div class="h-c-page">
      <div class="h-c-grid">
        <div class="h-c-grid__col h-c-grid__col--6">
          {% djangoblock %}
          <div class="dmb-error-page__content">
            <h1 class="dmb-error-page__title h-c-headline h-c-headline--display-one h-u-mb-l">
              {{title}}
            </h1>
            <h2 class="dmb-error-page__subtitle h-c-headline h-c-headline--headline-three h-u-mb-std">
              {{subtitle}}
            </h2>
            <p class="dmb-error-page__text h-c-headline h-c-headline--headline--four">
              {{text}}
            </p>
            <a href="/" class="dmb-error-page__cta h-c-button h-c-button--primary">
              {{cta}}
            </a>
          </div>
          {% enddjangoblock %}
        </div>
        <div class="dmb-error-page__img-col h-c-grid__col h-c-grid__col--6">
          <!-- broken link svg -->
          <svg viewBox="0 0 280 252" xmlns="http://www.w3.org/2000/svg">
            <path d="M210 56h-56v26.6h56c23.94 0 43.4 19.46 43.4 43.4 0 20.02-13.72 36.82-32.34 41.72l20.44 20.44C264.32 176.54 280 153.3 280 126c0-38.64-31.36-70-70-70zm-14 56h-30.66l28 28H196v-28zM0 17.78l43.54 43.54C18.06 71.68 0 96.74 0 126c0 38.64 31.36 70 70 70h56v-26.6H70c-23.94 0-43.4-19.46-43.4-43.4 0-22.26 16.94-40.6 38.64-42.98L94.22 112H84v28h38.22L154 171.78V196h24.22l56.14 56L252 234.36 17.78 0 0 17.78z"
              fill="#DADADA" fill-rule="nonzero" />
          </svg>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
