{% extends 'public/base.html' %}
{% load staticfiles %}
{% load angular %}

{# Marking this safe because is not rendered by django but added as a data attribute and rendered by Angular as unsafe #}
{% block bootstrap_data %}{{bootstrap_data|ng_mark_safe}}{% endblock %}

{% block main %}
<div class="dmb-reports-admin" dmb-reports-admin ng-cloak>
  <section class="dmb-u-grey-bg dmb-u-p-t-m dmb-u-p-b-m">
    <div class="h-c-page">
      <div class="h-c-eyebrow">
        {{ tenant|ng_mark_safe }}
      </div>
      <h1 class="h-c-headline h-c-headline--two h-u-font-weight-medium">
        {% if tenant|ng_mark_safe == 'ads' %}Digital {% else %}Data {% endif %}
        Maturity Admin Dashboard
      </h1>

      <div class="h-c-grid">
        <div class="dmb-reports-admin__card dmb-card h-c-grid__col h-c-grid__col-l--8">
          <h2 class="h-c-headline h-c-headline--three">
            {% include 'core/inc/svg.html' with id='clipboard' inline=True %}Create survey
          </h2>
          <h3 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
            You can create a new survey in two ways:
          </h3>
          <div class="dmb-reports-admin__create-survey">
            <div class="dmb-reports-admin__create-survey-step">
              <h4 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium dmb-u-m-b-xs">
                Create a custom survey
              </h4>
              <p class="dmb-u-m-b-s">
                Create a custom survey for your client using the button below. You’ll be able to set the company name, industry and location.
              </p>
              <button
                  class="dmb-right-panel-trigger h-c-button h-c-button--primary"
                  dmb-side-panel-trigger="#dmb-create-survey">
                Create a new survey
              </button>
            </div>
            <div class="dmb-reports-admin__create-survey-step">
              <h4 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium dmb-u-m-b-xs">
                Send a referral link
              </h4>
              <p class="dmb-u-m-b-s">
                Send your survey referral link to allow clients to create their own unique survey. Any surveys created with this link will be associated with your account.
              </p>

              {% with url=create_survey_url|ng_mark_safe el=engagement_lead|ng_mark_safe %}
                {% include 'public/inc/global/copy-comp.inc.html' with id="referral-link" value=url|add:"#el="|add:el %}
              {% endwith %}

            </div>
          </div>
        </div>

        <div class="dmb-reports-admin__export dmb-reports-admin__card dmb-card h-c-grid__col h-c-grid__col-l--4">
          <h2 class="h-c-headline h-c-headline--three dmb-u-m-b-s">
            {% include 'core/inc/svg.html' with id='export' inline=True %}Export
          </h2>
          <h3 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium dmb-u-m-b-s">
            Export the data from all your surveys
          </h3>
          <p class="dmb-u-m-b-s">
            Your data will be saved as a Google Sheet so you can perform custom analyses. The link to the spreadsheet will be sent to your email address. This may take up to 5 minutes.
          </p>
          <div
              class="dmb-reports-admin__export-actions h-u-text-center"
              ng-controller="ExportReportsCtrl as exportsCtrl">

            <form
                action="{% url 'reports_export' slug|ng_mark_safe %}"
                method="post"
                name="export"
                ng-if="!exportsCtrl.exportSuccess && !exportsCtrl.exportError"
                ng-submit="exportsCtrl.export($event, '{{engagement_lead|ng_mark_safe}}')"
                novalidate>
              <button
                  class="h-c-button h-c-button--primary"
                  id="dmb-export-btn"
                  type="submit">
                 Data export requested
              </button>
            </form>

            <div
                class="dmb-reports-admin__export-sucess"
                ng-if="exportsCtrl.exportSuccess">
              {% include 'core/inc/svg.html' with id='success' size='46px' only %}
              <h3 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium dmb-u-m-b-xs">
                Export sent
              </h3>
              <p class="h-c-footnote h-u-font-weight-medium">
                This may take up to 5 minutes. Please check your email inbox.
              </p>
            </div>

            <div
                class="dmb-reports-admin__export-error"
                ng-if="exportsCtrl.exportError">
              {% include 'core/inc/svg.html' with id='error' size='46px' only %}
              <h3 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium dmb-u-m-b-xs">
                Export error
              </h3>
              <p class="h-c-footnote h-u-font-weight-medium">
                Sorry there was an error please
                <button
                    class="h-c-button h-c-button--flat h-c-footnote h-u-font-weight-medium"
                    ng-click="exportsCtrl.resetExport()">
                      try again
                </button>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <div
      dmb-side-panel
      class="dmb-side-panel dmb-side-panel--narrow dmb-side-panel--right"
      id="dmb-create-survey">
    <button
        class="dmb-side-panel__fab dmb-fab"
        dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>

    <div
        class="dmb-side-panel__inner"
        ng-controller="RegistrationCtrl as registrationCtrl">
      <div ng-if="!registrationCtrl.link">
        <h2 class="h-c-headline h-c-headline--three h-u-mt-xl h-u-mb-l">
          Create a new survey
        </h2>
        <p>
            Fill in these details to create a custom survey link for a specific company:
        </p>
        <form
            name="registration"
            ng-init="registrationCtrl.engagementLead='{{engagement_lead|ng_mark_safe}}'"
            ng-submit="registrationCtrl.submit()"
            novalidate autocomplete="off">
          <div class="input-wrp">

            <div class="dmb-input-wrp">
              <input
                  class="dmb-input"
                  id="tenant"
                  name="tenant"
                  ng-init="registrationCtrl.tenant='{{tenant|ng_mark_safe}}'"
                  ng-model="registrationCtrl.tenant"
                  required
                  type="hidden"
                  value="{{tenant|ng_mark_safe}}">
            </div>

            <div class="dmb-input-wrp">
              <label for="companyName">
                {% if tenant|ng_mark_safe == 'ads' %}Organisation {% else %}Organization {% endif %} name:
              </label>
              <input
                  class="dmb-input"
                  name="companyName"
                  ng-model="registrationCtrl.companyName"
                  placeholder="{% if tenant|ng_mark_safe == 'ads' %}organisation {% else %}organization {% endif %} name"
                  required
                  type="text">
            </div>

            {% if tenant|ng_mark_safe == 'ads' %}
              <div class="dmb-input-wrp">
                <label for="accountId">Greentea ID (division):</label>
                <input
                    class="dmb-input"
                    id="accountId"
                    name="accountId"
                    ng-model="registrationCtrl.accountId"
                    placeholder="Enter Greentea ID (division)"
                    required
                    type="text">
                <div class="h-c-footnote dmb-u-m-t-s">
                  This can be changed at any time from the Admin Dashboard.
                </div>
              </div>

              <div class="dmb-input-wrp">
                <label for="industry">Industry:</label>
                <select
                    class="dmb-input"
                    id="industry"
                    name="industry"
                    ng-model="registrationCtrl.industry"
                    required>
                  <option
                      disabled
                      selected
                      value="">
                    Select an industry
                  </option>
                    {% for i_key, i_text in industries %}
                      <option value="{{i_key|ng_mark_safe}}">
                        {{i_text|ng_mark_safe}}
                      </option>
                    {% endfor %}
                </select>
              </div>
            {% endif %}

            {% if tenant|ng_mark_safe == 'news' %}
              {% comment %} TODO: use news industry here {% endcomment %}
              <div class="dmb-input-wrp">
                <input
                    id="prodId"
                    name="industry"
                    ng-init="registrationCtrl.industry='ic-bnpj'"
                    type="hidden"
                    value="ic-bnpj">
              </div>
            {% endif %}
            {% if tenant|ng_mark_safe == 'retail' %}
              <div class="dmb-input-wrp">
                  <input
                      id="prodId"
                      name="industry"
                      ng-init="registrationCtrl.industry='rt-o'"
                      type="hidden"
                      value="rt-o">
              </div>
            {% endif %}

            <div class="dmb-input-wrp">
              <label for="country">
                Country:
              </label>
              <select
                  class="dmb-input"
                  id="country"
                  name="country"
                  ng-model="registrationCtrl.country"
                  required>
                <option
                    disabled
                    selected
                    value="">
                  Select a country
                </option>
                  {% for c_key, c_text in countries %}
                    <option value="{{c_key|ng_mark_safe}}">
                      {{c_text|ng_mark_safe}}
                    </option>
                  {% endfor %}
              </select>
            </div>

            <div
                class="input-wrp__error"
                ng-show="
                    !registration.companyName.$pristine &&
                    registration.companyName.$error.required">
              This field is required.
            </div>

          </div>

          <button
              class="h-c-button h-c-button--primary"
              ng-disabled="!registration.$valid">
            Create assessment
          </button>

          <div
              class="input-wrp__error"
              ng-hide="!registrationCtrl.serverError">
            Oops, something went wrong!
          </div>

        </form>
      </div>

      <div ng-if="registrationCtrl.link">
        <h2 class="h-c-headline h-c-headline--three h-c-headline--three h-u-mt-xl h-u-mb-l">
          Unique survey created
        </h2>
        <p>
          Your custom survey link is below.
          Send this link to your client so that they can get started.
        </p>

        {% include 'public/inc/global/copy-comp.inc.html' with id="survey-link" value='{[ registrationCtrl.link ]}' %}

        <button
            class="h-c-button h-c-button--primary"
            ng-click="registrationCtrl.reset()">
          Create another assessment
        </button>

        <p class="h-c-footnote">
          Please reload the page to see the new survey in the list.
        </p>
      </div>
    </div>
  </div>

  <div class="dmb-table h-c-table__overflowcontainer">
    <table
        class="h-c-table h-c-table--datatable h-c-table--datatable-altrows
        {% if tenant|ng_mark_safe != 'ads' %} glue-table-sort{% endif %}"
        role="table"
        summary="List of reports"
        width="100%"
        {% if tenant|ng_mark_safe != 'ads' %}
          data-glue-table-sort-ascending-text="ascending"
          data-glue-table-sort-descending-text="descending"
          data-glue-table-sort-unsorted-text="unsorted"
        {% endif %}>
      <thead>
        <tr role="row">
          <th
              role="columnheader"
              scope="col"
              {% if tenant|ng_mark_safe != 'ads' %}
                data-glue-table-sort-type="alpha"
                title="Sort by organisation name alphabetically"
              {% endif %}>
            <span>
              {% if tenant|ng_mark_safe == 'ads' %}Organisation {% else %}Organization {% endif %}
              name
            </span>
          </th>
          {% if tenant|ng_mark_safe == 'ads' %}
            <th
                role="columnheader"
                scope="col">
              <span>
                Greentea ID
              </span>
            </th>
          {% endif %}
          <th
              role="columnheader"
              scope="col"
              {% if tenant|ng_mark_safe != 'ads' %}
                data-glue-table-sort-type="datetime-custom"
                title="Sort by date created chronologically"
              {% endif %}>
            <span>
              Date created
            </span>
          </th>
          <th
              role="columnheader"
              scope="col"
              {% if tenant|ng_mark_safe != 'ads' %}
                data-glue-table-sort-type="numeric"
                title="Sort by survey completions numerically"
              {% endif %}>
            <span>
              Survey completions
            </span>
          <th
              role="columnheader"
              scope="col">
            <span>
              Survey link
            </span>
          </th>
          <th
              role="columnheader"
              scope="col">
            <span>
              Report link
            </span>
          </th>
          <th
              role="columnheader"
              scope="col">
            <span>
              Details
            </span>
          </th>
          <th
              role="columnheader"
              scope="col"
              {% if tenant|ng_mark_safe != 'ads' %}
                data-glue-table-sort-type="alpha"
                title="Sort by industry"
              {% endif %}>
            <span>
              Industry
            </span>
          </th>
          <th
              role="columnheader"
              scope="col"
              {% if tenant|ng_mark_safe != 'ads' %}
                data-glue-table-sort-type="alpha"
                title="Sort by country"
              {% endif %}>
            <span>
              Country
            </span>
         </th>
        </tr>
      </thead>
      <tbody>
        <tr
            data-index={[$index]}
            ng-class="{
                'dmb-table__expanded-row': reportAdminCtrl.expandedRows[$index],
                'dmb-table__editing-account-row': reportAdminCtrl.rowToEdit == $index }"
            ng-repeat="survey in reportAdminCtrl.surveys"
            role="row">

          <td
              class="dmb-table__org-td"
              role="rowheader"
              title="{[survey.company_name]}">
            {[survey.company_name]}
          </td>

          {% if tenant|ng_mark_safe == 'ads' %}
            <td
                role="rowheader"
                title="{[survey.account_id]}">
              <div class="dmb-table__account-wrapper">
                &#x200b;
                <span class="dmb-table__account-text">
                  {[survey.account_id]}
                </span>
                <button
                    aria-label="Edit Greentea ID (division)"
                    class="dmb-table__account-edit-btn h-c-button h-c-button--flat"
                    ng-click="reportAdminCtrl.editAccountID($event, $index)"
                    ng-disabled="reportAdminCtrl.submitting">
                  {% include 'core/inc/svg.html' with id='edit' size='20px' only %}
                </button>

                <form
                    class="dmb-table__account-form"
                    data-url="/api/survey/{[survey.sid]}/"
                    method="put"
                    ng-submit="reportAdminCtrl.submitAccountIDEdit($event,$index)">
                  <input
                      aria-label="Enter Greentea ID (division)"
                      class="dmb-table__account-input"
                      name="account-id"
                      ng-model="reportAdminCtrl.newAccountIds[$index]"
                      type="text">

                  <button
                      aria-label="Submit Greentea ID (division) change"
                      class="dmb-table__account-submit h-c-button h-c-button--flat"
                      ng-if="!reportAdminCtrl.submitting && reportAdminCtrl.newAccountIds[$index] !== survey.account_id"
                      type="submit">
                    {% include 'core/inc/svg.html' with id='success' size='24px' only %}
                  </button>

                  <button
                      aria-label="Cancel Greentea ID (division) change"
                      class="dmb-table__account-cancel h-c-button h-c-button--flat"
                      type="button"
                      ng-click="reportAdminCtrl.cancelAccountIDEdit()"
                      ng-if="!reportAdminCtrl.submitting">
                    {% include 'core/inc/svg.html' with id='error' size='24px' only %}
                  </button>

                  <div class="dmb-spinner" ng-if="reportAdminCtrl.submitting"></div>

                </form>
              </div>
            </td>
          {% endif %}

          <td
              ng-attr-title="{[survey.created_at|date:'d/M/yyyy hh:mm']}"
              role="gridcell">
            {[survey.created_at|date:"d/M/yyyy"]}
            {% comment %}
              This is used by tablesort-utility.js module to sort by date, please update it if this changes
            {% endcomment %}
            <span class="dmb-table__date">
              utc={[survey.created_at]}
            </span>
          </td>

          <td role="gridcell">
            {[ survey.survey_results.length ]}
            <button
                class="dmb-table__history-btn h-c-button h-c-button--flat"
                ng-if="survey.survey_results.length > 1"
                ng-click="reportAdminCtrl.viewHistory($index)">
              View history
              <svg role="img" class="h-c-icon">
                <use xlink:href="#mi-chevron"></use>
              </svg>
            </button>
            <div
                class="dmb-table__subcell dmb-table__subcell--first"
                ng-repeat="r in survey.survey_results">
              {[r.started_at|date:"d/M/yyyy hh:mm"]}
            </div>
          </td>

          <td role="gridcell">
            <a
                class="h-c-button h-c-button--flat"
                href="{[survey.link]}"
                target="_blank">
              Survey
            </a>
          </td>

          <td role="gridcell">
            <a
                class="h-c-button h-c-button--flat dmb-table__top-report-cell"
                ng-if="survey.survey_results.length > 0"
                ng-href="{[survey.last_survey_result_link]}"
                target="_blank">
              Report
            </a>&nbsp;
            <span
                ng-if="survey.survey_results.length == 0">
              -
            </span>
            <div
                class="dmb-table__subcell"
                ng-repeat="r in survey.survey_results">
              <a
                  class="h-c-button h-c-button--flat"
                  ng-href="{[r.report_link]}"
                  target="_blank">
                Report
              </a>
            </div>
          </td>

          <td role="gridcell">
            <a
                class="h-c-button h-c-button--flat dmb-table__top-report-cell"
                ng-href="{[survey.last_survey_result.detail_link]}"
                ng-if="survey.last_survey_result.detail_link"
                target="_blank">
              Details
            </a>&nbsp;
            <span ng-if="!survey.last_survey_result.detail_link">
              -
            </span>
            <div
                class="dmb-table__subcell"
                ng-repeat="r in survey.survey_results">
              <a
                  class="h-c-button h-c-button--flat"
                  ng-href="{[r.detail_link]}"
                  ng-if="r.detail_link"
                  target="_blank">
                Details
              </a>
              <span ng-if="!r.detail_link">
                -
              </span>
            </div>
          </td>

          <td
              class="dmb-table__ind-td"
              ng-attr-title="{[survey.industry_name]}"
              role="gridcell">
                {[survey.industry_name]}
          </td>

          <td role="gridcell">
            {[survey.country_name]}
          </td>

        </tr>
      </tbody>
    </table>
    <div class="glue-js-table__caption"></div>
  </div>

  <div
      class="dmb-u-m-t-m h-c-grid"
      ng-if="
          reportAdminCtrl.bootstrapData.previous ||
          reportAdminCtrl.bootstrapData.next">
    <div class="h-c-grid__col h-c-grid__col--6">
      <a
          class="h-c-button h-c-button--primary"
          href="{[reportAdminCtrl.bootstrapData.previous]}"
          ng-if="reportAdminCtrl.bootstrapData.previous">
        Prev Page
      </a>
    </div>
    <div class="h-c-grid__col h-c-grid__col--6 h-u-text-right">
      <a
          class="h-c-button h-c-button--primary"
          href="{[reportAdminCtrl.bootstrapData.next]}"
          ng-if="reportAdminCtrl.bootstrapData.next">
        Next Page
      </a>
    </div>
  </div>


</div>
{% endblock %}
