{% extends "./base.html" %}
{% load staticfiles %}

{% block body %}
<section class="tr-report wrapper container-fluid">
  <div class="row">
      <div class="col-xs-12">
        <h1 class="tr-alpha">
          Report for {{ company_name }}
        </h1>
        <dl>
          <dt> DMB</dt>
          <dd> {{ DMB|floatformat:2 }} </dd>
          <dt> DMB for ads</dt>
          <dd> {{ DMBd.ads|floatformat:2 }} </dd>
          <dt> DMB for access</dt>
          <dd> {{ DMBd.access|floatformat:2 }} </dd>
          <dt> DMB for automation</dt>
          <dd> {{ DMBd.automation|floatformat:2 }} </dd>
          <dt> DMB for activation</dt>
          <dd> {{ DMBd.activation|floatformat:2 }} </dd>
          <dt> DMB for analysis</dt>
          <dd> {{ DMBd.analysis|floatformat:2 }} </dd>
          <dt> DMB for audience</dt>
          <dd> {{ DMBd.audience|floatformat:2 }} </dd>
        </dl>
      </div>
  </div>
</section>

{% endblock %}
