{% extends "./base.html" %}
{% load staticfiles %}

{% block body %}
<section class="tr-report wrapper container-fluid">
  <div class="row">
      <div class="col-xs-12">
        <h1 class="tr-alpha">
          Report for {{ company_name }}
        </h1>
        <dl>
          <dt> DMB</dt>
          <dd> {{ DMB|floatformat:2 }} </dd>
          <dt> DMB for ads</dt>
          <dd> {{ DMBd.ads|floatformat:2 }} </dd>
          <dt> DMB for access</dt>
          <dd> {{ DMBd.access|floatformat:2 }} </dd>
          <dt> DMB for automation</dt>
          <dd> {{ DMBd.automation|floatformat:2 }} </dd>
          <dt> DMB for activation</dt>
          <dd> {{ DMBd.activation|floatformat:2 }} </dd>
          <dt> DMB for analysis</dt>
          <dd> {{ DMBd.analysis|floatformat:2 }} </dd>
          <dt> DMB for audience</dt>
          <dd> {{ DMBd.audience|floatformat:2 }} </dd>
        </dl>
      </div>
  </div>
</section>





<div class="dmb-report-page">
  <input type="text" class="demo-input">
  <button class="demo-button">Animate Progresses</button><br>

  <progress-circle class="dmb-progress-circle" data-progress="40">
    <svg width="158" height="158" viewBox="0 0 120 120">
      <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
    </svg>
    <div class="dmb-progress-circle__text">
      <p class="dmb-progress-circle__title">Emerging</p>
      <div class="dmb-progress-circle__values">
        <span class="dmb-progress-circle__result">1.6</span><span class="dmb-progress-circle__target">/<span class="dmb-progress-circle__target--value">4</span>
        </span>
      </div>
    </div>
  </progress-circle>

  <div class="dmb-hero">
    <h2>.hero</h2>
    <br>
    <progress-circle class="dmb-progress-circle" data-progress="72.5">
      <svg width="215" height="215" viewBox="0 0 120 120">
        <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
        <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      </svg>
      <div class="dmb-progress-circle__text">
        <p class="dmb-progress-circle__title">Emerging</p>
        <div class="dmb-progress-circle__values">
          <span class="dmb-progress-circle__result">1-2</span>
          </span>
        </div>
      </div>
    </progress-circle>
  </div>

  <progress-table class="dmb-progress-table">
    <div class="dmb-progress-table__col">
    </div>
    <div class="dmb-progress-table__col dmb-progress-table__labels">
      <h3 aria-hidden="true">Nascent</h3>
      <div class="dmb-progress-table__row dmb-progress-table__row--main" data-rating="1.1" aria-label="Your Company is Emerging">
        <div class="dmb-progress-table__label">
          <span class="dmb-progress-table__company">Potato</span>
          <span class="dmb-progress-table__rating" aria-label="Your company rating">1.1</span>
        </div>
      </div>
      <div class="dmb-progress-table__row dmb-progress-table__row--ind-avg" data-rating="1.2">
        <div class="dmb-progress-table__label">
          <!-- icon -->
          Industry average
          <span class="dmb-progress-table__rating" aria-label="industry average rating">1.2</span>
        </div>
      </div>
      <div class="dmb-progress-table__row dmb-progress-table__row--ind-best" data-rating="2.4">
        <div class="dmb-progress-table__label">
          <!-- icon -->
          Industry best
          <span class="dmb-progress-table__rating" aria-label="industry best rating">2.4</span>
        </div>
      </div>
    </div>
    <div class="dmb-progress-table__col">
      <h3 aria-hidden="true">Emerging</h3>
    </div>
    <div class="dmb-progress-table__col">
      <h3 aria-hidden="true">Connected</h3>
    </div>
    <div class="dmb-progress-table__col">
      <h3 aria-hidden="true">Multi-Moment</h3>
    </div>
  </progress-table>


  <section class="attribution">
    <h2>.attribution</h2>
    <progress-circle class="dmb-progress-circle" data-progress="20">
      <svg width="158" height="158" viewBox="0 0 120 120">
        <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
        <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      </svg>
      <div class="dmb-progress-circle__text">
        <p class="dmb-progress-circle__title">Emerging</p>
        <div class="dmb-progress-circle__values">
          <span class="dmb-progress-circle__result">1.5</span><span class="dmb-progress-circle__target">/<span class="dmb-progress-circle__target--value">4</span>
          </span>
        </div>
      </div>
    </progress-circle>
    <progress-table class="dmb-progress-table">
      <div class="dmb-progress-table__col">
      </div>
      <div class="dmb-progress-table__col dmb-progress-table__labels">
        <h3 aria-hidden="true">Nascent</h3>
        <div class="dmb-progress-table__row dmb-progress-table__row--main" data-rating="1.9" aria-label="Your Company is Emerging">
          <div class="dmb-progress-table__label">
            <span class="dmb-progress-table__company">Potato</span>
            <span class="dmb-progress-table__rating" aria-label="Your company rating">1.9</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-avg" data-rating="1.2">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry average
            <span class="dmb-progress-table__rating" aria-label="industry average rating">1.2</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-best" data-rating="2.4">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry best
            <span class="dmb-progress-table__rating" aria-label="industry best rating">2.4</span>
          </div>
        </div>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Emerging</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Connected</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Multi-Moment</h3>
      </div>
    </progress-table>
  </section>

  <section class="assets">
    <h2>.assets</h2>
    <progress-circle class="dmb-progress-circle" data-progress="25">
      <svg width="158" height="158" viewBox="0 0 120 120">
        <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
        <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      </svg>
      <div class="dmb-progress-circle__text">
        <p class="dmb-progress-circle__title">Emerging</p>
        <div class="dmb-progress-circle__values">
          <span class="dmb-progress-circle__result">1.6</span><span class="dmb-progress-circle__target">/<span class="dmb-progress-circle__target--value">4</span>
          </span>
        </div>
      </div>
    </progress-circle>
    <progress-table class="dmb-progress-table">
      <div class="dmb-progress-table__col">
      </div>
      <div class="dmb-progress-table__col dmb-progress-table__labels">
        <h3 aria-hidden="true">Nascent</h3>
        <div class="dmb-progress-table__row dmb-progress-table__row--main" data-rating="0.6" aria-label="Your Company is Emerging">
          <div class="dmb-progress-table__label">
            <span class="dmb-progress-table__company">Potato</span>
            <span class="dmb-progress-table__rating" aria-label="Your company rating">0.6</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-avg" data-rating="1.2">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry average
            <span class="dmb-progress-table__rating" aria-label="industry average rating">1.2</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-best" data-rating="2.4">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry best
            <span class="dmb-progress-table__rating" aria-label="industry best rating">2.4</span>
          </div>
        </div>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Emerging</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Connected</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Multi-Moment</h3>
      </div>
    </progress-table>
  </section>

  <section class="audience">
    <h2>.audience</h2>
    <progress-circle class="dmb-progress-circle" data-progress="15">
      <svg width="158" height="158" viewBox="0 0 120 120">
        <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
        <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      </svg>
      <div class="dmb-progress-circle__text">
        <p class="dmb-progress-circle__title">Emerging</p>
        <div class="dmb-progress-circle__values">
          <span class="dmb-progress-circle__result">2.6</span><span class="dmb-progress-circle__target">/<span class="dmb-progress-circle__target--value">4</span>
          </span>
        </div>
      </div>
    </progress-circle>
    <progress-table class="dmb-progress-table">
      <div class="dmb-progress-table__col">
      </div>
      <div class="dmb-progress-table__col dmb-progress-table__labels">
        <h3 aria-hidden="true">Nascent</h3>
        <div class="dmb-progress-table__row dmb-progress-table__row--main" data-rating="2.6" aria-label="Your Company is Emerging">
          <div class="dmb-progress-table__label">
            <span class="dmb-progress-table__company">Potato</span>
            <span class="dmb-progress-table__rating" aria-label="Your company rating">2.6</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-avg" data-rating="1.2">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry average
            <span class="dmb-progress-table__rating" aria-label="industry average rating">1.2</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-best" data-rating="2.4">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry best
            <span class="dmb-progress-table__rating" aria-label="industry best rating">2.4</span>
          </div>
        </div>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Emerging</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Connected</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Multi-Moment</h3>
      </div>
    </progress-table>
  </section>

  <section class="access">
    <h2>.access</h2>
    <progress-circle class="dmb-progress-circle" data-progress="80">
      <svg width="158" height="158" viewBox="0 0 120 120">
        <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
        <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      </svg>
      <div class="dmb-progress-circle__text">
        <p class="dmb-progress-circle__title">Emerging</p>
        <div class="dmb-progress-circle__values">
          <span class="dmb-progress-circle__result">1.6</span><span class="dmb-progress-circle__target">/<span class="dmb-progress-circle__target--value">4</span>
          </span>
        </div>
      </div>
    </progress-circle>
    <progress-table class="dmb-progress-table">
      <div class="dmb-progress-table__col">
      </div>
      <div class="dmb-progress-table__col dmb-progress-table__labels">
        <h3 aria-hidden="true">Nascent</h3>
        <div class="dmb-progress-table__row dmb-progress-table__row--main" data-rating="3.7" aria-label="Your Company is Emerging">
          <div class="dmb-progress-table__label">
            <span class="dmb-progress-table__company">Potato</span>
            <span class="dmb-progress-table__rating" aria-label="Your company rating">3.7</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-avg" data-rating="1.2">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry average
            <span class="dmb-progress-table__rating" aria-label="industry average rating">1.2</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-best" data-rating="2.4">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry best
            <span class="dmb-progress-table__rating" aria-label="industry best rating">2.4</span>
          </div>
        </div>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Emerging</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Connected</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Multi-Moment</h3>
      </div>
    </progress-table>
  </section>

  <section class="automation">
    <h2>.automation</h2>
    <progress-circle class="dmb-progress-circle" data-progress="30">
      <svg width="158" height="158" viewBox="0 0 120 120">
        <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
        <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      </svg>
      <div class="dmb-progress-circle__text">
        <p class="dmb-progress-circle__title">Emerging</p>
        <div class="dmb-progress-circle__values">
          <span class="dmb-progress-circle__result">1.6</span><span class="dmb-progress-circle__target">/<span class="dmb-progress-circle__target--value">4</span>
          </span>
        </div>
      </div>
    </progress-circle>
    <progress-table class="dmb-progress-table">
      <div class="dmb-progress-table__col">
      </div>
      <div class="dmb-progress-table__col dmb-progress-table__labels">
        <h3 aria-hidden="true">Nascent</h3>
        <div class="dmb-progress-table__row dmb-progress-table__row--main" data-rating="3.9" aria-label="Your Company is Emerging">
          <div class="dmb-progress-table__label">
            <span class="dmb-progress-table__company">Potato</span>
            <span class="dmb-progress-table__rating" aria-label="Your company rating">3.9</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-avg" data-rating="1.2">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry average
            <span class="dmb-progress-table__rating" aria-label="industry average rating">1.2</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-best" data-rating="2.4">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry best
            <span class="dmb-progress-table__rating" aria-label="industry best rating">2.4</span>
          </div>
        </div>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Emerging</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Connected</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Multi-Moment</h3>
      </div>
    </progress-table>
  </section>

  <section class="organization">
    <h2>.organization</h2>
    <progress-circle class="dmb-progress-circle" data-progress="1">
      <svg width="158" height="158" viewBox="0 0 120 120">
        <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
        <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
      </svg>
      <div class="dmb-progress-circle__text">
        <p class="dmb-progress-circle__title">Emerging</p>
        <div class="dmb-progress-circle__values">
          <span class="dmb-progress-circle__result">1.6</span><span class="dmb-progress-circle__target">/<span class="dmb-progress-circle__target--value">4</span>
          </span>
        </div>
      </div>
    </progress-circle>
    <progress-table class="dmb-progress-table">
      <div class="dmb-progress-table__col">
      </div>
      <div class="dmb-progress-table__col dmb-progress-table__labels">
        <h3 aria-hidden="true">Nascent</h3>
        <div class="dmb-progress-table__row dmb-progress-table__row--main" data-rating="1.1" aria-label="Your Company is Emerging">
          <div class="dmb-progress-table__label">
            <span class="dmb-progress-table__company">Potato</span>
            <span class="dmb-progress-table__rating" aria-label="Your company rating">1.1</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-avg" data-rating="1.2">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry average
            <span class="dmb-progress-table__rating" aria-label="industry average rating">1.2</span>
          </div>
        </div>
        <div class="dmb-progress-table__row dmb-progress-table__row--ind-best" data-rating="2.4">
          <div class="dmb-progress-table__label">
            <!-- icon -->
            Industry best
            <span class="dmb-progress-table__rating" aria-label="industry best rating">2.4</span>
          </div>
        </div>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Emerging</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Connected</h3>
      </div>
      <div class="dmb-progress-table__col">
        <h3 aria-hidden="true">Multi-Moment</h3>
      </div>
    </progress-table>
  </section>


  <script type="text/javascript">
    const element = document.getElementsByClassName('demo-button')[0];
    element.addEventListener('click', () => {
      setProgressCircles(document.getElementsByClassName('demo-input')[0].value);
      setProgressTables(document.getElementsByClassName('demo-input')[0].value);
    });

    function setProgressCircles(progress) {
      const progressCircles = [...document.getElementsByClassName('dmb-progress-circle')];
      const progressBars = document.getElementsByClassName('dmb-progress-circle__prog-bar');
      let progresses = [];

      progressCircles.forEach((elem, i) => {
        progresses[i] = progress || parseInt(elem.getAttribute('data-progress'), 10);
        progresses[i] = 339.292 * (100 - progresses[i]) / 100;
        progressBars[i].setAttribute('style', `stroke-dashoffset: ${progresses[i]};`);
      })
    }

    function setProgressTables(progress) {
      const progressBars = [...document.getElementsByClassName('dmb-progress-table__row')];
      let progresses = [];

      progressBars.forEach((elem, i) => {
        let borderOffset = 0;
        progresses[i] = progress || parseFloat(elem.getAttribute('data-rating'));
        progresses[i] = (progresses[i] * 100) / 4;
        let mainBar = elem.classList.contains('dmb-progress-table__row--main');
        let tableColumns = elem.closest('.dmb-progress-table').querySelectorAll('.dmb-progress-table__col');

        // calculate border offset and active column for progres bars
        if (progresses[i] <= 25) {
          if (mainBar) {
            tableColumns[1].classList.add('dmb-progress-table__col--active');
          }
          // add dmb-progress-table__col--active class to 'Nascent' column to highlight it
        } else if (progresses[i] <= 50) {
          if (mainBar) {
            tableColumns[2].classList.add('dmb-progress-table__col--active');
          }
          // add dmb-progress-table__col--active class to 'Emerging' column to highlight it
          borderOffset = 1;
        } else if (progresses[i] <= 75) {
          if (mainBar) {
            tableColumns[3].classList.add('dmb-progress-table__col--active');
          }
          // add dmb-progress-table__col--active class to 'Connected' column to highlight it
          borderOffset = 2;
        } else {
          if (mainBar) {
            tableColumns[4].classList.add('dmb-progress-table__col--active');
          }
          // add dmb-progress-table__col--active class to 'Multimode' column to highlight it
          borderOffset = 3;
        }
        elem.setAttribute('style', `width: calc((${progresses[i]}% * 4) + ${borderOffset}px);`);
      })
    }
  </script>
</div>

{% endblock %}
