{% extends "./base.html" %}
{% load staticfiles %}

{% block body_class %}dmb-report-page{% endblock %}

{% block main %}
<div dmb-report ng-cloak>
  <header class="dmb-report-page__hero">
    <div class="h-c-page">
      <div class="h-c-grid">
        <div class="h-c-grid__col h-c-grid__col--12 h-c-grid__col-l--5">
          <h1 class="dmb-report-page__hero-title">
            <span class="dmb-report-page__hero-company dmb-report-page__hero-muted">{[reportCtrl.survey.company_name]}</span>
            Your digital maturity benchmark
          </h1>
          <p class="h-c-headline h-c-headline--two dmb-report-page__hero-date dmb-report-page__hero-muted">
            <time datetime="27/08/2018">{[reportCtrl.result.loaded_at|date:'MMMM yyyy' ]}</time>
          </p>
        </div>
        <div class="h-c-grid__col h-c-grid__col--12 h-c-grid__col-l--6 h-c-grid__col-l--offset-1 h-c-grid__col--align-middle">
          <div class="dmb-report-page__hero-benchmark-wrp dmb-h-hidden--print">
            <div class="dmb-report-page__hero-circle-wrp">
              <div class="dmb-progress-circle dmb-progress-circle--hero" data-progress="reportCtrl.result.dmb">
                <svg
                    dmb-progress-circle="reportCtrl.result.dmb"
                    class="dmb-progress-circle__prog-svg"
                    viewbox="0 0 120 120">
                  <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="10" />
                  <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="10" />
                </svg>
                <div class="dmb-progress-circle__text">
                  <p class="dmb-progress-circle__title">{[ reportCtrl.result.dmb|dmbLevelText]}</p>
                  <div class="dmb-progress-circle__range-values">
                    <span class="dmb-progress-circle__result">{[ reportCtrl.result.dmb|dmbRangeText]}</span>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="dmb-report-page__hero-sub-title dmb-h-alt-font">
              <span class="dmb-report-page__hero-status dmb-report-page__hero-muted">You are</span><br>
              <strong>{[ reportCtrl.result.dmb|dmbLevelText]}</strong>
            </h2>
          </div>

          <p class="dmb-report-page__hero-subhead" ng-if="reportCtrl.floorDmb < 3">
              This report will show you where you are weakest and strongest, and what to do to get to the next level, <strong>{[ (reportCtrl.result.dmb + 1) | dmbLevelText]}</strong>.
          </p>
          <p class="dmb-report-page__hero-subhead" ng-if="reportCtrl.floorDmb > 2">
            This report will show you where you might not be performing as well, and how to keep your marketing maturity at the highest level.
          </p>

          {% comment "We won't have any date for average and best-pracitce for the MVP" %}
          <p class="h-u-mt-l">
            You are <strong>above average</strong> for your industry, and <strong>behind</strong> the industry best practice. This report will show you where you are weakest and strongest, and what to do to get to the next level, <strong>connected</strong>.
          </p>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="dmb-report-page__hero-cta h-u-text-center">
      <a
          href="#dmb-report-page-main"
          class="dmb-report-page__hero-button h-c-button h-c-button--secondary dmb-h-hidden--print"
          dmb-smooth-scroll>
        View your results
        <svg role="img" class="h-c-icon h-c-icon--link h-c-icon--18px">
          <use xlink:href="#mi-arrow-sort"></use>
        </svg>
      </a>
    </div>
  </header>

  <div class="dmb-report-page__print-button-container" dmb-scroll-aware dmb-scroll-aware-enter-class="dmb-report-page--dark-print-button-text" dmb-scroll-aware-exit-class="dmb-report-page--dark-print-button-text">
    <button class="dmb-report-page__print-button" aria-label="Print report button" onclick="window.print();">
      <img src="{% static 'img/icons/print.svg' %}" alt="print icon">
    </button>

    <main class="dmb-report-page__content" id="dmb-report-page-main">


      <div class="dmb-report-page__panel-trigger" dmb-pin-top>
        <button
            class="dmb-right-panel-trigger dmb-h-hidden--print"
            dmb-side-panel-trigger="#dmb-report-right-side-panel">
          <div class="dmb-right-panel-trigger__icon">
            <svg role="img" class="h-c-icon">
              <use xlink:href="#mi-chevron"></use>
            </svg>
          </div>
          <div
            class="dmb-right-panel-trigger__label h-c-headline h-c-headline--subhead h-u-font-weight-regular">
            Why digital maturity matters
          </div>
        </button>
      </div>

      <div class="h-c-page">
        <section class="dmb-report-page__maturity"> <!-- Your overall digital maturity -->
          <h2 class="h-c-eyebrow">Your overall digital maturity</h2>

          <div class="h-c-grid">
            <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--12 h-c-grid__col-l--2">
              <div class="dmb-progress-circle">
                <svg
                    dmb-progress-circle="reportCtrl.result.dmb"
                    class="dmb-progress-circle__prog-svg"
                    viewbox="0 0 120 120">
                <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="10" />
                <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="10" />
                </svg>
                <div class="dmb-progress-circle__text">
                  <p class="dmb-progress-circle__title">{[reportCtrl.result.dmb|dmbLevelText]}</p>
                  <div class="dmb-progress-circle__values">
                    <span class="dmb-progress-circle__result">{[reportCtrl.result.dmb|number:1]}</span><span class="dmb-progress-circle__target">/<span
                        class="dmb-progress-circle__target--value">4</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--12 h-c-grid__col-l--9">
              <h3 class="dmb-report-page__content-title">
                <span class="dmb-report-page__headline-accent">Your maturity is</span> <strong>{[reportCtrl.result.dmb|dmbLevelText]}</strong>
                <button class="dmb-report-page__info" dmb-side-panel-trigger="#dmb-report-left-side-panel-one">
                  <img src="{% static 'img/icons/info.svg' %}" alt="question mark" />
                </button>
              </h3>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 0">
                This is the most basic of the 4 levels of maturity. Your marketing campaigns use mainly external data and direct buys, with limited links to sales.
              </p>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 1">
                This is the 2nd of the 4 levels of maturity. You use some owned data in automated buying, with single-channel optimisation and testing.
              </p>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 2">
                This is the 3rd of the 4 levels of maturity. Your data is integrated and activated across channels with a demonstrated link to ROI or sales proxies.
              </p>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 3">
                This is the most advanced of the 4 levels of maturity. You have achieved dynamic execution across multiple channels, optimised toward individual customer business outcomes and transactions.
              </p>
            </div>
          </div>

          <dmb-progress-table data-rating-main="reportCtrl.result.dmb" data-industry-avg="reportCtrl.industryResult.dmb"
            data-industry-best="reportCtrl.industryResult.dmb_bp" data-company-name="{[reportCtrl.survey.company_name]}">
          </dmb-progress-table>

        </section>

        <section class="dmb-report-page__dimensions"> <!-- 6 dimensions -->
          <h2 class="h-c-eyebrow h-c-eyebrow--wide">
            6 dimensions of digital marketing maturity
            <button class="dmb-report-page__info" dmb-side-panel-trigger="#dmb-report-left-side-panel-three">
              <img src="{% static 'img/icons/info.svg' %}" alt="question mark" />
            </button>
          </h2>
          <p class="dmb-report-page__dimensions-intro">
            Together with BCG, we identified the capabilities that drive data-driven marketing maturity. Click the icons below to see how you perform in each.
          </p>
          <a class="dmb-report-page__cta dmb-report-page__cta--alt dmb-h-hidden--print" dmb-side-panel-trigger="#dmb-report-right-side-panel">
            <div class="dmb-report-page__cta-icon"></div>
            <div class="dmb-report-page__cta-text">Learn more<span class="dmb-report-page__cta-extra-text"> about why these matter</span></div>
          </a>

          <div class="dmb-report-page__tabs" data-ng-if="reportCtrl.showTabs">
            <div class="dmb-report-page__tabs-icons">
              <div class="h-u-text-center" ng-repeat="dimension in reportCtrl.dimensions">
                <div class="dmb-progress-circle dmb-progress-circle--{[dimension]}">
                  <svg dmb-progress-circle="reportCtrl.result.dmb_d[dimension]" class="dmb-progress-circle__prog-svg" viewbox="0 0 120 120">
                    <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                    <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                  </svg>
                  <div class="dmb-progress-circle__icon"></div>
                </div>
              </div>
            </div>
            <div>
              <div class="dmb-report-page__tabs-sticky-nav" dmb-pin-top>
                <div class="h-c-page">
                  <ul class="">
                    <li ng-repeat="dimension in reportCtrl.dimensions">
                      <button
                          class="dmb-report-page__tabs-sticky-nav-btn"
                          ng-class="{'is-active': reportCtrl.model.activeEl == dimension}"
                          ng-click="reportCtrl.selectTab('dimension-tabs', dimension)">
                        {[reportCtrl.dimensionHeaders[dimension]]}
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="glue-tabset"
                  data-glue-tabset-state="['activeEl']"
                  data-glue-state-id="dimension-tabs"
                  data-glue-tabset-model="reportCtrl.model"
                  data-glue-tabset-enable-arrow-nav
                  ng-cloak>
                <ul>
                  <li
                      ng-repeat="dimension in reportCtrl.dimensions"
                      data-glue-label="{[dimension]}"
                      id="{[dimension]}">
                    <h3>
                      {[reportCtrl.dimensionHeaders[dimension]]}
                    </h3>
                    <div>
                      <div
                        dmb-dimension-tab="{[dimension]}"
                        company-name="{[ reportCtrl.survey.company_name ]}">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          {% comment %}
            We need to duplicate the tabset and zippy ( instead of just taking advantage of the tabby controller), because we have a bug where,
            if 2 way data binding is enabled (to be able to build the sticky nav,) when closing the a panel the page scrolls to the top ( probably # left at the end of the url).
            Unfortunately I coulnd't find the reason why this happens. The issue is related to the tabby using deeplinking ( unfortunately that is enabled by default when using
            2 way data binding)
          {% endcomment %}

          <div class="dmb-report-page__dimension-zippy" data-ng-if="!reportCtrl.showTabs">
            <div class="glue-zippy-set h-t-hercules" ng-cloak>
              <ul class="h-c-expansion-panels__list">
                <li class="glue-zippy glue-a-zippy--v-smooth-expand dmb-report-page__zippy-container" ng-repeat="dimension in reportCtrl.dimensions" ng-attr-id="{[ dimension ]}">
                  <div class="glue-zippy-btn">
                    <h4 class="h-c-expansion-panels__button-header dmb-report-page__zippy-btn">
                      {[ reportCtrl.dimensionHeaders[dimension] ]}
                    </h4>
                    <svg role="img" aria-hidden="true" class="h-c-icon--18px h-c-expansion-panels__button-arrow">
                      <use xlink:href="#mi-arrow-item"></use>
                    </svg>
                  </div>
                  <div class="glue-zippy-content">
                    <div
                        dmb-dimension-tab="{[dimension]}"
                        company-name="{[ reportCtrl.survey.company_name ]}">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section> <!-- 6 dimensions -->

        {% comment "Out of scope for now, we will enable this in the future" %}
        <!-- <div class="h-u-text-right">
          <a href="#" class="h-c-link h-c-link--internal dmb-h-hidden--print">
            Go to next dimension
            <svg role="img" class="h-c-icon h-c-icon--link h-c-icon--arrow-forward">
              <use xlink:href="#mi-arrow-forward"></use>
            </svg>
          </a>
        </div> -->
        {% endcomment %}
      </div> <!-- h-c-page -->
    </main> <!-- #dmb-report-page-main -->

    <div class="dmb-report-page__appendix dmb-h-mb--medium dmb-h-hidden--screen">
      <div class="h-c-page">
        <h2 class="h-c-headline h-c-headline--three dmb-print-page-header">Appendix</h2>
      </div>
    </div>
  </div>

  <aside id="dmb-report-left-side-panel-one" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Levels of digital marketing maturity
      </h1>
      <h2 class="h-c-headline h-c-headline--three h-u-font-weight-medium">
        Nascent
      </h2>
      <p>
        Marketing campaigns use mainly external data and direct buys, with limited links to sales.
      </p>
      <h2 class="h-c-headline h-c-headline--three h-u-font-weight-medium">
        Emerging
      </h2>
      <p>
        Some use of owned data in automated buying with single-channel optimisation and testing.
      </p>
      <h2 class="h-c-headline h-c-headline--three h-u-font-weight-medium">
        Connected
      </h2>
      <p>
        Data integrated and activated across channels with demonstrated link to ROI or sales proxies.
      </p>
      <h2 class="h-c-headline h-c-headline--three h-u-font-weight-medium">
        Multi-moment
      </h2>
      <p>
        Dynamic execution across multiple channels, optimised toward individual customer business outcomes and transactions
      </p>
    </div>
  </aside>

  <aside id="dmb-report-left-side-panel-two" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Benchmark calculations
      </h1>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Industry Average
      </h2>
      <p>
        How companies in your industry perform on average.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Industry Best
      </h2>
      <p>
        How companies in the top 2% of marketing maturity within your industry perform.
      </p>
    </div>
  </aside>

  <aside id="dmb-report-left-side-panel-three" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        6 dimensions of marketing maturity
      </h1>
      <p>
        We worked with BCG to carry out an in-depth study of businesses to identify what drives data-driven marketing maturity.
        The results showed these 6 capabilities are key to top performance and delivering what today's customers expect from
        brands.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Attribution
      </h2>
      <p>
        The capability to accurately measure and value customer touchpoints.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Assets and ads
      </h2>
      <p>
        The capability to deliver attention-driving, intuitive experiences across digital touchpoints.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Audience
      </h2>
      <p>
        The capability to organise data to identify, understand and influence the most valuable audiences throughout the sales funnel.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Access
      </h2>
      <p>
        The capability to reach and deliver across all inventory types and channels.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Automation
      </h2>
      <p>
        The capability to optimise marketing operations to drive profitability and growth.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Organisation
      </h2>
      <p>
        The capability to improve decision-making and results by working collaboratively across teams and with specialised partners.
      </p>
    </div>
  </aside>

  <aside id="dmb-report-right-side-panel" class="dmb-side-panel dmb-side-panel--right" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>

    <div class="dmb-side-panel__inner">
      <h1 class="dmb-side-panel__heading h-c-headline h-c-headline--one h-u-font-weight-medium">Why digital maturity matters</h1>
      <div class="h-c-grid">
        <div class="h-c-grid__col h-c-grid__col--4">
          <h2 class="h-c-headline h-c-headline--four">
            Consumer shift
          </h2>
        </div>
        <div class="h-c-grid__col h-c-grid__col--8">
          <div class="dmb-side-panel__left-block">
            <p>
              Today, more and more of our lives are powered by mobile and digital. We love our devices, but what we really love is
              the power our devices give us. The power to get exactly what we want, instantly and effortlessly. To have our needs not
              just met, but anticipated.
            </p>
            <p>
              For marketers, this means the very nature of how consumers behave and what they expect has changed. And as these
              expectations ratchet up, so do the requirements (and opportunities) for marketers.
            </p>
          </div>
        </div>
      </div>

      <div class="dmb-side-panel__list-container">
        <div class="h-c-grid">
          <div class="h-c-grid__col h-c-grid__col--4">
            <h2 class="h-c-headline h-c-headline--four h-u-mb-l">
              Today’s consumers are:
            </h2>
          </div>
          <div class="h-c-grid__col h-c-grid__col--8">
            <ul class="dmb-side-panel__list">
              <li class="dmb-side-panel__list-item dmb-side-panel__left-block">

                <div class="dmb-side-panel__list-item-content">
                  <h3 class="dmb-side-panel__list-item-heading h-c-headline h-c-headline--four h-u-font-weight-medium">
                    <div class="dmb-side-panel__list-item-bullet">
                      <img src="{% static 'img/icons/shield.svg' %}" alt="shield icon"/>
                    </div>
                    Curious
                  </h3>
                  <p>
                    They turn to Google Search more and more often looking for to get useful advice and answers - even for the small stuff - so every decision they make is an informed one.
                  </p>
                  <ul>
                    <li>
                      In the last 2 years, mobile searches have risen 239% for best travel accessories, 208% for best face powder and 156% for best wet weather gear.&nbsp;<sup>1</sup>
                    </li>
                    <li>
                      Mobile searches for “baby shopping lists” and “healthy shopping lists” are up 180% in the last 2 years.&nbsp;<sup>2</sup>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dmb-side-panel__list-item dmb-side-panel__left-block">
                <div class="dmb-side-panel__list-item-content">
                  <h3 class="dmb-side-panel__list-item-heading h-c-headline h-c-headline--four h-u-font-weight-medium">
                    <div class="dmb-side-panel__list-item-bullet">
                      <img src="{% static 'img/icons/shield.svg' %}" alt="shield icon"/>
                    </div>
                    Demanding
                  </h3>
                  <p>
                    They want relevant and tailor-made experiences and expect brands to understand and meet their intent with useful information in the moment.
                  </p>
                  <ul>
                    <li>
                      "Near me" searches have grown 4.5x on Google search and 6x on Google Maps on mobile in the last 2 years in EMEA.&nbsp;<sup>3</sup>
                    </li>
                    <li>
                      89% of marketers say anticipating customer needs and providing helpful experiences along the consumer journey is critical to their brand’s growth.&nbsp;<sup>4</sup>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dmb-side-panel__list-item dmb-side-panel__left-block">
                <div class="dmb-side-panel__list-item-content">
                  <h3 class="dmb-side-panel__list-item-heading h-c-headline h-c-headline--four h-u-font-weight-medium">
                    <div class="dmb-side-panel__list-item-bullet">
                      <img src="{% static 'img/icons/shield.svg' %}" alt="shield icon"/>
                    </div>
                    Impatient
                  </h3>
                  <p>
                    People are making decisions faster than ever before, and they expect to be able to act on those decisions instantly.
                  </p>
                  <ul>
                    <li>
                      1 in 2 visits are abandoned if a mobile site takes longer than 3 seconds to load.&nbsp;<sup>5</sup>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="dmb-side-panel__advice">
        <h3 class="h-c-headline h-c-headline--four">
          So, how can you be digitally mature and so anticipate the needs of your customers today?
        </h3>
        <div class="dmb-side-panel__advice-items">
          <div class="dmb-side-panel__advice-item">
            <h4 class="h-c-headline h-c-headline--three">
              Be there
            </h4>
            <p class="h-u-font-weight-light">
              Use the power of technology and insights to deliver relevant, real-time messages at scale, whenever each consumer is ready for them.
            </p>
          </div>
          <div class="dmb-side-panel__advice-item">
            <h4 class="h-c-headline h-c-headline--three">
              Be helpful
            </h4>
            <p class="h-u-font-weight-light">
              Build a strategy driven by assistance, reorienting to become more relevant across the customer experience.
            </p>
          </div>
          <div class="dmb-side-panel__advice-item">
            <h4 class="h-c-headline h-c-headline--three">
              Be quick
            </h4>
            <p class="h-u-font-weight-light">
              Deliver the speedy, frictionless experiences on mobile that consumers expect.
            </p>
          </div>
        </div>
      </div>

      <div class="dmb-side-panel__research">
        <p class="h-c-headline h-c-headline--subhead">
          <strong>Of course, if customers benefit, businesses benefit</strong> - but they’re struggling to put it all into practice. Our research with BCG shows only 2% of brands are realising the full potential of data-driven marketing.
        </p>
        <p class="h-u-font-weight-light">
          Find out how you can be there, be helpful and be quick to meet and exceed these ever-rising customer expectations in your interactive Digital Marketing Maturity report.
        </p>
      </div>

      <div class="dmb-side-panel__footnotes">
        <p>
          <span>1</span>
          <span>Source: Google Data, EMEA, Jan - Dec 2015 vs. Jan - Dec 2017</span>
        </p>
        <p>
          <span>2</span>
          <span>Source: Google Data, EMEA, Jan - Dec 2015 vs. Jan - Dec 2017</span>
        </p>
        <p>
          <span>3</span>
          <span>Source: Google Data, EMEA, Jan - Dec 2015 vs. Jan - Dec 2017</span>
        </p>
        <p>
          <span>4</span>
          <span>Source: Econsultancy/Google, “An Audience of Individuals,” 2017, n=514, marketing and measurement executives at North American companies with over $250M in revenues; n=133 leading marketers who reported marketing significantly exceeded top business goals in 2016, n=381 mainstream marketers (remainder of the sample).</span>
        </p>
        <p>
          <span>5</span>
          <span>Source: Google Data, EMEA, Jan - Dec 2015 vs. Jan - Dec 2017</span>
        </p>
      </div>
    </div>
  </aside>

</div>
{% endblock %}

{% block footer %}
  <footer class="h-c-footer h-c-footer--topmargin h-c-footer--simple dmb-h-hidden--print" id="footer-simple" ng-cloak>
    <section class="h-c-footer__global">
      <div class="h-c-footer__logo">
        <a href="https://www.google.com" title="Google">
          <svg role="img" class="h-c-footer__logo-img">
            <use xlink:href="#google-logo"></use>
          </svg>
        </a>
      </div>
      <ul class="h-c-footer__global-links h-no-bullet">
        <li class="h-c-footer__global-links-list-item">
          <a class="h-c-footer__link" href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
        </li>
        <li class="h-c-footer__global-links-list-item">
          <a class="h-c-footer__link" href="https://www.google.com/intl/en/policies/terms/">Terms</a>
        </li>
        <li class="h-c-footer__global-links-list-item">
          <a class="h-c-footer__link" href="https://www.google.com/intl/en/about/">About Google</a>
        </li>
        <li class="h-c-footer__global-links-list-item">
          <a class="h-c-footer__link" href="https://www.google.com/intl/en/about/products/">Google Products</a>
        </li>
      </ul>
    </section>
  </footer>
{% endblock footer %}
