{% extends "./base.html" %}
{% load staticfiles %}
{% load angular %}


{# Marking this safe because is not not rendered by django but added as a data attribute and rendered by Angular as unsafe #}
{% block bootstrap_data %}{{bootstrap_data|ng_mark_safe}}{% endblock %}

{% block main %}
<div class="dmb-reports-admin" dmb-reports-admin ng-cloak>
  <div class="dmb-reports-admin__intro">
    <h1 class="dmb-reports-admin__title h-c-headline h-c-headline--one h-u-font-weight-medium">
      Digital Maturity Admin Dashboard
    </h1>
    <h2 class="dmb-reports-admin__subtitle h-c-headline h-c-headline--four h-u-font-weight-medium">
      You can create a new survey in two ways:
    </h2>
  </div>

  <ul class="dmb-reports-admin__create-survey">
    <li>
      <h3 class="h-c-headline h-c-headline--five h-u-font-weight-medium">
        Create a custom Survey
      </h3>
      <p class="dmb-reports-admin__survey-creation-text">
        Create a custom survey for your client using the button below.<br>
        You’ll be able to set the company name, industry and location.
      </p>
      <button
          class="dmb-right-panel-trigger h-c-button h-c-button--primary"
          dmb-side-panel-trigger="#dmb-create-survey">
        Create new survey
      </button>
    </li>
    <li class="dmb-reports-admin__referral-wrp">
      <h3 class="h-c-headline h-c-headline--five h-u-font-weight-medium">
        Send a referral link
      </h3>
      <p class="dmb-reports-admin__survey-creation-text">
        Send your survey referral link to allow clients to create their own unique survey.<br>
        Any surveys created with this link will be associated with your account.
      </p>
      <div class="dmb-referral-copy-row">
        <a href="{{create_survey_url|ng_mark_safe}}#el={{engagement_lead|ng_mark_safe}}" target="_blank" id="reference-link">
            {{create_survey_url|ng_mark_safe}}#el={{engagement_lead|ng_mark_safe}}
        </a>
        <button
            class="h-c-button h-c-button--flat"
            ngclipboard
            data-clipboard-target="#reference-link"
            aria-label="Copy to clipboard">
          <svg width="19" height="22" viewBox="0 0 19 22" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M-2-1h24v24H-2z"/><path d="M14 0H2C.9 0 0 .9 0 2v14h2V2h12V0zm3 4H6c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H6V6h11v14z" fill="currentColor" fill-rule="nonzero"/></g></svg>
        </button>
      </div>
    </li>
  </ul>

  <div
      dmb-side-panel
      class="dmb-side-panel dmb-side-panel--narrow dmb-side-panel--right"
      id="dmb-create-survey">
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>

    <div
        class="dmb-side-panel__inner"
        ng-controller="RegistrationCtrl as registrationCtrl">
      <div ng-if="!registrationCtrl.link">
        <h2 class="h-c-headline h-c-headline--three h-u-mt-xl h-u-mb-l">
          Create a new survey
        </h2>
        <p>
            Fill in these details to create a custom survey link for a specific company:
        </p>
        <form name="registration" novalidate autocomplete="off" ng-submit="registrationCtrl.submit()" ng-init="registrationCtrl.engagementLead='{{engagement_lead|ng_mark_safe}}'">
          <div class="input-wrp">
            <div class="dmb-input-wrp">
              <label for="companyName">Organisation name:</label>
              <input class="dmb-input" name="companyName" ng-model="registrationCtrl.companyName" type="text" required placeholder="Enter the organisation name">
            </div>
            <div class="dmb-input-wrp">
              <label for="industry">Industry:</label>
              <select class="dmb-input" name="industry" id="industry" ng-model="registrationCtrl.industry" required>
                <option value="" disabled selected>Select an industry</option>
                {% for i_key, i_text in industries %}
                <option value="{{i_key|ng_mark_safe}}">{{i_text|ng_mark_safe}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="dmb-input-wrp">
              <label for="country">Country:</label>
              <select class="dmb-input" name="country" id="country" ng-model="registrationCtrl.country" required>
                <option value="" disabled selected>Select a country</option>
                {% for c_key, c_text in countries %}
                <option value="{{c_key|ng_mark_safe}}">{{c_text|ng_mark_safe}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-wrp__error" ng-show="!registration.companyName.$pristine && registration.companyName.$error.required">This field is required.</div>
          </div>
          <button ng-disabled="!registration.$valid" class="h-c-button h-c-button--primary">
            Create assessment
          </button>
          <div class="input-wrp__error" ng-hide="!registrationCtrl.serverError">Oops, something went wrong!</div>
        </form>
      </div>
      <div ng-if="registrationCtrl.link">
        <h2 class="h-c-headline h-c-headline--three h-c-headline--three h-u-mt-xl h-u-mb-l">
          Unique survey created
        </h2>
        <p>
          Your custom survey link is below.
          Send this link to your client so that they can get started.
        </p>
        <div class="dmb-registration__link">
          <a ng-href="{[ registrationCtrl.link ]}" target="_blank" id="survey-link">
            {[ registrationCtrl.link ]}
          </a>
          <button
              class="h-c-link"
              ngclipboard
              data-clipboard-target="#survey-link">
            Copy
          </button>
        </div>
        <button class="h-c-button h-c-button--primary" ng-click="registrationCtrl.reset()">
          Create another assessment
        </button>
        <p class="h-c-footnote">
          Please reload the page to see the new survey in the list.
        </p>
      </div>
    </div>
  </div>

  <div class="dmb-reports-admin__table h-c-table__overflowcontainer">
    <table class="h-c-table h-c-table--datatable h-c-table--datatable-altrows glue-table-sort"
      data-glue-table-sort-ascending-text="ascending"
      data-glue-table-sort-descending-text="descending"
      data-glue-table-sort-unsorted-text="unsorted"
      role="table"
      summary="List of reports"
      width="100%"
    >
      <thead>
        <tr role="row">
          <th
              scope="col"
              role="columnheader"
              title="Sort by organisation name alphabetically"
              data-glue-table-sort-type="alpha">
            <span>
              Organisation name
            </span>
          </th>
            <th
              scope="col"
              role="columnheader"
              title="Sort by date created chronologically"
              data-glue-table-sort-type="datetime-custom">
            <span>
              Date created
            </span>
          </th>
          <th
          scope="col"
          role="columnheader"
          title="Sort by survey completions numerically"
          data-glue-table-sort-type="numeric">
          <span>
            Survey completions
          </span>
          <th
              scope="col"
              role="columnheader"
              title="Sort by survey link"
              data-glue-table-sort-type="alpha">
            <span>
              Survey link
            </span>
          </th>
          </th>
          <th
              scope="col"
              role="columnheader"
              title="Sort by report link"
              data-glue-table-sort-type="alpha">
            <span>
              Report link
            </span>
          </th>
          <th
              scope="col"
              role="columnheader"
              title="Sort by industry"
              data-glue-table-sort-type="alpha">
            <span>
              Industry
            </span>
          </th>
          <th
              scope="col"
              role="columnheader"
              title="Sort by country"
              data-glue-table-sort-type="alpha">
            <span>
              Country
            </span>
         </th>
          <th
              scope="col"
              role="columnheader"
              title="Sort by country"
              data-glue-table-sort-type="alpha">
            <span>
              Detail
            </span>
         </th>
        </tr>
      </thead>
      <tbody>
        <tr
            role="row"
            ng-repeat="survey in reportAdminCtrl.surveys"
            data-index={[$index]}
            ng-class="{'dmb-reports-admin__table-expanded-row': reportAdminCtrl.expandedRows[$index]}"
        >
          <td role="rowheader" title="{[survey.company_name]}">{[survey.company_name]}</td>
          <td role="gridcell">
              {[survey.created_at|date:"d/M/yyyy hh:mm"]}<span class="dmb-reports-admin__table-date">utc={[survey.created_at]}</span>
          </td>
          <td role="gridcell">
            {[ survey.survey_results.length ]}
            <button
                class="dmb-reports-admin__table-history-btn"
                ng-if="survey.survey_results.length > 1"
                ng-click="reportAdminCtrl.viewHistory($index)"
              >
              View history
              <svg role="img" class="h-c-icon">
                <use xlink:href="#mi-chevron"></use>
              </svg>
            </button>
            <div
                class="dmb-reports-admin__table-subcell dmb-reports-admin__table-subcell--first"
                ng-repeat="r in survey.survey_results">
              {[r.started_at|date:"d/M/yyyy hh:mm"]}
            </div>
          </td>
          <td role="gridcell"><a href="{[survey.link]}" target="_blank" class="h-c-button h-c-button--flat">Survey</a></td>
          <td role="gridcell">
            <a
                class="h-c-button h-c-button--flat dmb-reports-admin__table-top-report-cell"
                ng-if="survey.survey_results.length > 0"
                ng-href="{[survey.last_survey_result_link]}"
                target="_blank">
              Report
            </a>&nbsp;
            <span
                ng-if="survey.survey_results.length == 0">
              -
            </span>
            <div
                class="dmb-reports-admin__table-subcell"
                ng-repeat="r in survey.survey_results">
              <a
                  class="h-c-button h-c-button--flat"
                  ng-href="{[r.report_link]}"
                  target="_blank">
                Report
              </a>
            </div>
          </td>
          <td role="gridcell">{[survey.industry_name]}</td>
          <td role="gridcell">{[survey.country_name]}</td>
          <td role="gridcell">
            <a
                class="h-c-button h-c-button--flat dmb-reports-admin__table-top-report-cell"
                ng-if="survey.last_survey_result.detail_link"
                ng-href="{[survey.last_survey_result.detail_link]}"
                target="_blank">
              Detail
            </a>&nbsp;
            <span
                ng-if="!survey.last_survey_result.detail_link">
              -
            </span>
            <div
                class="dmb-reports-admin__table-subcell"
                ng-repeat="r in survey.survey_results">
              <a
                  ng-if="r.detail_link"
                  class="h-c-button h-c-button--flat"
                  ng-href="{[r.detail_link]}"
                  target="_blank">
                Detail
              </a>
              <span
                  ng-if="!r.detail_link">
                -
              </span>
            </div>
           </td>
        </tr>
      </tbody>
    </table>
    <div class="glue-js-table__caption"></div>
  </div>
</div>
{% endblock %}
