{% extends "./base.html" %}
{% load staticfiles %}

{% block main %}
<div class="dmb-report-page" dmb-report ng-cloak>

  {[reportCtrl.industry.dmb]}
  <header class="dmb-report-page__hero">
    <div class="h-c-page">
      <div class="h-c-grid">
        <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--6">
          <h1 class="dmb-report-page__hero-title h-c-headline h-c-headline--one h-u-mb-l">
            <span class="dmb-report-page__hero-accent">{[reportCtrl.survey.company_name]}</span>
            Your digital maturity benchmark
          </h1>
          <p class="h-c-headline h-c-headline--two dmb-report-page__hero-accent">
            <time datetime="27/08/2018">{[reportCtrl.result.loaded_at|date:'MMMM yyyy' ]}</time>
          </p>
        </div>
        <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--6">
          <div class="h-c-grid">
            <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--5">
              <div class="dmb-progress-circle" data-progress="reportCtrl.result.dmb">
                <svg
                    dmb-progress-circle="reportCtrl.result.dmb"
                    class="dmb-progress-circle__prog-svg"
                    width="214" height="214" viewbox="0 0 120 120">
                  <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                  <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                </svg>
                <div class="dmb-progress-circle__text">
                  <p class="dmb-progress-circle__title">{[ reportCtrl.result.dmb|dmbLevelText]}</p>
                  <div class="dmb-progress-circle__values">
                    <span class="dmb-progress-circle__result">{[ reportCtrl.result.dmb|dmbRangeText]}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--7">
              <h2 class="dmb-report-page__hero-sub-title h-c-headline h-c-headline--one">
                <span class="dmb-report-page__hero-accent">You are</span>
                {[ reportCtrl.result.dmb|dmbLevelText]}
              </h2>
            </div>
          </div>
          <p class="h-u-mt-l">
              This report will show you where you are weakest and strongest, and what to do to get to the next level, <strong>{[ reportCtrl.result.dmb|dmbLevelText]}</strong>
          </p>
          {% comment "We won't have any date for average and best-pracitce for the MVP" %}
          <p class="h-u-mt-l">
            You are <strong>above average</strong> for your industry, and <strong>behind</strong> the industry best practice. This report will show you where you are weakest and strongest, and what to do to get to the next level, <strong>connected</strong>.
          </p>
          {% endcomment %}
        </div>
      </div>
      <div class="dmb-report-page__hero-cta h-u-text-center">
        <a href="#dmb-report-page-main" class="dmb-report-page__hero-button h-c-button h-c-button--secondary" glue-smooth-scroll glue-smooth-scroll-hash="true">View your results</a>
      </div>
  </div>
  </header>

  <div class="dmb-report-page__content" id="dmb-report-page-main">
    <div class="h-c-page">
      <section>
        <h2 class="h-c-eyebrow h-u-mb-l">Your overall digital maturity</h2>

        <div class="h-u-mb-xl">
          <div class="h-c-grid">
            <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--3">
              <div class="dmb-progress-circle">
                <svg
                    dmb-progress-circle="reportCtrl.result.dmb"
                    class="dmb-progress-circle__prog-svg"
                    width="214" height="214" viewbox="0 0 120 120">
                  <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                  <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                </svg>
                <div class="dmb-progress-circle__text">
                  <p class="dmb-progress-circle__title">{[reportCtrl.result.dmb|dmbLevelText]}</p>
                  <div class="dmb-progress-circle__values">
                    <span class="dmb-progress-circle__result">{[reportCtrl.result.dmb|number:1]}</span>
                    <span class="dmb-progress-circle__target">/
                      <span class="dmb-progress-circle__target--value">4</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--9">
              <h3 class="h-c-headline h-c-headline--two dmb-h-mb--small">
                <span class="dmb-report-page__headline-accent">Your maturity is</span> <strong>{[reportCtrl.result.dmb|dmbLevelText]}</strong>
              </h3>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 0">
                  This is the most basic of the 4 levels of maturity. Your marketing campaigns use mainly external data and direct buys, with limited links to sales.
              </p>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 1">
                This is the 2nd of the 4 levels of maturity. You use some owned data in automated buying, with single-channel optimisation and testing.
              </p>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 2">
                This is the 3rd of the 4 levels of maturity. Your data is integrated and activated across channels with a demonstrated link to ROI or sales proxies.
              </p>
              <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 3">
                This is the most advanced of the 4 levels of maturity. You have achieved dynamic execution across multiple channels, optimised toward individual customer business outcomes and transactions.
              </p>
            </div>
          </div>
        </div>

        <dmb-progress-table
          data-rating-main="reportCtrl.result.dmb"
          data-industry-avg="reportCtrl.industryResult.dmb"
          data-industry-best="reportCtrl.industryResult.dmb_bp"
          data-company-name="{[reportCtrl.survey.company_name]}">
        </dmb-progress-table>

        <div class="dmb-h-mb--big">
          <h2 class="h-c-eyebrow h-u-mb-l">6 dimensions of digital marketing maturity</h2>
          <p class="dmb-report-page__dimensions-intro dmb-h-mb--small">Together with BCG, we identified the capabilities that drive data-driven marketing maturity. Click the icons below to see how you perform in each.</p>
          <button class="h-c-button h-c-button--secondary">Learn more about why these matter</button>
        </div>
      </section>

      <section class="dmb-report-page__tabs dmb-h-mb--big">
        <div class="dmb-report-page__tabs-icons">
          <div class="h-u-text-center" ng-repeat="dimension in reportCtrl.dimensions">
            <div class="dmb-progress-circle dmb-progress-circle--{[dimension]}">
              <svg
                  dmb-progress-circle="reportCtrl.result.dmb_d[dimension]"
                  class="dmb-progress-circle__prog-svg"
                  width="80" height="80" viewbox="0 0 120 120">
                <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
              </svg>
              <div class="dmb-progress-circle__icon"></div>
            </div>
          </div>
        </div>

        <div class="glue-tabby glue-zippy-style" data-glue-tabby-tabset-breakpoints="['small', 'medium', 'medium-large', 'large', 'x-large', 'xx-large']" ng-cloak>
          <ul class="dmb-report-page__tabs-ul">
            <li
              dmb-dimension-tab="{[reportCtrl.dimensions[0]]}"
              company-name="{[ reportCtrl.survey.company_name ]}"
              glue-label="{[ reportCtrl.dimensions[0] ]}"
              id="tab-{[ reportCtrl.dimensions[0] ]}">
            </li>
            <li
              dmb-dimension-tab="{[reportCtrl.dimensions[1]]}"
              company-name="{[ reportCtrl.survey.company_name ]}"
              glue-label="{[ reportCtrl.dimensions[1] ]}"
              id="tab-{[ reportCtrl.dimensions[1] ]}">
            </li>
            <li
              dmb-dimension-tab="{[reportCtrl.dimensions[2]]}"
              company-name="{[ reportCtrl.survey.company_name ]}"
              glue-label="{[ reportCtrl.dimensions[2] ]}"
              id="tab-{[ reportCtrl.dimensions[2] ]}">
            </li>
            <li
              dmb-dimension-tab="{[reportCtrl.dimensions[3]]}"
              company-name="{[ reportCtrl.survey.company_name ]}"
              glue-label="{[ reportCtrl.dimensions[3] ]}"
              id="tab-{[ reportCtrl.dimensions[3] ]}">
            </li>
            <li
              dmb-dimension-tab="{[reportCtrl.dimensions[4]]}"
              company-name="{[ reportCtrl.survey.company_name ]}"
              glue-label="{[ reportCtrl.dimensions[4] ]}"
              id="tab-{[ reportCtrl.dimensions[4] ]}">
            </li>
            <li
              dmb-dimension-tab="{[reportCtrl.dimensions[5]]}"
              company-name="{[ reportCtrl.survey.company_name ]}"
              glue-label="{[ reportCtrl.dimensions[5] ]}"
              id="tab-{[ reportCtrl.dimensions[5] ]}">
            </li>
          </ul>
        </div>
      </section>

      <div class="h-u-text-right">
        <a href="#" class="h-c-link h-c-link--internal">
          Go to next dimension
          <svg role="img" class="h-c-icon h-c-icon--link h-c-icon--arrow-forward">
            <use xlink:href="#mi-arrow-forward"></use>
          </svg>
        </a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
