{% extends 'public/base.html' %}
{% load angular %}
{% load i18n %}
{% block main %}
<div id="dmb-survey-thank-you" class="dmb-card-on-bg">
  <div class="dmb-card-on-bg__bg">
    {% with mobile_img_url=tenant|ng_mark_safe|add:'/home/mobile' %}
      {% include 'public/inc/global/i18n-image.inc.html' with class='dmb-card-on-bg__mobile' img=mobile_img_url ext='png' alt='alt_text' %}
    {% endwith %}
  </div>
  <div class="dmb-card-on-bg__card dmb-u-m-b-l">
    <h1 class="dmb-primary-heading h-c-headline h-c-headline--two">
      {% trans "Nice Work!" %}
    </h1>
    <h2  class="h-c-headline h-c-headline--four">
      {% trans "Your response has been submitted and your report is being generated." %}
    </h2>
    <p class="dmb-u-m-b-s">
      {% trans "You will receive it in your <strong>email inbox</strong> when it’s done.<br> Be patient, <strong>it may take up to 15 minutes</strong>." %}
    </p>

    {% if tenant|ng_mark_safe == 'news' %}
      <p class="dmb-u-m-b-s">
        <a
            class="h-c-link h-c-link--internal"
            href="https://www2.deloitte.com/us/en/pages/consulting/articles/digital-transformation-through-data-for-news.html?id=us:2el:3dp:gda:awa:cons:032616"
            target="_blank">
          {% trans "View the study while you wait" %}
        </a>
      </p>
    {% elif tenant|ng_mark_safe == 'retail' %}
      <p class="dmb-u-m-b-s">
        <a
            class="h-c-link h-c-link--internal"
            href="https://www2.deloitte.com/us/en/pages/consulting/articles/digital-transformation-through-data-for-retail.html"
            target="_blank">
          {% trans "View the study while you wait" %}
        </a>
      </p>
    {% endif %}

    <a
        class="h-c-button h-c-button--primary"
        href="{% url 'index' slug|ng_mark_safe %}">
      {% trans "Back to website" %}
    </a>
  </div>
</div>
{% endblock main %}
