// News
// sass-lint:disable no-ids
@import '../../tenants-variables';

#Wrapper.dmb-survey--start {
  background-image: url('../img/news/survey/survey-hero.jpg');
  background-size: auto 193px;
  color: map-get(map-get($tenants, news), primary-color);

  @include dmb-mq(tablet) {
    background-size: auto 250px;
  }

  @include dmb-mq($from: desktop) {
    background-size: auto 330px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../img/news/survey/survey-hero@2x.jpg');
  }
}
