.aa-u-display-none {
  display: none;
}

.aa-u-display-none-mobile {
  @include mq($until: tablet) {
    display: none;
  }
}

.aa-u-bold {
  font-weight: bold;
}

.aa-u-visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}