{% comment %}
This file is not actually used by the application. It's a template used to generate the hero for the survey on
qualtrics.
We're keeping a copy here since we don't have any version control on qualtrics
{% endcomment %}

<style type="text/css">
  .Skin #HeaderContainer::before {
    background-image: url(https://news-dot-gweb-digitalmaturity-staging.appspot.com/static/img/hero/hero-news.jpg);
  }

</style>
<div class="h-c-page dmb-hero">
  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--8 h-c-grid__col-l--7 dmb-hero__content">
      <p class="dmb-hero__pre-title h-c-headline h-c-headline--four">Welcome to the</p>

      <h1 class="dmb-hero__title h-c-headline h-c-headline--one">${e://Field/company_name} data maturity assessment</h1>

      <p class="dmb-hero__description">This is an in-depth assessment with 17 questions which cover the 4 different
        dimensions of digital transformation through data. It can be filled in by a group or an individual with a good
        overview of all aspects of your organization.</p>
      <a class="dmb-button dmb-button--secondary dmb-hero__btn-checklist" dmb-side-panel-trigger="#checklist"> <span
          class="dmb-button__text">Take a look at what the assessment covers</span> </a>
      <!--<button class="dmb-survey-checklist-button" dmb-side-panel-trigger="#checklist"><svg class="dmb-survey-checklist-button__icon" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"> <path d="M0 0h24v24H0z" fill="none"></path> <path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"></path> </svg> <span>Take a look at what the assessment covers</span></button> -->

      <p class="dmb-hero__description">Your answers are saved as you go. If you need to pause, or ask around for a
        particular answer, use this link to return immediately to where you left off. Just be sure to finish up and
        submit within 30 days of starting.</p>
    </div>
  </div>

  <div class="dmb-partnership-with-bcg">
    <p>In partnership with</p>
    <img alt="Deloitte" height="44" src="https://news-dot-gweb-digitalmaturity-staging.appspot.com/static/img/deloitte-logo.svg"
      width="140" />
  </div>
  <a aria-hidden="true" class="dmb-icon-button dmb-hero__scroll-content" glue-smooth-scroll="" glue-smooth-scroll-hash="false"
    href="#Questions"><svg class="h-c-icon" role="img" viewbox="0 0 12 8">
      <path d="M10.6,8L6,3.4L1.4,8L0,6.6l6-6l6,6L10.6,8z"></path>
    </svg> </a>
</div>

<div class="dmb-side-panel dmb-side-panel--narrow" dmb-side-panel="" id="checklist"><button class="dmb-side-panel__fab dmb-fab"
    dmb-side-panel-close=""><span class="dmb-fab__icon"><svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg> </span></button>

  <div class="dmb-side-panel__inner">
    <h1 class="h-c-headline h-c-headline--two dmb-h-mb--medium">Take a look at what the assessment covers</h1>

    <p>The assessment covers the following aspects of digital transformation through data at news organizations:</p>

    <ul class="dmb-styled-list">
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Strategic direction and data foundations
        </div>
        <div class="dmb-styled-list__item-desc">
          Establishing a vision for integrating audience data into decision-making, and ensuring that the
          organizational culture, skills, data set up and technology support this vision."
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Recirculation
        </div>
        <div class="dmb-styled-list__item-desc">
          Serving relevant and personalized content recommendations to increase the percentage of readers who visit
          another page on your website after reading the first article.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Content Planning
        </div>
        <div class="dmb-styled-list__item-desc">
          Using content engagement metrics and reader behavior patterns to inform the content brief, format, channel,
          and calendar to ultimately drive higher engagement.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Reader Experience
        </div>
        <div class="dmb-styled-list__item-desc">
          Delivering a great reader experience that improves engagement and propensity to pay by optimizing the look,
          feel, and navigation of the on-site or in-app experience.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Subscription Pricing and Promotion Strategy
        </div>
        <div class="dmb-styled-list__item-desc">
          Using audience insights to inform subscription pricing and promotional decisions, including price points,
          discounts, and paywall meter, to improve overall conversion rate and increase revenue per subscriber.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Designing for Reader LTV
        </div>
        <div class="dmb-styled-list__item-desc">
          Using audience engagement data to understand and track the value of a reader across the reader’s entire
          relationship with the company (including acquisition, support, and retention) and making business decisions
          by taking a full view of the reader’s value as opposed to at a given point in time.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Revenue Diversification
        </div>
        <div class="dmb-styled-list__item-desc">
          Developing and tailoring non-core products and services based on reader interests and behavior to drive
          additional revenue beyond traditional content and advertising products.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Audience-based Advertising
        </div>
        <div class="dmb-styled-list__item-desc">
          Using audience data to serve the most appropriate advertisements to readers based on contextual and
          behavioral data. The objective is to increase the relevance of the advertising to the reader and attract
          greater digital advertising spend.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Advertising Pricing Strategy
        </div>
        <div class="dmb-styled-list__item-desc">
          Leveraging audience data to support the advertising sales team in yielding higher per unit revenue,
          regardless of sales channel, by understanding the relative value of different audience segments to
          advertisers.
        </div>
      </li>
      <li class="dmb-styled-list__item">
        <div class="dmb-styled-list__item-title">
          Inventory Yield Management
        </div>
        <div class="dmb-styled-list__item-desc">
          Using content planning and audience engagement data to forecast future inventory and optimize the mix across
          direct sales, private marketplaces, and open auctions in order to maximize advertising revenue.
        </div>
      </li>
    </ul>
    <p>
      If you don’t know or if you’re not sure of the answers to any of these questions right up front, don't worry. If you get stuck on a question and need to pause to find out the answer, you can revisit this site and pick up where you left off.
    </p>
  </div>
</div>
<link href="https://gweb-digitalmaturity-staging.appspot.com/static/img/icons/check.svg" rel="prefetch" />
<script src="https://gweb-digitalmaturity-staging.appspot.com/static/js/qualtrics-survey.min.js"></script>
