{% load i18n %}
{% trans "logo" as logo_alt_text %}
<div
    class="dmb-dimension-tabs__content dmb-dimension-tabs__content--level-{[ dimensionTabCtrl.currentLevelData.value ]}">

  <div class="dmb-dimension-tabs__intro">
    <div class="h-c-grid">
      <div class="dmb-dimension-tabs__logo-col h-c-grid__col h-c-grid__col--2 h-c-grid__col--offset-1">
        <img
            alt="{[ dimensionTabCtrl.dmbDimensionTab]} {{logo_alt_text}}"
            class="dmb-dimension-tabs__logo"
            ng-src="{[ dimensionTabCtrl.dmbStaticUrl ]}img/{[ dimensionTabCtrl.tenant ]}/dimensions/{[ dimensionTabCtrl.dmbDimensionTab|underscoreToHyphen ]}.svg">
      </div>
      <div class="h-c-grid__col h-c-grid__col--8 h-c-grid__col--offset-1">
        <h3 class="h-c-headline h-c-headline--three">
          {[ dimensionTabCtrl.dimensionHeader ]}
        </h3>
        <div
            class="h-c-headline h-c-headline--subhead"
            ng-bind-html="dimensionTabCtrl.dimensionDescription">
        </div>
      </div>
    </div>
  </div>

  <div class="dmb-dimension-tabs__results">
    <div class="h-c-grid">
      <div class="dmb-dimension-tabs__results-highlight h-c-grid__col h-c-grid__col--4 h-u-text-center">
        <div class="dmb-dimension-tabs__results-heading h-c-headline h-c-headline--two">
          {[dimensionTabCtrl.currentLevelData.mapValue]}
        </div>
        <div class="dmb-dimension-tabs__results-subheading h-u-font-weight-regular">
          {% trans "in this dimension" %}
        </div>
        <div class="dmb-dimension-tabs__results-value h-c-headline h-c-headline--three">
          {[ dimensionTabCtrl.dimensionResult|number:1]}/{[dimensionTabCtrl.tenantConf.levelsMax]}
        </div>
      </div>
      <div class="h-c-grid__col h-c-grid__col--7">
        <div ng-bind-html="dimensionTabCtrl.dimensionLevelDescription"></div>
      </div>
    </div>
  </div>

  <div class="dmb-dimension-tabs__progress-grid">
    <dmb-progress-grid
        data-company-name="{[dimensionTabCtrl.companyName]}"
        data-rating-main="dimensionTabCtrl.dimensionResult"
        data-industry-avg="dimensionTabCtrl.dimensionIndAvg"
        data-industry-best="dimensionTabCtrl.dimensionIndBest"
        data-industry-ready="dimensionTabCtrl.dimensionIndReady">
    </dmb-progress-grid>
  </div>


  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--10 h-c-grid__col--offset-1">
      <h4 class="dmb-dimension-tabs__recommendations-header h-c-headline h-c-headline--four dmb-h-hidden--print">
        <img
            alt="{[ dimensionTabCtrl.dmbDimensionTab ]} {{logo_alt_text}}"
            ng-src="{[ dimensionTabCtrl.dmbStaticUrl ]}img/{[ dimensionTabCtrl.tenant ]}/dimensions/{[ dimensionTabCtrl.dmbDimensionTab|underscoreToHyphen ]}.svg">
        {[dimensionTabCtrl.dimensionHeaders[dimensionTabCtrl.dmbDimensionTab]]}
      </h4>
      <h4 class="h-c-headline h-c-headline--two">
        <span ng-if="!dimensionTabCtrl.topLevel">
          {% trans "You could be" %} {[ dimensionTabCtrl.nextLevelData.mapValue ]}
        </span>
        <span ng-if="dimensionTabCtrl.topLevel">
          {% trans "Congratulations, you're in the top group for data maturity" %}
        </span>
      </h4>

      <div class="dmb-dimension-tabs__recommendations">
        <h4 class="h-c-headline h-c-headline--four">
          <span ng-if="!dimensionTabCtrl.topLevel">
            {% trans "Here's how you get there:" %}
          </span>
          <span ng-if="dimensionTabCtrl.topLevel">
            {% trans "Here's how to get even better:" %}
          </span>
        </h4>

        <ul class="dmb-dimension-tabs__recommendation-list">
          <li
              class="dmb-dimension-tabs__recommendation"
              ng-repeat="recommendation in dimensionTabCtrl.recommendations">
            <h5 class="dmb-dimension-tabs__recommendation-heading h-c-headline h-c-headline--subhead h-u-font-weight-medium">
              {[recommendation.header]}
            </h5>
            <p>
              {[recommendation.text]}
            </p>
            <a
                ng-if="recommendation.cta"
                class="dmb-dimension-tabs__recommendation-cta dmb-h-hidden--print h-c-button h-c-button--secondary"
                href="{[recommendation.cta.link]}"
                target="_blank">
              {[recommendation.cta.text]}
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>



</div>
