.dmb-referral-copy-row {
  border-bottom: 1px solid $h-gm-grey-500;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 8px;
  padding-bottom: 2px;
  word-break: break-all;

  .h-c-button {
    margin-left: 6px;
  }
}

.h-c-table th[data-glue-table-sort-type],
.h-c-table th[glue-table-sort-type] {
  user-select: none;

  span {
    display: flex;
    justify-content: space-between;

    &::after {
      content: url('../img/icons/filter.svg');
      display: inline-block;
      margin-left: 8px;
      transform-origin: 50% 50%;
      transition: transform .2s ease-in-out;
      width: 12px;
    }

    &:hover::after,
    &:focus::after {
      will-change: transform;
    }
  }
}


.h-c-table th[data-glue-table-sort-type='datetime'],
.h-c-table th[glue-table-sort-type='datetime'] {
  pointer-events: none;

  span {
    &::after {
      display: none;
    }
  }
}

.h-c-table th.goog-tablesorter-sorted-reverse {
  &::after {
    transform: rotateX(-180deg);
  }
}

form[name='referral'] {
  align-items: center;
  display: flex;
  flex-direction: column;

  .input-wrp {
    flex: 1;
    margin-bottom: 12px;
    width: 100%;

    input {
      width: 100%;
    }
  }

  .h-c-button {
    margin: 0;
    width: 100%;
  }

  @include bp(m) {
    flex-direction: row;

    .input-wrp {
      margin-bottom: 0;
      width: auto;
    }

    .h-c-button {
      margin-left: 16px;
      width: auto;
    }
  }
}
