.dmb-banner {
  border-bottom: 1px solid $dmb-color-grey-zircon;
  padding-bottom: 24px;

  @include dmb-mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  &__heading {
    margin-bottom: $dmb-spacing-s;
  }

  &__back {
    @include dmb-mq($from: tablet) {
      margin-right: 24px;
      padding-top: $dmb-spacing-xs;
    }
  }

  &__main {
    flex-grow: 1;

    @include dmb-mq($until: tablet) {
      margin: 20px 0;
    }
  }

  &__btn {
    &:not(:first-of-type) {
      margin-left: 16px;
    }
  }

  &__details-list {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

  &__details-list-item {
    align-items: center;
    color: $dmb-color-grey-shuttle;
    display: flex;

    @include dmb-mq($from: desktop) {
      font-size: 14px;
    }

    &:not(:first-of-type) {
      margin-left: 24px;
    }

    svg {
      margin-right: 8px;
    }
  }

  svg {
    fill: $dmb-color-grey-chateau;
    position: relative;
    top: -.03em;
  }
}
