.dmb-button {
  align-items: center;
  border-radius: 30px;
  display: inline-flex;
  font-family: $dmb-alt-font-family;
  font-size: 14px;
  justify-content: center;
  letter-spacing: .5px;
  line-height: 30px;
  margin-top: 24px;
  padding: 10px 16px;
  transition: background .3s;

  @include bp(m) {
    font-size: 16px;
    padding: 10px 21px;
  }

  &__icon {
    margin-top: -1px;
  }

  &__text + &__icon,
  &__icon + &__text {
    @include dmb-responsive(margin-left, 12, 15);
  }

  &--secondary {
    border: 1px solid $dmb-color-grey-link-water;

    &:hover {
      background: #f8f9fa;
    }
  }

  &--tertiary {
    background: $dmb-color-blue-solitude;
    color: $dmb-color-grey-shuttle !important;

    &:hover {
      background: #e8eaed;
    }
  }
}


// Can be added to an anchor tag or a button
.dmb-icon-button {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border-width: 0;
  box-shadow: $dmb-box-shadow;
  color: $dmb-color-grey-shuttle;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 56px;

  &:focus,
  &:hover {
    color: $dmb-color-blue-charade;
  }

  svg {
    fill: currentColor;
    width: 22px;
  }
}
