.dmb-card-on-bg {
  margin: 0 auto;
  max-width: 1024px;
  padding: 200px 16px 0;
  position: relative;

  &__bg {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__card {
    background: #fff;
    margin: 0 auto;
    max-width: 800px;
    @include dmb-resp-prop(padding, 20px, '30px 60px', '40px 80px');
  }
}
