.dmb-collaboration {
  $block: &;

  @include dmb-mq($from: tablet) {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  &:not(&--invert) {
    color: $dmb-color-grey-mid !important;
  }

  &--invert {
    #{$block}__text {
      color: $dmb-light-text-color !important;
    }
  }

  &__text,
  &__img {
    margin: 0 10px 10px 0;
  }

  &__text {
    position: relative;
    top: 2px;
  }

  &__img--bcg {
    height: 2em;
  }
}
