.dmb-collaboration {
  $block: &;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;

  &:not(&--invert) {
    color: $dmb-color-grey-mid !important;
  }

  &--invert {
    #{$block}__text {
      color: $dmb-light-text-color !important;
    }
  }

  &__text,
  &__img {
    margin: 0 10px 10px 0;
  }

  &__img--bcg {
    height: 2em;
  }
}
