.dmb-container {
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 40px 56px 56px;

  &__title {
    margin-bottom: 8px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    label {
      font-size: 14px;
    }

    input {
      border: 1px solid #9aa0a6;
      border-radius: 4px;
      margin-top: 8px;
      padding: 22px 16px;
    }

    select {
      appearance: none;
      border: 1px solid #9aa0a6;
      border-radius: 4px;
      margin-top: 8px;
      padding: 22px 16px;
    }
  }
}
