.dmb-cta-banner {
  background: $dmb-interactive-color;
  color: $dmb-light-text-color;

  &--mobile-only {
    @include dmb-mq($from: tablet) {
      display: none;
    }
  }

  .h-c-footnote {
    color: inherit;
  }
}
