.dmb-tab {
  border-top: 1px solid $dmb-color-grey-zircon;
  padding-top: 24px;

  @include bp(m) {
    padding: 70px 66px;
  }

  &__header-grid {
    margin: 0 !important;

    > .h-c-grid__col {
      h2 {
        margin-bottom: 16px;
      }

      &:nth-of-type(1) {
        @include bp(m) {
          padding-right: 49px;
        }
      }

      &:nth-of-type(2) {
        padding: 8px 0;

        @media (max-width: 1023px) {
          margin-top: 32px;
        }

        @include bp(m) {
          border-left: 1px solid $dmb-color-grey-gainsboro;
          padding-left: 53px;
        }

        @include print-styles {
          page-break-inside: avoid;
        }
      }
    }
  }

  &__subgrid {
    &.h-c-grid {
      margin: 0;
    }

    > .h-c-grid__col:nth-of-type(2) {
      @media (max-width: 1023px) {
        margin-top: 40px;
      }

      h3 {
        line-height: 46px;
        @include dmb-responsive(font-size, 36, 32);
        @include dmb-responsive(margin-bottom, 16, 20);

        @include bp(m) {
          br {
            display: none;
          }
        }
      }
    }
  }

  .dmb-progress-circle {
    font-family: $dmb-alt-font-family;
    width: 96px;

    &__results {
      margin-top: -16px;
      text-align: center;
      width: 96px;
    }

    &__result {
      font-weight: 500;
    }

    &__result,
    &__target {
      font-size: 22px;
    }
  }

  &__recommendation-block {
    h3 {
      margin-bottom: 16px;
    }

    @include print-styles {
      padding-top: 20px;
      page-break-before: always;
    }
  }

  &__recommendations {
    display: block;
    list-style: none;
    margin: 0 auto;
    max-width: 900px;
    @include dmb-responsive(margin-top, 28, 73);

    @include bp(m) {
      column-count: 2;
      column-gap: 27px;
    }
  }

  &__recommendation {
    background-color: $h-gm-grey-50;
    display: inline-block;
    margin-bottom: 22px;
    padding: 32px;
    width: 100%;

    @include screen-styles {
      page-break-inside: avoid;
    }

    @include print-styles {
      margin-bottom: $dmb-margin-small;
      padding: 16px;
    }
  }
}
