.dmb-dimension-tabs {
  $block: &;
  $dmb-recommendation-spacing: 24px;

  &__content {
    @include dmb-resp-prop(padding-top, 30px, 40px, 50px);
  }

  &__intro,
  &__results {
    @include dmb-resp-prop(margin-bottom, 50px, 60px, 80px);

    @include print-styles {
      margin-bottom: 30px;
    }
  }

  &__logo-col {
    @include screen-styles {
      text-align: center;
    }
  }

  &__logo {
    @include dmb-mq($until: tablet) {
      margin-bottom: 20px;
      width: 140px;
    }

    @include print-styles {
      width: 50px;
    }
  }

  &__results-heading,
  &__results-value {
    margin: 0;
  }

  &__results-value {
    @include dmb-mq($until: tablet) {
      margin-bottom: 20px;
    }
  }

  &__results-subheading {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__progress-grid {
    @extend .dmb-u-m-b-l;
  }

  &__recommendations-header {
    display: flex;

    img {
      height: 1.5em;
      margin: -3px 10px 0 0;
    }
  }

  &__recommendation-list {
    justify-content: space-between;
    list-style: none;
    margin: 0;

    @include dmb-mq($from: tablet) {
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
    }
  }

  &__recommendation {
    background: $dmb-color-blue-solitude;
    border-radius: $dmb-border-radius;
    display: block;
    margin-bottom: $dmb-recommendation-spacing;
    padding: $dmb-recommendation-spacing;

    @include dmb-mq($from: tablet) {
      width: calc(50% - (#{$dmb-recommendation-spacing} / 2));
    }
  }

  &__recommendation-heading {
    &.h-c-headline {
      margin-bottom: 20px;
    }
  }

  &__recommendation-cta {
    border: 1px solid $dmb-color-grey-zircon;
    margin-top: 20px;

    &.h-c-button.h-c-button--secondary {
      background: #fff;
      border-radius: $dmb-border-radius;
      color: $dmb-interactive-color;

      &:hover,
      &:focus {
        background: $dmb-color-grey-zircon;
      }
    }
  }

  // Change color of donut progress bar based on level
  @each $tenant, $value in $tenants {
    $tenant-levels: map-get($value, levels);

    #dmb-#{$tenant} & { // sass-lint:disable-line no-ids
      @each $level, $value in $tenant-levels {
        &__content--level-#{$level} {
          #{$block}__results-highlight {
            color: map-get($value, color);
          }
        }
      }
    }
  }
}
