.dmb-dimensions-tiles {
  // Local variables
  $number-of-tiles: 5;
  $tile-gutter: 10px;
  $tile-breakpoints: (
    0: 1.5,
    600px: 2.5,
    860px: 3.5,
    1024px: $number-of-tiles
  );
  $tile-ideal-width: 220px;
  $padding--v: 32px;
  $padding--h: 16px;

  position: relative;

  &::before {
    background-color: $h-google-grey-50;
    border: $h-tile-container-border;
    content: '';
    display: block;
    height: 85%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__header-headline {
    margin-top: 20px;
  }

  &__header-icon {
    @extend .h-c-tile__icon;
  }

  &__header {
    display: flex;
    flex-direction: row;
    padding: $padding--v $padding--h $padding--v #{$padding--h + $h-tile-container-padding + 1px};
  }

  &__header-body {
    padding-left: 25px;
  }

  &__headline {
    color: $h-tile-description-color;
    font-family: $h-font-family-google-sans;
    font-size: $h-tile-header-font-size;
    font-weight: $h-font-weight-medium;
    margin: 8px 0 5px;
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    margin: 0;
    padding-left: $padding--h + $h-site-padding-mobile - ($tile-gutter / 2);
    padding-right: $padding--h + $h-site-padding-mobile - ($tile-gutter / 2);

    @include bp(s) {
      padding-left: $padding--h + $h-site-padding - ($tile-gutter / 2);
      padding-right: $padding--h + $h-site-padding - ($tile-gutter / 2);
    }

    @include bp(m) {
      justify-content: center;
      padding: 0 #{$padding--h - ($tile-gutter / 2)} $padding--v;
    }

    @each $bp, $count in $tile-breakpoints {
      @media (min-width: #{$bp}) {
        width: #{100% * ($number-of-tiles / $count)};
      }
    }
  }


  &__item {
    display: flex;
    padding: 0 #{$tile-gutter / 2};

    @each $bp, $count in $tile-breakpoints {
      @media (min-width: #{$bp}) {
        width: #{100% / $count};
      }
    }
  }

  .h-c-tile {
    width: 100%;

    &__header {
      min-height: 0;
    }

    &__headline {
      margin-top: 16px;
    }

    &__description {
      margin-bottom: 16px;
    }
  }
}
