.dmb-form {
  &__input-wrapper {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  &__input,
  &__select {
    background: transparent;
    border: 1px solid $dmb-color-grey-zircon;
    border-radius: $dmb-border-radius;
    font-size: 14px;
    font-weight: $h-font-weight-regular;
    height: 56px;
    padding: 10px 15px;
    width: 100%;

    @include dmb-mq($from: desktop) {
      font-size: 16px;
    }
  }

  &__input::placeholder,
  &__select {
    color: $dmb-color-grey-shuttle;
  }

  &__error {
    color: $dmb-color-red-fire-engine;
  }
}
