// Hercules Header overrides.
$header-logo-text-override-max-width: 390px;

.dmb-header {
  &.h-c-header,
  .h-c-header__bar,
  .h-c-header__cta {
    @media (max-width: 1279px) {
      height: 56px !important; // stop header height from becoming 64px at 900px due to hercules styles
    }
  }

  .h-c-header {
    &__product-logo-text {
      @include dmb-responsive(font-size, 16, 18)
    }

    &__company-logo-img {
      @media (max-width: 1279px) {
        width: 50px;
      }
    }
  }
}
