.dmb-hero {
  @include hero();
  padding: 80px 0 70px;
  position: relative;

  &::before {
    @include hero-scrim();
  }

  @include bp(m) {
    padding: 112px 0 228px;
  }

  // To make sure sits on top of the gradient.
  .h-c-page {
    position: relative;
  }


  &__content {
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: $dmb-margin-medium;
  }

  &__description {
    margin-bottom: $dmb-margin-small;

    @include bp(l) {
      max-width: 460px;
    }
  }

  .dmb-icon-button {
    bottom: 40px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    svg {
      margin-top: 3px;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
