.dmb-hero {
  background-image: url('../img/hero/hero.jpg');
  background-size: cover;
  padding: 80px 0 70px;
  position: relative;

  &::before {
    background-image: linear-gradient(to left, rgba($h-black, 0) 0%, $h-white 100%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include bp(m) {
    padding: 193px 0 58px;
  }

  // To make sure sits on top of the gradient.
  .h-c-page {
    position: relative;
  }


  &__content {
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: $margin-medium;
  }

  &__description {
    margin-bottom: $margin-small;
    max-width: 300px;

    @include bp(l) {
      max-width: 460px;
    }
  }
}
