.dmb-hero {
  @include hero();
  padding: 80px 0 70px;
  position: relative;

  &::before {
    @include hero-scrim();
  }

  @include bp(m) {
    padding: 193px 0 58px;
  }

  // To make sure sits on top of the gradient.
  .h-c-page {
    position: relative;
  }


  &__content {
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: $dmb-margin-medium;
  }

  &__description {
    margin-bottom: $dmb-margin-small;
    max-width: 300px;

    @include bp(l) {
      max-width: 460px;
    }
  }
}
