body {
  counter-reset: hiw;
}

.dmb-hiw-section {
  @extend %dmb-section;
  $block: &;

  counter-increment: hiw;

  &__eyebrow,
  &__title {
    padding-left: 40px;
  }

  .dmb-partnership-with-bcg {
    @include bp(m) {
      position: absolute;
      transform: translateY(-100%);
    }
  }

  &__title {
    @extend .h-u-mt-std;
    padding-bottom: $dmb-margin-medium;
    position: relative;

    @include bp(m) {
      padding-bottom: $dmb-margin-big;
    }

    &::before {
      background-image: url('../img/icons/shield.svg');
      color: $h-white;
      content: counter(hiw);
      display: inline-block;
      font-family: $h-font-family-google-sans;
      font-size: 14px;
      height: 24px;
      left: 0;
      padding-top: 2px;
      position: absolute;
      text-align: center;
      top: 3px;
      width: 20px;
    }

  }

  &__phone {
    margin-top: -40px;
  }
}
