body {
  counter-reset: hiw;
}

.dmb-hiw-section {
  @extend %dmb-section;
  $block: &;

  counter-increment: hiw;

  &__eyebrow,
  &__title {
    padding-left: 40px;
  }

  .dmb-partnership-with-bcg {
    @include bp(m) {
      position: absolute;
      transform: translateY(-100%);
    }
  }

  &__title {
    @extend .h-u-mt-std;
    padding-bottom: $dmb-margin-medium;
    position: relative;

    @include bp(m) {
      padding-bottom: $dmb-margin-big;
    }

    &::before {
      background-image: url('../img/icons/shield.svg');
      color: $h-white;
      content: counter(hiw);
      display: inline-block;
      font-family: $h-font-family-google-sans;
      font-size: 14px;
      height: 24px;
      left: 0;
      padding-top: 2px;
      position: absolute;
      text-align: center;
      top: 3px;
      width: 20px;
    }

  }

  &__phone {
    margin-top: -40px;
  }
}


.dmb-dimensions-tiles {
  padding: $h-tile-container-padding;
  position: relative;

  &:before {
    background-color: $h-google-grey-50;
    border: $h-tile-container-border;
    content: '';
    display: block;
    height: 85%;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    top: 0;
  }

  .h-c-tile {
    max-height: 350px;
    width: 100%;
  }

  .h-c-tile-set {
    li {
      flex-basis: 220px;
      max-width: 220px;
    }
  }

  &__header-headline {
    margin-top: 20px;
  }

  &__header-icon {
    @extend .h-c-tile__icon;
  }

  &__header {
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
  }

  &__header-body {
    padding-left: 25px;
  }

  &__headline {
    color: $h-tile-description-color;
    font-family: $h-font-family-google-sans;
    font-size: $h-tile-header-font-size;
    font-weight: $h-font-weight-medium;
    margin: 8px 0 5px;
  }

}
