$dmb-half-col-width: calc(#{$h-col-width-base}% / 2);

.dmb-home-hero {
  padding-top: 173px;
  position: relative;

  @include dmb-mq($from: tablet) {
    padding: 40px 0;
  }

  @include dmb-mq($from: desktop) {
    align-items: center;
    display: flex;
    min-height: 600px;
  }

  &__card {
    background: #fff;
    border-radius: 2px;
    font-weight:  $h-font-weight-regular;
    padding: 20px;

    @include dmb-mq(tablet) {
      padding-left: $dmb-half-col-width;
    }
  }

  &__bg-img {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;

    @include dmb-mq($from: tablet) {
      background-position: right -200px center;
      background-size: cover;
      width: calc((100% - #{$dmb-half-col-width}) - 32px);
    }
  }
}
