$dmb-home-hero-card-bg: #fff;
$dmb-half-col-width: calc(#{$h-grid-column-width} / 2);

.dmb-home-hero {
  position: relative;
  @include dmb-resp-prop(padding-top, 173px, 17px, 38px, 77px);
  @include dmb-resp-prop(padding-bottom, 0, 17px, 38px, 77px);

  &__card {
    background: $dmb-home-hero-card-bg;
    border-radius: 2px;
    font-weight: 400;
    padding: 20px;

    @include dmb-mq(tablet) {
      padding-left: $dmb-half-col-width;
    }
  }

  &__bg-img {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;

    @include dmb-mq(tablet) {
      background-size: cover;
      width: calc((100% - #{$dmb-half-col-width}) - 32px);
    }
  }
}
