$dmb-half-col-width: calc(#{$h-col-width-base}% / 2);
$dmb-home-hero-card-bg: #fff;

.dmb-home-hero {
  padding-top: 173px;
  position: relative;

  &__grid { // IE10 bug fix: the media query only applies to IE 10 and 11
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 100%;
    }
  }

  @include dmb-mq($from: tablet) {
    padding: 40px 0;
  }

  @include dmb-mq($from: desktop) {
    align-items: center;
    display: flex;
    min-height: 600px;
  }

  &__card {
    background: #fff;
    border-radius: $dmb-border-radius;
    font-weight: $h-font-weight-regular;
    padding: 20px;

    @include dmb-mq(tablet) {
      padding: 30px;
      padding-left: calc(#{$h-grid-col-width} / 2);
    }

    @include dmb-mq(#{$h-site-width-desktop}) {
      padding: 40px;
      padding-left: calc(#{$h-grid-col-max-width} / 2);
    }
  }

  &__bg-img {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;

    @include dmb-mq($from: tablet) {
      background-position: right -200px center;
      background-size: cover;
      width: calc(100% - (#{$h-grid-col-width} / 2));
    }

    @include dmb-mq(#{$h-site-width-desktop}) {
      width: calc(100% - (#{$h-grid-col-max-width} / 2));
    }
  }

  &__footnote {
    @include dmb-mq(#{$h-site-width-desktop}) {
      margin-left: calc(#{$h-grid-col-max-width} / 2);
    }
  }
}
