// Can be added to an anchor tag or a button
.dmb-icon-button {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border-width: 0;
  box-shadow: $dmb-box-shadow;
  color: $dmb-color-grey-shuttle;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 56px;

  &:focus,
  &:hover {
    color: $dmb-color-blue-charade;
  }

  svg {
    fill: currentColor;
    width: 22px;
  }
}
