.dmb-img-text {
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;

  @include dmb-mq($until: tablet) {
    padding-top: 60px;
  }

  @include dmb-mq($until: 800px) {
    background-size: 55%;
  }

  &__heading {
    @include dmb-mq($from: tablet) {
      margin: 175px 0 120px;
    }

    @include dmb-mq($from: desktop) {
      margin: 250px 0 210px;
    }

    @include dmb-mq($from: wide) {
      margin: 400px 0 300px;
    }
  }

  &__tablet {
    margin-bottom: 100px;
    max-width: 700px;
    position: relative;
    right: -10%;
    transform: rotate(30deg);
    width: 80%;

    @include dmb-mq($from: tablet) {
      position: absolute;
      right: -4%;
      top: 10%;
      width: 40%;
    }
  }

  &__tablet-inner {
    border-radius: 10px;
    left: 55.5%;
    position: absolute;
    top: 10.5%;
    width: 53%;
  }

  &__mobile-inner {
    border-radius: 10px;
    position: absolute;
    right: 61%;
    top: 29%;
    width: 24%;
  }
}
