.dmb-img-text-collage {
  &__img-col {
    &--double {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        &:nth-of-type(2) {
          @include dmb-resp-prop(margin-top, 15px, 15px, 27px)
        }
      }
    }
  }

  &__tall-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  &__text-col {
    &.h-c-grid__col {
      @include dmb-mq($until: tablet) {
        margin-top: 20px;
      }
    }
  }
}
