.dmb-list-card {

  &,
  &--title {
    border: 1px solid $dmb-color-grey-zircon;
    padding: 0 $dmb-spacing-s;
  }

  &:last-of-type {
    border-radius: 0 0 $dmb-border-radius-large $dmb-border-radius-large;
  }

  &.glue-is-expanded {
    border-radius: $dmb-border-radius-large;
    box-shadow: $dmb-box-shadow;
    margin: $dmb-spacing-xs 0;
  }

  &__header {
    align-items: center;
    display: flex;
    padding: $dmb-spacing-s 0;

    &-left {
      flex-grow: 1;
    }

    &-right {
      flex-shrink: 0;
    }
  }

  &__header-left {
    flex-grow: 1;
  }

  &__header-right {
    flex-shrink: 0;
  }

  .dmb-button {
    svg {
      fill: $dmb-color-blue-royal;
      margin-right: 4px;
      position: relative;
      top: .15em;
    }
  }

  &__subtext {
    margin-left: $dmb-spacing-s;
  }

  &__toggle {
    align-self: center;

    svg {
      margin-right: 0;
      position: relative;
      top: 0;
    }
  }

  &__content {
    @include dmb-mq($from: tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__overall {
    flex-shrink: 0;
    padding-top: $dmb-spacing-xs;
    width: 120px;

    &-text {
      font-size: 18px;
      margin-top: $dmb-spacing-xs;
    }

    &-score {
      font-size: 16px;
      margin-top: $dmb-spacing-xs;
    }
  }

  &__dimension-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 24px;

    @include dmb-mq($from: tablet) {
      justify-content: space-between;
    }
  }

  &__dimension-list-item {
    min-width: 120px;
    padding: $dmb-spacing-xs;
  }

  &--title {
    border-radius: $dmb-border-radius-large $dmb-border-radius-large 0 0;
  }
}
