.dmb-list-card {
  $dmb-card-actions-height: 48px;

  border-radius: $dmb-border-radius-large;
  box-shadow: $dmb-box-shadow;

  &__header {
    align-items: center;
    display: flex;
    padding: $dmb-spacing-s;

    &-left {
      flex-grow: 1;
    }

    &-right {
      flex-shrink: 0;
    }
  }

  &__header-left {
    flex-grow: 1;
  }

  &__header-right {
    flex-shrink: 0;
  }

  .dmb-button {
    svg {
      fill: $dmb-color-blue-royal;
      margin-right: 4px;
      position: relative;
      top: .15em;
    }
  }

  &__subtext {
    margin-left: $dmb-spacing-s;
  }

  &__toggle {
    align-self: center;

    svg {
      margin-right: 0;
      position: relative;
      top: 0;
    }
  }

  &__content {
    padding: $dmb-spacing-xs $dmb-spacing-s #{$dmb-spacing-m + $dmb-card-actions-height};
    position: relative;

    @include dmb-mq($from: tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__overall {
    flex-shrink: 0;
    padding: $dmb-spacing-xs 0;
    width: 120px;

    &-text {
      font-size: 18px;
      margin-top: $dmb-spacing-xs;
    }

    &-score {
      font-size: 16px;
      margin-top: $dmb-spacing-xs;
    }
  }

  &__dimension-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;

    @include dmb-mq($from: tablet) {
      justify-content: space-between;
    }
  }

  &__dimension-list-item {
    min-width: 120px;
    padding: $dmb-spacing-xs;
  }

  &__actions {
    align-items: center;
    border-top: 1px solid $dmb-color-grey-shady-lady;
    bottom: 0;
    display: flex;
    height: $dmb-card-actions-height;
    justify-content: flex-end;
    padding: 0 $dmb-spacing-s;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &__action + &__action {
    margin-left: $dmb-spacing-s;
  }
}
