.dmb-note {
  background: $dmb-color-yellow-forget-me-not;
  border-radius: $dmb-border-radius-large;
  display: flex;
  padding: 24px;

  &, p {
    font-size: 14px;
  }

  &__icon-wrapper {
    margin-right: 16px;
    padding-top: .2em;

    svg {
      fill: currentColor;
    }
  }

  &--instructions {
    background: $dmb-color-blue-alice;
    border: 1px solid $dmb-color-blue-denim;
    color: $dmb-color-blue-denim;
  }
}
