.dmb-partnership-logo {
  $block: &;
  color: $dmb-color-grey-mid;

  &__text {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__img {
    height: 17px;
  }

  &--inline {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;

    @include dmb-mq($until: tablet) {
      flex-direction: column;
    }

    #{$block}__text {
      margin: 0 10px 10px 0;
    }
  }

  &--invert {
    color: $dmb-light-text-color;
  }
}
