.dmb-partnership-with-bcg {

  p {
    color: #9AA0A6;
    font-family: $h-font-family-google-sans;
    font-size: 14px;
    letter-spacing: .04em;
    padding-bottom: 5px;
  }

  img {
    height: 44px;
  }
}
