
$dmb-prog-circ-prog-bar-color: $dmb-color-blue-charade;
$dmb-prog-circ-bg-bar-color: $dmb-color-grey-athens;
$dmb-prog-circ-target-color: $dmb-color-grey-aluminium;
$dmb-prog-circ-inverted-bar-color: #fff;

.dmb-progress-circle {
  display: inline-block;
  max-width: 100%;
  position: relative;

  &__prog-svg {
    display: block;
    max-width: 100%;
    transform: rotate(-90deg);
  }

  &__bg-bar {
    stroke: $dmb-prog-circ-bg-bar-color;
  }

  &__prog-bar {
    stroke: $dmb-prog-circ-prog-bar-color;
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    stroke-linecap: round;
    transition: stroke-dashoffset $dmb-trans-time $dmb-trans-fn;
  }

  &__text,
  &__icon {
    left: 15%;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__text {
    font-family: 'Google Sans';
    font-size: 12px;
    letter-spacing: .96px;
    text-align: center;
  }

  &__icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 32px;
    margin: 0 auto;
    max-width: 70%;
    width: 32px;
  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__result {
    font-size: 3em;
  }

  &__target {
    color: $dmb-prog-circ-target-color;
    font-size: 1.5em;
  }
}
