.dmb-product-hero {
  position: relative;

  &__bg-img {
    left: 50%;
    max-width: 1440px;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__img-outer {
    max-width: 950px;
    min-width: 288px;
    width: 65%;
  }

  &__img-inner {
    border-radius: 5px;
    left: 24.75%;
    position: absolute;
    top: 1.5%;
    width: 50%;
  }

  // Pixel devices
  @media (max-width: 600px) {
    &__img-inner {
      left: 24%;
      min-width: 210px;
      top: 5%;
    }
  }

  // iPhones
  @media (max-width: 400px) {
    &__img-inner {
      left: 21.5%;
      min-width: 210px;
    }
  }

  // iPhone 5 + SE
  @media (max-width: 350px) {
    &__img-inner {
      left: 17%;
      min-width: 210px;
      top: 5%;
    }
  }

  &__color-bg {
    background: $dmb-color-blue-solitude;
    bottom: 0;
    height: 33%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
