$dmb-prog-table-border-color: $dmb-color-grey-zircon;
$dmb-prog-table-label-color: $dmb-color-grey-shuttle;
$dmb-prog-table-bar-color: $dmb-color-grey-light;
$dmb-prog-table-main-label-color: $dmb-color-black-russian;
$dmb-prog-table-main-bar-color: $dmb-color-blue-charade;
$dmb-prog-table-active-bg-color: $dmb-color-blue-alice2;
$dmb-prog-table-active-color: $dmb-color-blue-navy;
$dmb-prog-table-row-height-mobile: 10px;
$dmb-prog-table-row-height-desktop: 12px;

.dmb-progress-table {
  display: flex;
  font-family: $dmb-alt-font-family;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  @include print-styles {
    page-break-inside: avoid;
  }

  &__col {
    flex: 1 1 0;
    padding-top: 20px;

    @include bp(s) {
      box-shadow: 1px 0 0 $dmb-prog-table-border-color;
      padding-top: 15px;
    }

    &:nth-of-type(1) {
      flex: 0 0 175px;
    }

    @media (max-width: 600px) {
      width: 25%;

      &:nth-of-type(1) {
        display: none;
      }
    }

    &--nascent {
      position: relative;
    }
  }

  &__col-heading {
    display: none;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;

    @include bp(s) {
      display: block;
      font-size: 12px;
    }
  }

  &__rating {
    margin-left: 6px;

    @include bp(s) {
      bottom: 0;
      left: 100%;
      margin-left: 10px;
      position: absolute;
    }
  }

  &__row-wrp {
    position: relative;

    &::before {
      background-color: $h-gm-grey-100;
      border-radius: 5px;
      content: '';
      height: $dmb-prog-table-row-height-mobile;
      left: 0;
      position: absolute;
      top: 0;
      width: 400%;

      @include bp(s) {
        display: none;
      }
    }

    &:first-of-type {
      margin-top: 40px;

      @include bp(s) {
        margin-top: 55px;
      }
    }

    &:nth-of-type(3) {
      margin-bottom: calc(1em + 21px);

      @include bp(s) {
        margin-bottom: 47px;
      }
    }

    & ~ & {
      margin-top: 32px;

      @include bp(s) {
        margin-top: 20px;
      }

      @include print-styles {
        margin-top: 40px;
      }
    }
  }

  &__row {
    border-bottom: $dmb-prog-table-row-height-mobile / 2 solid $dmb-prog-table-bar-color;
    border-bottom-left-radius: $dmb-prog-table-row-height-mobile / 2;
    border-bottom-right-radius: $dmb-prog-table-row-height-mobile / 2;
    border-top: $dmb-prog-table-row-height-mobile / 2 solid $dmb-prog-table-bar-color;
    border-top-left-radius: $dmb-prog-table-row-height-mobile / 2;
    border-top-right-radius: $dmb-prog-table-row-height-mobile / 2;

    font-size: 12px;
    line-height: 1em;
    max-width: calc(400%);
    position: relative;
    transition: width $dmb-trans-time $dmb-trans-fn;
    width: 1px;

    @include print-styles {
      border-bottom-right-radius: $dmb-prog-table-row-height-desktop / 2;
      border-bottom-width: $dmb-prog-table-row-height-desktop / 2;
      border-top-right-radius: $dmb-prog-table-row-height-desktop / 2;
      border-top-width: $dmb-prog-table-row-height-desktop / 2;
      font-size: 16px;
      transition: none;
    }

    @include bp(s) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: $dmb-prog-table-row-height-desktop / 2;
      border-bottom-width: $dmb-prog-table-row-height-desktop / 2;
      border-top-left-radius: 0;
      border-top-right-radius: $dmb-prog-table-row-height-desktop / 2;
      border-top-width: $dmb-prog-table-row-height-desktop / 2;
      font-size: 16px;

      &.dmb-progress-table__row--value-four::after {
        background: linear-gradient(90deg, rgba($h-white, 0) 0%, rgba($dmb-prog-table-active-bg-color, 1) 100%);
        content: '';
        height: 12px;
        position: absolute;
        right: 0;
        top: -6px;
        width: 25%;
      }
    }

    &--main {
      border-color: $dmb-prog-table-main-bar-color;

      .dmb-progress-table__company,
      .dmb-progress-table__rating {
        color: $dmb-prog-table-main-label-color;
        font-size: 12px;
        font-weight: 500;

        @include bp(s) {
          font-size: 16px;
        }
      }

    }
  }

  &__banner {
    align-items: center;
    background: rgba($h-gm-grey-100, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    left: 0;
    min-height: 80px;
    padding: 14px 16px;
    position: absolute;
    top: 100px;
    width: 400%;

    @include bp(s) {
      background: rgba($h-gm-grey-100, .5);
      left: 15px;
      min-height: auto;
      top: 112px;
      width: calc(400% - 30px);
    }
  }

  &__label {
    color: $dmb-prog-table-label-color;
    font-size: 12px;
    left: 0;
    position: absolute;
    top: 12px;
    white-space: nowrap;

    @include bp(s) {
      bottom: -$dmb-prog-table-row-height-desktop / 2;
      font-size: 14px;
      position: relative;
      top: 8px;
    }
  }

  &__company {
    @include bp(s) {
      bottom: 0;
      margin-right: 27px;
      position: absolute;
      right: 100%;
    }
  }

  $dimensions: nascent, emerging, connected, multimoment;
  @each $dimension in $dimensions {
    &--#{$dimension} {
      .dmb-progress-table__col--#{$dimension} {
        background-color: $dmb-prog-table-active-bg-color;

        @include print-styles {
          border-left: 1px solid rgba($dmb-prog-table-border-color, .5);
          border-right: 1px solid rgba($dmb-prog-table-border-color, .5);
        }

        .dmb-progress-table__col-heading {
          display: block;
        }
      }
    }
  }

  .dmb-report-page__info {
    background-image: url('../img/icons/info.svg');
    display: none;
    height: 18px;
    top: 3px;

    @include bp(s) {
      display: inline-block;
    }
  }
}
