.dmb-registration {
  @extend %dmb-section;

  @include bp(m) {
    padding-top: 120px !important;
  }

  .input-wrp {
    margin: $dmb-margin-medium 0;

    &__error {
      color: $h-google-red-500;
      padding-top: 8px;
    }
  }

  .dmb-input-wrp {
    margin-bottom: 24px;
  }

  label {
    color: $h-gm-grey-700;
    display: block;
    margin-bottom: 8px;
  }

  .dmb-input {
    display: block;
    width: 100%;

    @include bp(m) {
      width: 75%;
    }
  }

  &__col-asset {
    padding-bottom: $dmb-margin-medium;
    text-align: center;
  }

  &__link {
    border: 1px dashed $h-gm-grey-500;
    border-radius: 5px;
    color: $h-google-blue-500;
    display: flex;
    flex-direction: column;
    margin: $dmb-margin-small 0;
    max-width: 700px;
    padding: 30px 20px;
    word-break: break-all;

    @include bp(m) {
      flex-direction: row;
      justify-content: space-between;
    }


    button {
      appearance: none;
      background-color: transparent;
      flex-shrink: 0;
      margin-top: $dmb-margin-small;

      @include bp(m) {
        margin-top: 0;
        padding-left: 80px;
      }
    }

  }

  &__title {
    margin-bottom: $dmb-margin-medium;
    max-width: 800px;
  }

  &__subhead {
    font-size: 18px;
    font-weight: $h-font-weight-regular;
    max-width: 589px;
  }

  &__share-copy {
    margin-bottom: $dmb-margin-medium;
    max-width: 700px;
  }
}
