.dmb-report-overall {
  &__intro {
    @include screen-styles {
      text-align: center;
    }
  }

  &__link {
    display: block;
    margin-top: 10px;
  }

  .dmb-progress-circle {
    max-width: 350px;

    @include dmb-mq($until: tablet) {
      margin: 20px auto;
      width: 170px;
    }
  }

  &__table-container {
    @include dmb-resp-prop(margin-top, 50px, 60px, 80px);
  }
}
