.dmb-result-detail {
  &__dimension-header {
    border-bottom: 1px solid $dmb-color-grey-shuttle;
  }

  &__section {
    padding-top: 70px;
  }

  &__label {
    color: $dmb-color-grey-shuttle;
    display: block;
    margin-bottom: 8px;
  }

  &__question-id,
  &__choice-value {
    display: none;
  }

  &__question-choices-body {
    padding: 10px 0 0 30px;
  }

  &__missing-question {
    background-color: $dmb-color-red-fire-engine;
    padding: 30px 0;
  }

  &__choices_no_match {
    padding: 30px 0;
  }
}
