.dmb-roadmap-section {
  @extend %dmb-section;

  &__title {
    @extend %dmb-section__title;
    text-align: center;

    &::before {
      background-image: url('../img/icons/bulb.svg');
      content: '';
      display: block;
      height: 70px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
    }
  }
}
