%dmb-section {
  padding: 56px 0;

  @include bp(m) {
    padding: 148px 0;
  }

  @include bp(m) {
    padding: 176px 0;
  }
}

%dmb-section__title {
  margin-bottom: $dmb-margin-medium;

  @include bp(m) {
    margin-bottom: $dmb-margin-big;
  }
}


.dmb-section {
  @extend %dmb-section;

  &__title {
    @extend %dmb-section__title;
  }
}
