.dmb-spinner {
  animation: spin 1s linear infinite;
  border: 5px solid $dmb-color-blue-solitude;
  border-radius: 50%;
  border-top: 5px solid $dmb-interactive-color;
  display: inline-block;
  height: 50px;
  width: 50px;

  @keyframes spin {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }
}

