.dmb-step-heading {
  $block: &;
  display: flex;

  &__icon {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 10px;
    position: relative;

    #{$block} & {
      counter-increment: step-heading;

      &::after {
        color: #fff;
        content: counter(step-heading);
        font-size: .8em;
        font-weight: 500;
        left: 50%;
        position: absolute;
        top: 3px;
        transform: translateX(-50%);
      }
    }
  }
}
