.dmb-svg {
  &--inline {
    height: .75em;
    margin-left: .3125em;
    margin-right: .3125em;
    width: .75em;
  }

  // Put color styles for specific SVGs here.
  // e.g.:
  // &--ads {
  //   fill: #873465;

  //   &:hover {
  //     fill: darken(#873465, 10%);
  //   }
  // }
}
