.dmb-svg {
  &--inline {
    align-self: center;
    height: 1em;
    margin-left: .5em;
    margin-right: .5em;
    width: 1em;
  }

  // Put color styles for specific SVGs here.
  // e.g.:
  // &--ads {
  //   fill: #873465;

  //   &:hover {
  //     fill: darken(#873465, 10%);
  //   }
  // }
}
