.dmb-svg {
  &--inline {
    height: .9em;
    margin-right: .5em;
    position: relative;
    top: .08em;
    width: .9em;
  }

  // Put color styles for specific SVGs here.
  // e.g.:
  // &--ads {
  //   fill: #873465;

  //   &:hover {
  //     fill: darken(#873465, 10%);
  //   }
  // }
}
