.dmb-table {
  $block: &;
  border: 1px solid $dmb-color-grey-zircon;
  border-radius: $dmb-border-radius-large;
  overflow: hidden;

  &--empty {
    align-items: center;
    display: flex;
    height: 500px;
    justify-content: center;
  }

  &__empty-table-icon {
    fill: $dmb-color-grey-zircon;
  }

  th,
  td {
    word-wrap: none;
  }


  th {
    font-weight: $h-font-weight-medium;
    padding: 10px;
    white-space: nowrap;

    @include dmb-mq($from: desktop) {
      padding: 20px 24px;
    }
  }

  td {
    line-height: 24px;
    padding: 0;

    &::before {
      @include dmb-mq($until: tablet)	{
        padding: 10px;
      }
    }

    &:first-of-type {
      font-family: $dmb-alt-font-family;
      font-weight: $h-font-weight-medium;

      a {
        color: inherit;
      }
    }

    &:not(:first-of-type) {
      font-size: 14px;

      &:not(.h-c-table__cell--numerical) {
        color: $dmb-color-grey-shuttle;
      }
    }

    a {
      color: inherit;
      display: block;
      height: 100%;
      max-width: 35ch;
      overflow: hidden;
      padding: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:visited {
        color: inherit;
      }

      @include dmb-mq($from: desktop) {
        padding: 24px;
      }
    }
  }
}

