.dmb-table {
  $block: &;

  td {
    white-space: nowrap;
  }

  .h-c-table {
    overflow: hidden;

    th[data-glue-table-sort-type],
    th[glue-table-sort-type] {
      user-select: none;

      &:hover,
      &:focus {
        &::after {
          will-change: unset; //to remove strange resizing on mouseout of table header cells
        }
      }

      span {
        display: flex;
        justify-content: space-between;

        &::after {
          content: url('../img/icons/filter.svg');
          display: inline-block;
          height: 15px;
          margin-left: 8px;
          width: 15px;
        }

        &:hover::after,
        &:focus::after {
          will-change: transform;
        }
      }
    }

    th.goog-tablesorter-sorted-reverse {
      span {
        &::after {
          transform: rotate(180deg) translateY(-50%);
        }
      }
    }
  }

  .h-c-table--datatable-altrows {
    tr {
      &:nth-of-type(even) {
        background-color: $dmb-color-blue-solitude;
      }
    }
  }

  .glue-js-table__caption {
    display: none !important;
  }

  &__ellipsis-col {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;

    &--long {
      max-width: 40ch;
    }
  }

  &__utc-date {
    display: none;
  }

  &__expand-row-btn {
    background: transparent;
    border: 0;
    white-space: nowrap;

    svg {
      height: 12px;
      margin-left: 10px;
      transform: rotate(180deg);
      width: 12px;
    }
  }

  &__subcell {
    display: none;
    padding-bottom: 22px;
    padding-top: 22px;

    &:first-of-type {
      margin-top: 22px;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    &--first {
      position: relative;

      &::before {
        border-top: 1px solid $dmb-color-grey-light;
        content: '';
        left: 0;
        position: absolute;
        top: -1px;
        width: 100vw;
      }
    }
  }

  &__expanded-row {
    #{$block}__subcell {
      display: block;
    }

    #{$block}__top-cell {
      display: none;
    }

    #{$block}__expand-row-btn {
      svg {
        transform: rotate(0);
      }
    }
  }
}
