.dmb-tile-carousel {
  background: $dmb-color-blue-solitude;

  &__intro {
    margin-bottom: 40px;
  }

  &__intro-img {
    width: 48px;
  }

  &__tiles {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  &__tile {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 315px;
    min-width: 220px;
    padding: 24px;
    // always show part of a card so the user know to scroll (max 5 cards)
    flex-basis: 60%;

    @include dmb-mq($from: 600px) {
      flex-basis: 45%;
    }

    @include dmb-mq($from: 850px) {
      flex-basis: 30%;
    }

    @include dmb-mq($from: 1200px) {
      flex-basis: 20%;
    }

    @include dmb-mq($from: 1350px) {
      flex-basis: 19%;
    }

    & + & {
      margin-left: 16px;
    }

    .h-c-tile__headline {
      margin-top: 0;
    }
  }

  &__tile-icon {
    display: inline-block;
    width: 48px;
  }
}
