.dmb-tile-carousel {
  background: $dmb-color-blue-solitude;

  &__intro {
    margin-bottom: 40px;
  }

  &__intro-img {
    width: 48px;
  }

  &__tiles {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }

  &__tile {
    flex: 1 0 240px;
    max-width: 300px;
    padding: 24px;

    & + & {
      margin-left: 16px;
    }

    .h-c-tile__headline {
      margin-top: 0;
    }
  }

  &__tile-icon {
    display: inline-block;
    width: 48px;
  }
}
