.dmb-toast {
  @extend .dmb-overlay;
  $block: &;

  bottom: 48px;
  display: none;
  left: 50%;
  min-width: 360px;
  padding: 14px 30px;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);

  &--active {
    animation: toast 7s linear forwards;
    display: block;

  }

  &--short#{$block}--active {
    animation-duration: 2.5s;
  }
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(.9);
  }

  2.5% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  97.5% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(.9);
  }
}
