.dmb-inline-img-text {
  $block: &;
  align-items: center;
  display: flex;

  &__img-wrp {
    margin-right: 10px;
  }

  &__img {
    height: 1.5em;
  }

  &--large {
    #{$block}__img {
      height: 1.5em;
    }
  }
}
