// fileoverview:
// Site variables and configuration


$tr-container-max-width: 1200px;
$tr-container-outer-margin: base-unit(2);


//Set up flexbox container
$flexboxgrid-max-width: $tr-container-max-width;
$flexboxgrid-outer-margin: $tr-container-outer-margin;
