// TENANT VARIABLES
$dmb-color-green-ecalyptus: #34a853;
$dmb-color-green-salem: #1e8e3e;
$dmb-color-green-jewel: #0d7533;
$dmb-color-green-jewel-dark: #0a4e22;

$dmb-news-primary-color: $dmb-color-green-ecalyptus;
$dmb-news-primary-color-light: $dmb-color-green-salem;
$dmb-news-primary-color-dark: $dmb-color-green-jewel;


// TENANT STYLES
.dmb--news {
  .dmb-primary-heading {
    color: $dmb-news-primary-color;
  }

  .dmb-home-hero {
    &__bg-img {
      background-image: url('../img/news/home-hero-s.jpg');

      @include dmb-mq(tablet) {
        background-image: url('../img/news/home-hero-m.jpg');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/news/home-hero-s@2x.jpg');

        @include dmb-mq(tablet) {
          background-image: url('../img/news/home-hero-m@2x.jpg');
        }
      }
    }
  }
}
