// TENANT VARIABLES
//sass-lint:disable no-ids
$dmb-color-green-eucalyptus: #34a853;
$dmb-color-green-salem: #1e8e3e;
$dmb-color-green-jewel: #0d7533;
$dmb-color-green-jewel-dark: #0a4e22;

$dmb-tenant-primary-color: $dmb-color-green-eucalyptus;

$level-colors: (
  nascent: $dmb-color-green-eucalyptus,
  developing: $dmb-color-green-salem,
  mature: $dmb-color-green-jewel,
  leading: $dmb-color-green-jewel-dark
);


// TENANT STYLES
// Try to only set colors, and background properties background-image, background-size and background-position
.dmb--news {
  // PRIMARY HEADING COLOR
  .dmb-primary-heading {
    color: $dmb-tenant-primary-color;
  }

  // HOME HERO IMAGES
  .dmb-home-hero {
    &__bg-img {
      background-image: url('../img/news/home/hero-mobile.jpg');

      @include dmb-mq(tablet) {
        background-image: url('../img/news/home/hero.jpg');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/news/home/hero-mobile@2x.jpg');

        @include dmb-mq(tablet) {
          background-image: url('../img/news/home/hero@2x.jpg');
        }
      }
    }
  }

  #dmb-landing {
    // IMAGE TEXT COLLAGE IMAGES
    .dmb-img-text-collage {
      &__img--1 {
        background-image: url('../img/news/home/collage-img1.jpg');
        background-position: center top;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('../img/news/home/collage-img1@2x.jpg');
        }
      }

      &__img--2 {
        background-image: url('../img/news/home/collage-img2.jpg');

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('../img/news/home/collage-img2@2x.jpg');
        }
      }

      &__img--3 {
        background-image: url('../img/news/home/collage-img3.jpg');

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('../img/news/home/collage-img3@2x.jpg');
        }
      }
    }

    // Add dimension colors to tab text, tab borders and content mobile border
    @each $level, $color in $level-colors {
      .dmb-home-tabs {
        .glue-pagination-tab[data-glue-pagination-label='#{$level}'] {
          .glue-c-tabset__button {
            color: $color; // tablet and desktop tab heading color
          }

          &.glue-is-active .glue-c-tabset__button {
            border-color: $color; // tablet and desktop tab border color
          }
        }

        .dmb-home-tabs__tab--#{$level} {
          .h-c-tabby__heading {
            color: $color; // mobile tab heading color
          }

          .dmb-home-tabs__tab-text {
            border-color: $color; // mobile border color
          }
        }
      }
    }

    .dmb-img-text {
      @include dmb-mq(tablet) {
        background-image: url('../img/news/home/img-text-img.png');
        background-position: right -50px top;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('../img/news/home/img-text-img@2x.png');
        }
      }

      @include dmb-mq($from: 700px) {
        background-position: right top;
      }
    }
  } //#dmb-landing

  .dmb-report-hero {
    @each $level, $color in $level-colors {
      .dmb-report-hero__current--#{$level} {
        background-color: $color;
      }

      .dmb-report-hero__next--#{$level} {
        background-color: $color;
      }
    }
  }

  // Change color of progress bar fill based on level
  @each $level, $color in $level-colors {
    .dmb-report-overall--#{$level} {
      .dmb-progress-circle__prog-bar {
        stroke: $color;
      }
    }
  }
}
