// TENANT VARIABLES
//sass-lint:disable no-ids
$dmb-color-green-eucalyptus: #34a853;
$dmb-color-green-salem: #1e8e3e;
$dmb-color-green-jewel: #0d7533;
$dmb-color-green-jewel-dark: #0a4e22;

$dmb-tenant-primary-color: $dmb-color-green-eucalyptus;

$dimension-colors: (
  nascent: $dmb-color-green-eucalyptus,
  developing: $dmb-color-green-salem,
  mature: $dmb-color-green-jewel,
  leading: $dmb-color-green-jewel-dark
);


// TENANT STYLES
.dmb--news {
  // PRIMARY HEADING COLOR
  .dmb-primary-heading {
    color: $dmb-tenant-primary-color;
  }

  // HOME HERO IMAGES
  .dmb-home-hero {
    &__bg-img {
      background-image: url('../img/news/home-hero-s.jpg');

      @include dmb-mq(tablet) {
        background-image: url('../img/news/home-hero-m.jpg');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/news/home-hero-s@2x.jpg');

        @include dmb-mq(tablet) {
          background-image: url('../img/news/home-hero-m@2x.jpg');
        }
      }
    }
  }

  // IMAGE TEXT COLLAGE IMAGES
  #dmb-landing {
    .dmb-img-text-collage {
      &__img--1 {
        background-image: url('../img/news/home-collage-img1.jpg');
        background-position: center top;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('../img/news/home-collage-img1@2x.jpg');
        }
      }

      &__img--2 {
        background-image: url('../img/news/home-collage-img2.jpg');

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('../img/news/home-collage-img2@2x.jpg');
        }
      }

      &__img--3 {
        background-image: url('../img/news/home-collage-img3.jpg');

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          background-image: url('../img/news/home-collage-img3@2x.jpg');
        }
      }
    }

    @each $dimension, $color in $dimension-colors {
      .glue-pagination-tab[data-glue-pagination-label='#{$dimension}'] {
        .glue-c-tabset__button {
          color: $color;
        }

        &.glue-is-active .glue-c-tabset__button {
          border-color: $color;
        }
      }

      .dmb-home-tabs__tab--#{$dimension} {
        .dmb-home-tabs__tab-heading {
          color: $color;
        }

        .dmb-home-tabs__tab-text {
          border-left-color: $color;
        }
      }
    };

  } //#dmb-landing
}
