{% extends 'public/base.html' %}
{% load staticfiles %}

{% block body_class %}dmb-report-page{% endblock %}

{% block main %}
<div dmb-report ng-cloak>

  {% include 'public/news/report/report-intro.inc.html' %}

  {% include 'public/news/report/report-hero.inc.html' with class='dmb-u-m-b-l' only %}

  {% include 'public/news/report/report-overall.inc.html' %}










  <aside id="dmb-report-left-side-panel-one" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Levels of digital marketing maturity
      </h1>
      <div ng-repeat="level in reportCtrl.levels">
        <h2 class="h-c-headline h-c-headline--three h-u-font-weight-medium">
          {[level]}
        </h2>
        <p>
          {[reportCtrl.levelDescriptions[$index]]}
        </p>
      </div>
    </div>
  </aside>

  <aside id="dmb-report-left-side-panel-two" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Benchmark calculations
      </h1>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Industry average
      </h2>
      <p>
        How news organisations perform on average; calculated based on survey responses from participants.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Industry best
      </h2>
      <p>
        This is the highest recorded score from a participant that completed the data maturity survey.
      </p>
    </div>
  </aside>

  <aside id="dmb-report-left-side-panel-three" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Four dimensions of digital maturity
      </h1>
      <p>
        We measure data maturity across four different dimensions. Enabling advanced capabilities across these dimensions helps set leaders apart from the rest and gives them a disproportionate ability to drive value with their audience data. Based on your strategic choices, not all of the dimensions may be applicable to your organisation.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Strategic direction and data foundations
      </h2>
      <p>
        Understand the role of data and the core capabilities required to successfully activate data within the organisation.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Reader engagement
      </h2>
      <p>
        Understanding critical audience segments and how to satisfy their preferences.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Reader revenue
      </h2>
      <p>
        Driving financial value directly from readers, whether through subscriptions or net new revenue opportunities.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Advertising revenue
      </h2>
      <p>
        Reaching the right audiences and delivering high-impact advertising campaigns that do not diminish the reader experience.
      </p>
    </div>
  </aside>

</div>
{% endblock %}

{% block footer %}
  {% include 'public/inc/global/footer.html' with footerClass="dmb-h-hidden--print" footerAttribute="ng-cloak" %}
{% endblock footer %}
