{% extends "public/ads/base.html" %}
{% load staticfiles %}

{% block body_class %}dmb-report-page{% endblock %}

{% block main %}
{% comment %}
  TODO(aabuelgasim): remove dmb-news class when we switch to news scss
{% endcomment %}
<div dmb-report ng-cloak class="dmb--news">

  {% include 'public/news/report/report-intro.inc.html' %}

  {% include 'public/news/report/report-hero.inc.html' %}


  <main class="dmb-report-page__content" id="dmb-report-page-main">
    <div class="h-c-page">
      <section class="dmb-report-page__maturity"> <!-- Your overall digital maturity -->
        <h2 class="h-c-eyebrow">Your overall data maturity</h2>

        <div class="h-c-grid">
          <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--12 h-c-grid__col-l--2">
            <div class="dmb-progress-circle">
              <svg
                  dmb-progress-circle="reportCtrl.result.dmb"
                  class="dmb-progress-circle__prog-svg"
                  viewbox="0 0 120 120">
              <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="10" />
              <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="10" />
              </svg>
              <div class="dmb-progress-circle__text">
                <p class="dmb-progress-circle__title">{[reportCtrl.result.dmb|dmbLevelText]}</p>
                <div class="dmb-progress-circle__values">
                  <span class="dmb-progress-circle__result">{[reportCtrl.result.dmb|number:1]}</span><span class="dmb-progress-circle__target">/<span
                      class="dmb-progress-circle__target--value">4</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="h-c-grid__col h-c-grid__col--align-middle h-c-grid__col--12 h-c-grid__col-l--9">
            <h3 class="dmb-report-page__content-title">
              <span class="dmb-report-page__headline-accent">Your maturity is</span> <strong>{[reportCtrl.result.dmb|dmbLevelText]}</strong>
              <button class="dmb-report-page__info" dmb-side-panel-trigger="#dmb-report-left-side-panel-one" aria-label="Get more informations about what your maturity represents">
                <img src="{% static 'img/icons/info.svg' %}" alt="question mark" />
              </button>
            </h3>
            <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 0">
              This is the most basic of the four levels of maturity. You have the basic tools, but often face cultural challenges to truly embracing data-supported decision-making.
            </p>
            <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 1">
              This is the most basic of the four levels of maturity. You have the basic tools, but often face cultural challenges to truly embracing data-supported decision-making.
            </p>
            <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 2">
              This is the third of the four levels of maturity. Data-informed decision-making is the standard across much of your organisation. While the technology and tools support various use cases, they are mostly on a project basis and not business as usual.
            </p>
            <p class="dmb-report-page__maturity-intro" ng-if="reportCtrl.floorDmb == 3">
              This is the most basic of the four levels of maturity. You have the basic tools, but often face cultural challenges to truly embracing data-supported decision-making.
            </p>
          </div>
        </div>

        <dmb-progress-table data-rating-main="reportCtrl.result.dmb" data-industry-avg="reportCtrl.industryResult.dmb"
          data-industry-best="reportCtrl.industryResult.dmb_bp" data-company-name="{[reportCtrl.survey.company_name]}"
          data-industry-ready="!!reportCtrl.industryResult">
        </dmb-progress-table>

      </section>

      <section class="dmb-report-page__dimensions"> <!-- 4 dimensions -->
        <h2 class="h-c-eyebrow h-c-eyebrow--wide">
          Dimensions of digital marketing maturity
          <button class="dmb-report-page__info" dmb-side-panel-trigger="#dmb-report-left-side-panel-three" aria-label="Get more informations about the 4 dimensions">
            <img src="{% static 'img/icons/info.svg' %}" alt="question mark" />
          </button>
        </h2>
        <p class="dmb-report-page__dimensions-intro">
          Together with Deloitte, we identified the four dimensions that drive digital transformation through data. Click the icons to see how you perform in each.
        </p>

        <div class="dmb-report-page__tabs" data-ng-if="reportCtrl.showTabs">
          <div class="dmb-report-page__tabs-icons">

            <div
                class="h-u-text-center"
                ng-repeat="dimension in reportCtrl.dimensions"> <!-- dimension tabs-->
              <div class="dmb-progress-circle dmb-progress-circle--{[dimension]}">
                <svg dmb-progress-circle="reportCtrl.result.dmb_d[dimension]" class="dmb-progress-circle__prog-svg" viewbox="0 0 120 120">
                  <circle class="dmb-progress-circle__bg-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                  <circle class="dmb-progress-circle__prog-bar" cx="60" cy="60" r="54" fill="none" stroke-width="12" />
                </svg>
                <div class="dmb-progress-circle__icon"></div>
              </div>
            </div> <!-- /dimension tabs -->

          </div>
          <div ng-if="reportCtrl.renderTabset">
            <div class="dmb-report-page__tabs-sticky-nav" aria-hidden="true" dmb-pin-top>
              <div class="h-c-page">
                <ul>

                  <li
                      ng-repeat="dimension in reportCtrl.dimensions">
                    <button
                        class="dmb-report-page__tabs-sticky-nav-btn"
                        ng-class="{'is-active': reportCtrl.model.activeEl == dimension}"
                        ng-click="reportCtrl.selectTab('dimension-tabs', dimension)">
                      {[reportCtrl.dimensionHeaders[dimension]]}
                    </button>
                  </li>

                </ul>
              </div>
            </div>
            <div class="glue-tabset"
                data-glue-tabset-state="['activeEl']"
                data-glue-state-id="dimension-tabs"
                data-glue-tabset-model="reportCtrl.model"
                data-glue-tabset-enable-arrow-nav
                ng-cloak>
              <ul>
                <li
                    ng-repeat="dimension in reportCtrl.dimensions"
                    data-glue-label="{[dimension]}"
                    id="{[dimension]}">
                  <h3>
                    {[reportCtrl.dimensionHeaders[dimension]]}
                  </h3>
                  <div>
                    <div
                      dmb-dimension-tab="{[dimension]}"
                      company-name="{[ reportCtrl.survey.company_name ]}">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        {% comment %}
          We need to duplicate the tabset and zippy ( instead of just taking advantage of the tabby controller), because we have a bug where,
          if 2 way data binding is enabled (to be able to build the sticky nav,) when closing the a panel the page scrolls to the top ( probably # left at the end of the url).
          Unfortunately I coulnd't find the reason why this happens. The issue is related to the tabby using deeplinking ( unfortunately that is enabled by default when using
          2 way data binding)
        {% endcomment %}

        <div class="dmb-report-page__dimension-zippy" data-ng-if="!reportCtrl.showTabs">
          <div class="glue-zippy-set h-t-hercules" ng-cloak>
            <ul class="h-c-expansion-panels__list">
              <li
                  class="glue-zippy glue-a-zippy--v-smooth-expand dmb-report-page__zippy-container"
                  ng-repeat="dimension in reportCtrl.dimensions"
                  ng-attr-id="{[ dimension ]}">
                <div class="glue-zippy-btn">
                  <h4 class="h-c-expansion-panels__button-header dmb-report-page__zippy-btn">
                    {[ reportCtrl.dimensionHeaders[dimension] ]}
                  </h4>
                  <svg role="img" aria-hidden="true" class="h-c-icon--18px h-c-expansion-panels__button-arrow">
                    <use xlink:href="#mi-arrow-item"></use>
                  </svg>
                </div>
                <div class="glue-zippy-content">
                  <div
                      dmb-dimension-tab="{[dimension]}"
                      company-name="{[ reportCtrl.survey.company_name ]}">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section> <!-- /4 dimensions -->

      {% comment "Out of scope for now, we will enable this in the future" %}
      <!-- <div class="h-u-text-right">
        <a href="#" class="h-c-link h-c-link--internal dmb-h-hidden--print">
          Go to next dimension
          <svg role="img" class="h-c-icon h-c-icon--link h-c-icon--arrow-forward">
            <use xlink:href="#mi-arrow-forward"></use>
          </svg>
        </a>
      </div> -->
      {% endcomment %}
    </div> <!-- h-c-page -->
  </main> <!-- #dmb-report-page-main -->

  <div class="dmb-report-page__appendix dmb-h-mb--medium dmb-h-hidden--screen">
    <div class="h-c-page">
      <h2 class="h-c-headline h-c-headline--three dmb-print-page-header">Appendix</h2>
    </div>
  </div>

  <aside id="dmb-report-left-side-panel-one" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Levels of digital marketing maturity
      </h1>
      <div ng-repeat="level in reportCtrl.levels">
        <h2 class="h-c-headline h-c-headline--three h-u-font-weight-medium">
          {[level]}
        </h2>
        <p>
          {[reportCtrl.levelDescriptions[$index]]}
        </p>
      </div>
    </div>
  </aside>

  <aside id="dmb-report-left-side-panel-two" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Benchmark calculations
      </h1>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Industry average
      </h2>
      <p>
        How news organizations perform on average; calculated based on survey responses from participants.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Industry best
      </h2>
      <p>
        This is the highest recorded score from a participant that completed the data maturity survey.
      </p>
    </div>
  </aside>

  <aside id="dmb-report-left-side-panel-three" class="dmb-side-panel dmb-side-panel--left dmb-side-panel--narrow" dmb-side-panel>
    <button class="dmb-side-panel__fab dmb-fab" dmb-side-panel-close>
      <span class="dmb-fab__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="#mi-close"></use>
        </svg>
      </span>
    </button>
    <div class="dmb-side-panel__inner">
      <h1 class="h-c-headline h-c-headline--three">
        Four dimensions of digital maturity
      </h1>
      <p>
        We measure data maturity across four different dimensions. Enabling advanced capabilities across these dimensions helps set leaders apart from the rest and gives them a disproportionate ability to drive value with their audience data. Based on your strategic choices, not all of the dimensions may be applicable to your organization.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Strategic direction and data foundations
      </h2>
      <p>
        Understand the role of data and the core capabilities required to successfully activate data within the organization.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Reader engagement
      </h2>
      <p>
        Understanding critical audience segments and how to satisfy their preferences.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Reader revenue
      </h2>
      <p>
        Driving financial value directly from readers, whether through subscriptions or net new revenue opportunities.
      </p>
      <h2 class="h-c-headline h-c-headline--subhead h-u-font-weight-medium">
        Advertising revenue
      </h2>
      <p>
        Reaching the right audiences and delivering high-impact advertising campaigns that do not diminish the reader experience.
      </p>
    </div>
  </aside>

</div>
{% endblock %}

{% block footer %}
  {% include 'public/inc/global/footer.html' with footerClass="dmb-h-hidden--print" footerAttribute="ng-cloak" %}
{% endblock footer %}
