{% extends 'public/base.html' %}

{% block body_class %}dmb-report-page{% endblock %}

{% block main %}
<main id="dmb-report" dmb-report ng-cloak>
  {% include 'public/news/report/report-intro.inc.html' %}
  {% include 'public/news/report/report-hero.inc.html' %}
  {% include 'public/news/report/report-overall.inc.html' %}
  {% include 'public/news/report/report-dimensions.inc.html' %}
</main>

<div class="dmb-report-page__appendix dmb-h-hidden--screen">
  <h2 class="h-c-headline h-c-headline--three">
    Appendix
  </h2>
</div>

{% include 'public/inc/side-panels/levels-side-panel.inc.html' %}
{% include 'public/inc/side-panels/industry-side-panel.inc.html' %}
{% include 'public/news/side-panels/dimensions-side-panel.inc.html' %}

{% endblock %}

{% block footer %}
{% include 'public/inc/global/footer.html' with footerClass="dmb-h-hidden--print" footerAttribute="ng-cloak" %}
{% endblock footer %}
