.tr-accordion {
  dt {
    border-top: 1px solid $tr-zircorn;
    cursor: pointer;
    margin-left: 0;
    position: relative;

    &::before {
      background-image: url('../img/accordion-arrow.svg');
      background-repeat: no-repeat;
      content: '';
      height: 9px;
      position: absolute;
      right: 20px;
      top: 20px;
      transform: rotate(180deg);
      transition: all .5s;
      width: 12px;
    }


    h3 {
      @extend .col-xs-8;
      margin: base-unit(3) 0;
    }
  }

  dd {
    @extend .tr-p-smaller;
    margin-bottom: base-unit(2);
    margin-left: 0;

    p {
      @extend .col-xs-8;
    }

  }

  .tr-accordion-section-closed {
    dt::before {
      transform: rotate(0deg);
    }

    dd {
      display: none !important;
    }
  }
}
