.tr-header {
  height: $tr-header-height;
  position: fixed;
  top: 0;
  width: 100%;

  &--sticky {
    .tr-header__container {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
      transform: translateY(0%);
      will-change: transform;
    }

    .tr-header__site-title {
      color: $tr-logo-font;
    }
  }

  &--static {
    display: block;
    position: relative;

    .tr-header__site-title {
      color: $tr-logo-font;
    }
  }

  &__container {
    align-items: center;
    background-color: $tr-white;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    transform: translateY(-100%);
    transition: transform .3s;
  }

  &__site-title {
    align-items: center;
    color: $tr-white;
    display: flex;
    height: 100%;
    padding-left: $tr-container-outer-margin;
    position: absolute;
    top: 0;
    transition: color .3s;
    z-index: 1;
  }

  &__action-wrp {
    .tr-btn {
      align-items: center;
      display: flex;
      height: $tr-header-height;
      margin: 0;
    }

  }
}
