.tr-hero {
  background-image: url('../img/hero/hero.jpg');
  background-position: center;
  background-size: cover;
  color: $tr-white;

  &::before {
    background: linear-gradient(to left, rgba($tr-white, 0) 0%, rgba(#4F4F4F, .35) 20%, rgba($tr-black, 0.51) 80%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .wrapper {
    position: relative;
    @include mq($until: tablet) {
      padding-bottom: base-unit(2);
    }
  }


  &__dmb {
    display: none;
    margin-bottom: base-unit(7);

    @include mq($from: tablet) {
      display: block;
    }
  }

  &__title {
    margin-bottom: base-unit(4);
    margin-top: base-unit(6);

    @include mq($from: tablet) {
      margin-bottom: base-unit(13);
      margin-top: 0;
    }
  }

  &__get-started {
    @include mq($until: mobile) {
      display: block;
      text-align: center;
    }
  }

  &__bcg-logo {
    margin-top: base-unit(3);
    text-align: right;

    @include mq($from: tablet) {
      bottom: base-unit(8);
      position: absolute;
      right: $tr-container-outer-margin;
    }

    p {
      @include mq($until: tablet) {
        font-size: 8px;
        margin-bottom: 0;
      }
    }

    img {
      height: base-unit(3);
      margin-right: -5px;

      @include mq($from: tablet) {
        height: base-unit(5);
      }
    }
  }
}
