.tr-registration {
  padding-bottom: base-unit(20);

  &__title {
    @include spacing(mb, 5);
    font-size: $tr-h1-mobile-font-size;
    font-weight: $tr-h1-mobile-font-weight;
    line-height: $tr-h1-mobile-line-height;

    @include mq($from: tablet) {
      @include spacing(mt, 7);
      font-size: $tr-h2-font-size;
      font-weight: $tr-h2-font-weight;
      line-height: $tr-h2-line-height;
    }
  }

  &__desc {
    margin-bottom: base-unit(5);

    @include mq($from: tablet) {
      margin-bottom: base-unit(6);
    }
  }

  &__disclaimer {
    font-size: $tr-h4-font-size;
    font-weight: $tr-h4-font-weight;
    line-height: $tr-h4-line-height;
    margin-bottom: base-unit(5);

    @include mq($from: tablet) {
      margin-bottom: base-unit(6);
    }
  }

  &__confirmation-paragraph {
    @include spacing(mb, 3);
    @include mq($from: tablet) {
      @include spacing(mb, 6);
    }
  }

  &__confirmation {
    @include spacing(mt, 5);
  }

  &__link {
    font-size: $tr-font-size-default;
    word-break: break-all;
  }

  &__confirmation-step {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    & + & {
      margin-top: base-unit(9);
      @include mq($from: tablet) {
        margin-top: 0;
      }
    }

    @include mq($from: tablet) {
      @include spacing(pt, 6);
    }

    &::before {
      @include spacing(s, 3);
      border: 1px solid $tr-gray;
      border-radius: 50%;
      color: $tr-gray;
      content: '1';
      display: block;
      margin-left: -(base-unit(5));
      position: absolute;
      text-align: center;
      top: 0;

      @include mq($from: tablet) {
        margin-left: 0;
      }
    }

    & + & {
      &::before {
        content: '2';
      }
    }
  }
}
