.section-slider {
  transition: background-color .3s;

  // &__title {
  //   text-align: center;

  //   @include mq($from: tablet) {
  //     text-align:
  //   }
  // }

  .slick-dots {
    li,
    button {
      height: auto;
      width: auto;
    }

    button::before {
      background-color: $tr-white;
      border-radius: 4px;
      content: '';
      display: block;
      height: base-unit(1);
      left: auto;
      position: static;
      top: auto;
      transition: background-color .5s, width .5s;
      width: base-unit(1);

    }

    .slick-active {
      button::before {
        border-radius: 4px;
        width: 40px;
      }
    }
  }
}
