.tr-parallax-section {
  $block: &;

  &__title-wrp {
    position: relative;
    z-index: 1;
  }

  &__title {
    position: relative;
    z-index: 1;
  }

  &__parallaxed-img {
    left: -60%;
    position: absolute;
    top: base-unit(15);
    transition: transform .7s;
    will-change: transform;
    z-index: 0;

    &--before {
      transform: translateY(base-unit(-20));
    }

    &--after {
      transform: translateY(base-unit(35));
    }
  }

  &__bottom {
    position: relative;

    p {
      position: relative;
      z-index: 1;
    }
  }


  &__eyebrow {
    margin-bottom: base-unit(8);
    opacity: 1;

    span {
      border-left: 1px solid $tr-bastille;
      display: inline-block;
      max-width: 220px;
      padding: 0 base-unit(2);
    }

    &--transition-opacity {
      transition: opacity .2s .1s;
    }

    &--align-right {
      text-align: right;
    }

    &--light {

      span {
        border-left: 1px solid $tr-white;
        color: $tr-white;
      }
    }

    &--sticky {
      position: fixed;
    }

    &--hidden {
      opacity: 0;
      transition: none;
    }

    &--faded-out {
      opacity: 0;
    }
  }

  &__phone-img {
    max-width: 100%;
  }


  &--bg-image {
    .tr-parallax-section__parallaxed-img {
      background-image: url('../img/hero.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 200%;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &--data-transform {

    .tr-parallax-section__parallaxed-img {
      left: 8%;

      &--after {
        transform: translateY(base-unit(10));
      }
    }
  }

  &--get-started {
    #{$block}__eyebrow {
      position: absolute;
      top: base-unit(10);
    }

    #{$block}__parallaxed-img {
      left: auto;
      position: relative;
      top: auto;

      &--before {
        transform: translateY(-70%);
      }

      &--after {
        transform: translateY(0);
      }
    }
  }

}
