.dmb-reports-admin {
  $block: &;
  $table: '.dmb-reports-admin__table';

  margin: 0 16px;
  @include dmb-responsive(padding-top, 32, 66);

  @include bp(m) {
    margin: 0 50px;
  }

  @include bp(l) {
    margin: 0 100px;
  }

  &__intro {
    padding: 0 24px;
  }

  &__title {
    margin-top: 20px;
    @include dmb-responsive(margin-bottom, 16, 48);
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__create-survey {
    background: $dmb-color-blue-solitude;
    list-style: none;
    margin: 0 0 64px;
    max-width: 1280px;
    padding: 24px;

    li {
      @include bp(m) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    @include bp(m) {
      display: flex;
    }

    .dmb-right-panel-trigger {
      margin: 0;
    }
  }

  &__survey-creation-text {
    padding: 16px 0 24px;
  }

  &__referral-wrp {
    margin-top: 32px;

    @include bp(m) {
      margin-left: 32px;
      margin-top: 0;
    }
  }

  #survey-link {  // sass-lint:disable-line no-ids
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__table {
    background: none;

    td {
      white-space: nowrap;
    }

    th[data-glue-table-sort-type]::after,
    th[glue-table-sort-type]::after {
      display: block;
      margin-left: 0;
    }

    .h-c-table {
      overflow: hidden;
    }

    .h-c-table--datatable-altrows {
      tr {
        &:nth-of-type(even) {
          background-color: $dmb-color-blue-solitude;
        }
      }
    }

    &-org-td {
      max-width: 20ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-ind-td {
      max-width: 35ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-date {
      display: none;
    }

    &-history-btn {
      &.h-c-button {
        margin-left: 5px;
      }

      svg {
        height: 12px;
        margin-left: 10px;
        transform: rotate(180deg);
        width: 12px;
      }
    }

    &-subcell {
      display: none;
      padding-bottom: 22px;
      padding-top: 22px;

      &:first-of-type {
        margin-top: 22px;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &--first {
        position: relative;

        &::before {
          border-top: 1px solid $dmb-color-grey-light;
          content: '';
          left: 0;
          position: absolute;
          top: -1px;
          width: 100vw;
        }
      }
    }

    &-expanded-row {
      #{$table}-subcell {
        display: block;
      }

      #{$table}-top-report-cell {
        display: none;
      }

      #{$table}-history-btn {
        svg {
          transform: rotate(0);
        }
      }
    }

    &-account-wrapper {
      align-items: center;
      display: flex;
      position: relative;

      .h-c-button.h-c-button--flat {
        line-height: 0;
        margin-left: 10px;
      }
    }

    &-account-text {
      flex-grow: 1;
    }

    &-account-edit-btn {
      &.h-c-button {
        margin-left: 10px;
      }
    }

    &-account-form {
      align-items: center;
      display: none;
      left: -11px;
      position: absolute;

      .dmb-spinner {
        border-top-width: 4px;
        height: 24px;
        margin-left: 10px;
        width: 24px;
      }
    }

    &-account-input {
      // TODO(aabuelgasim): use the 3 varibales below once this ticket is merged https://gitlab.com/potato/google/digital-maturity-benchmark/dmb-publishers/issues/339
      // border: 1px solid $dmb-color-interactive;
      border: 1px solid #1a73e8;
      // border-radius: $dmb-border-radius;
      border-radius: 2px;
      padding: 5px 10px;
      width: 7ch;

      &:focus {
        // border: 1px solid $dmb-color-blue-dark-cerulean;
        border: 1px solid #053975;
      }
    }

    &-editing-account-row {
      #{$table}-account-text,
      #{$table}-account-edit-btn {
        display: none;
      }

      #{$table}-account-form {
        display: flex;
      }
    }
  }

  .glue-js-table__caption {
    display: none !important;
  }

  .h-c-table {
    th[data-glue-table-sort-type],
    th[glue-table-sort-type] {
      &:hover,
      &:focus {
        &::after {
          will-change: unset; //to remove stange resizing on mouseout of table header cells
        }
      }
    }
  }
}
