.dmb-reports-admin {
  $spacing: 24px;

  &__card:first-of-type {
    @include dmb-mq($until: 1280px) {
      margin-bottom: $spacing;
    }
  }

  $create-survey-switch-bp: 1200px;

  &__create-survey {
    @include dmb-mq($from: $create-survey-switch-bp) {
      display: flex;
    }
  }

  &__create-survey-step {
    &:first-of-type {
      @include dmb-mq($until: $create-survey-switch-bp) {
        margin-bottom: $spacing;
      }

      @include dmb-mq($from: $create-survey-switch-bp) {
        border-right: 1px solid $dmb-color-grey-zircon;
        margin-right: $spacing;
        padding-right: $spacing;
      }
    }
  }

  &__export {
    display: flex;
    flex-direction: column;

    &-actions {
      align-items: center;
      border-top: 1px solid $dmb-color-grey-zircon;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      padding-top: 24px;
    }
  }

  // &__title {
  //   margin-top: 20px;
  //   @include dmb-responsive(margin-bottom, 16, 48);
  // }

  // &__subtitle {
  //   margin-bottom: 16px;
  // }

  // &__create-survey {
  //   background: $dmb-color-blue-solitude;
  //   list-style: none;
  //   margin: 0 0 64px;
  //   max-width: 1280px;
  //   padding: 24px;

  //   li {
  //     @include bp(m) {
  //       flex-basis: 50%;
  //       max-width: 50%;
  //     }
  //   }

  //   @include bp(m) {
  //     display: flex;
  //   }

  //   .dmb-right-panel-trigger {
  //     margin: 0;
  //   }
  // }

  // &__survey-creation-text {
  //   padding: 16px 0 24px;
  // }

  // &__referral-wrp {
  //   margin-top: 32px;

  //   @include bp(m) {
  //     margin-left: 32px;
  //     margin-top: 0;
  //   }
  // }

  // #survey-link {  // sass-lint:disable-line no-ids
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  // }

  &__table {
    background: none;

    td {
      white-space: nowrap;
    }

    th[data-glue-table-sort-type]::after,
    th[glue-table-sort-type]::after {
      display: block;
      margin-left: 0;
    }

    .h-c-table {
      overflow: hidden;
    }

    .h-c-table--datatable-altrows {
      tr {
        &:nth-of-type(even) {
          background-color: $dmb-color-blue-solitude;
        }
      }
    }

    .dmb-reports-admin__table-small-text {
      font-size: 14px;
    }

    th:first-of-type,
    td:first-of-type {
      max-width: 20ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th.dmb-reports-admin__industry-col,
    td.dmb-reports-admin__industry-col {
      max-width: 45ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-date {
      display: none;
    }

    &-history-btn {
      background: transparent;
      border: 0;
      white-space: nowrap;

      svg {
        height: 12px;
        margin-left: 10px;
        transform: rotate(180deg);
        width: 12px;
      }
    }

    &-subcell {
      display: none;
      padding-bottom: 22px;
      padding-top: 22px;

      &:first-of-type {
        margin-top: 22px;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &--first {
        position: relative;

        &::before {
          border-top: 1px solid $dmb-color-grey-light;
          content: '';
          left: 0;
          position: absolute;
          top: -1px;
          width: 100vw;
        }
      }
    }

    &-expanded-row {
      $block: '.dmb-reports-admin__table';

      #{$block}-subcell {
        display: block;
      }

      #{$block}-top-report-cell {
        display: none;
      }

      #{$block}-history-btn {
        svg {
          transform: rotate(0);
        }
      }
    }
  }

  .glue-js-table__caption {
    display: none !important;
  }

  .h-c-table {
    th[data-glue-table-sort-type],
    th[glue-table-sort-type] {
      &:hover,
      &:focus {
        &::after {
          will-change: unset; //to remove stange resizing on mouseout of table header cells
        }
      }
    }
  }
}
