// sass-lint:disable no-ids no-url-domains no-url-protocols

$top-header-h: base-unit(10);
$header-min-height: base-unit(90);


.Skin {
  #SkinContent,
  .SkinInner {
    margin: 0;
    min-width: auto;
    max-width: none;
    width: 100%;
  }

  #SkinContent {
    padding: 0;
  }

  #Questions {
    @include spacing(py, 12);
    @extend .wrapper;
    @extend .container-fluid;
  }

  #SkinContent,
  #HeaderContainer {
    background: transparent;
    margin-bottom: 0;
  }

  #LogoContainer {
    @include spacing(py, 4, true);
    height: $top-header-h;
    position: relative;
    z-index: 1;
  }


  #HeaderContainer {
    background: transparent;
    color: $tr-white;
    display: flex;
    min-height: calc(100vh);
    margin: 0;
    position: relative;
    margin-top: -$top-header-h;
    padding-top: $top-header-h;
    padding-left: 0;
    padding-right: 0;

    &::before {
      background-image: url('https://survey-dot-potato-trev-test.appspot.com/static/img/survey-hero.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100vw;
      margin-left: -16px;
    }

    @include mq(tablet) {
      align-items: center;
    }
  }

  #Header {
    color: $tr-white;
    @extend .wrapper;
    @extend .container-fluid;
  }

  .hero {

    &__content {
      position: relative;
      padding-bottom: 40px;

      @include mq(tablet) {
        top: -$top-header-h;
        max-width: 650px;
      }
    }

    &__title-intro {
      // font-size: 22px;
      // line-height: 28px;
      margin-bottom: base-unit(5);
      // font-weight: 700;

      @include mq($from: desktop) {
        margin-bottom: base-unit(1);
      }
    }

    &__title {
      // font-size: 36px;
      font-weight: $tr-font-weight-bold;
      // line-height: 40px;
      margin-bottom: base-unit(5);
      text-transform: capitalize;

      // @include mq($from: tablet) {
      //   font-size: 70px;
      //   line-height: 70px;
      // }
    }

    &__description {
      // font-size: 18px;
      margin-bottom: base-unit(5);

      @include mq($from: tablet) {
        max-width: 470px;
      }

      // @include mq($from: desktop) {
      //   font-size: 20px;
      // }
    }
  }
}
