// sass-lint:disable no-ids no-url-domains no-url-protocols

$top-header-h: base-unit(10);
$header-min-height: base-unit(90);


.Skin {
  #SkinContent,
  .SkinInner {
    margin: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
  }

  #SkinContent {
    padding: 0;
  }

  #Questions {
    @extend .wrapper;
    @extend .container-fluid;
    @include spacing(py, 12);
  }

  #SkinContent,
  #HeaderContainer {
    background: transparent;
    margin-bottom: 0;
  }

  #LogoContainer {
    @include spacing(py, 4, true);
    height: $top-header-h;
    position: relative;
    z-index: 1;
  }

  #Logo {
    background: url('../img/dmb-logo-light.svg') left center no-repeat;
  }


  #HeaderContainer {
    background: transparent;
    color: $tr-white;
    display: flex;
    margin: 0;
    margin-top: -$top-header-h;
    min-height: calc(100vh);
    padding-left: 0;
    padding-right: 0;
    padding-top: $top-header-h;
    position: relative;

    &::before {
      background-image: url('https://survey-dot-potato-trev-test.appspot.com/static/img/survey-hero.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 100%;
      margin-left: -16px;
      position: absolute;
      top: 0;
      width: 100vw;
    }

    @include mq(tablet) {
      align-items: center;
    }
  }

  #Header {
    @extend .wrapper;
    @extend .container-fluid;
    background: transparent;
    color: $tr-white;
    padding-bottom: 40px;
    position: relative;
  }

  .hero {

    &__content {
      position: relative;

      @include mq(tablet) {
        max-width: 650px;
        top: -$top-header-h;
      }
    }

    &__title-intro {
      margin-bottom: base-unit(5);

      @include mq($from: desktop) {
        margin-bottom: base-unit(1);
      }
    }

    &__title {
      font-weight: $tr-font-weight-bold;
      margin-bottom: base-unit(5);
      text-transform: capitalize;
    }

    &__description {
      margin-bottom: base-unit(5);

      @include mq($from: tablet) {
        max-width: 470px;
      }
    }

    &__bcg-logo {
      margin-top: base-unit(3);
      text-align: right;

      img {
        height: base-unit(3) !important;

        @include mq($from: tablet) {
          height: base-unit(5) !important;
        }
      }

      @include mq($from: tablet) {
        bottom: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}
