
.Skin .QuestionOuter {
  overflow-y: visible;
  padding-bottom: base-unit(12);

  .QuestionText {
    padding: 0 0 base-unit(3);
  }


  .QuestionBody {
    overflow-y: visible;
    padding: 0;
  }

  fieldset {
    overflow-y: visible !important;
    overflow-x: visible !important;
  }

  .LabelWrapper {
    margin-bottom: 0 !important;
  }

  // Multiselect
  .ChoiceStructure > .Selection {
    padding-bottom: base-unit(3);

    &:last-child {
      padding-bottom: 0;
    }

    .SingleAnswer {
      padding: base-unit(3) base-unit(2);

      @include mq($from: tablet) {
        padding: 0 !important;
      }
    }

    label.SingleAnswer:after {
      border-color: $tr-cornflower-blue;
    }

    label.SingleAnswer.q-checked:before {
      background-color: $tr-cornflower-blue;
    }

     .MC .TextEntryBox,  .TE .ESTB .InputText,  .TE .FORM .InputText,  .TE .ML .InputText,  .TE .PW .InputText,  .TE .SL .InputText {
      margin: 0 !important;
      padding: 2px 0 1px;
    }
  }

   label.MultipleAnswer.q-checked,
   label.SingleAnswer.q-checked {
    color: $tr-white;

    @include mq($from: tablet) {
      color: $tr-bastille;
    }
  }

  .QuestionText {
    line-height: $tr-paragraph-line-height;
  }

  // Entry box in multiple choise answer ( ie. Other ______ ).
  .TextEntryBox {
    padding-top: base-unit(3) !important;
  }


}
