// sass-lint:disable no-ids
.dmb-admin-reports {
  $spacing: 24px;
  $switch-bp: 1200px;

  &__card:first-of-type {
    @include dmb-mq($until: desktop) {
      margin-bottom: $spacing;
    }
  }

  &__create-survey {
    @include dmb-mq($from: $switch-bp) {
      display: flex;
    }
  }

  &__create-survey-step {
    &:first-of-type {
      @include dmb-mq($until: $switch-bp) {
        margin-bottom: $spacing;
      }

      @include dmb-mq($from: $switch-bp) {
        border-right: 1px solid $dmb-color-grey-zircon;
        margin-right: $spacing;
        padding-right: $spacing;
      }
    }
  }

  &__export {
    display: flex;
    flex-direction: column;

    &-actions {
      align-items: center;
      border-top: 1px solid $dmb-color-grey-zircon;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      padding-top: 24px;
    }
  }

}

#dmb-admin-reports {
  // TODO(https://gitlab.com/potato/google/digital-maturity-benchmark/dmb-publishers/issues/339): remove once this ticket is complete
  .h-c-headline {
    @extend .dmb-u-m-b-s;
  }
}
