 // sass-lint:disable no-ids
#dmb-home {
  @each $tenant, $value in $tenants {
    #dmb-#{$tenant} & {
      // HERO IMAGES
      .dmb-home-hero {
        &__bg-img {
          background-image: url('../img/#{$tenant}/home/hero-mobile.jpg');

          @include dmb-mq(tablet) {
            background-image: url('../img/#{$tenant}/home/hero.jpg');
          }

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../img/#{$tenant}/home/hero-mobile@2x.jpg');

            @include dmb-mq(tablet) {
              background-image: url('../img/#{$tenant}/home/hero@2x.jpg');
            }
          }
        }
      }

      // IMAGE TEXT COLLAGE IMAGES
      .dmb-img-text-collage {
        &__img--1 {
          background-image: url('../img/#{$tenant}/home/collage-img1.jpg');
          background-position: center top;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../img/#{$tenant}/home/collage-img1@2x.jpg');
          }
        }

        &__img--2 {
          background-image: url('../img/#{$tenant}/home/collage-img2.jpg');

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../img/#{$tenant}/home/collage-img2@2x.jpg');
          }
        }

        &__img--3 {
          background-image: url('../img/#{$tenant}/home/collage-img3.jpg');

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../img/#{$tenant}/home/collage-img3@2x.jpg');
          }
        }
      }

      // IMAGE TEXT IMAGE
      .dmb-img-text {
        @include dmb-mq(tablet) {
          background-image: url('../img/#{$tenant}/home/img-text-img.jpg');
          background-position: right -50px top;

          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../img/#{$tenant}/home/img-text-img@2x.jpg');
          }
        }

        @include dmb-mq($from: 700px) {
          background-position: right top;
        }
      }
    }
  }
}
