.dmb-landing {
  &__trigger-container {
    padding-top: 0;
    position: relative;

    .h-c-page {
      padding-top: 56px;

      @include bp(m) {
        padding-top: 176px;
      }
    }
  }

  .dmb-panel-trigger {
    &__button {
      @include dmb-responsive(top, 60, 66);
    }

    @include bp(m) {
      @include dmb-pannel-trigger-wide;
    }

    &.dmb-pinned {

      .dmb-panel-trigger__button:not(:hover) {
        @include bp(s) {
          transform: translateX(0);
        }

        @include bp(m) {
          transform: translateX(175px);
        }
      }
    }
  }

  // Make sure title text doesn't overlap dmb-panel-trigger
  .dmb-section-with-media__title {
    padding-right: 50px;

    @include bp(s) {
      padding-right: 25px;
    }

    @include bp(m) {
      padding-right: 0;
    }
  }

  .dmb-find-out-more-cta {
    position: relative;

    .dmb-button__icon {
      left: 16px;
      position: absolute;
      transform: rotate(90deg);
      transition: margin-left .2s;

      @include bp(s) {
        left: 21px;
      }
    }

    .dmb-button__text {
      margin-left: 30px;
    }

    &:hover {
      .dmb-button__icon {
        margin-left: -2px;
      }
    }
  }

  &__tile {
    &.h-c-tile {
      @include bp(m) {
        min-height: 0;
      }
    }
  }

  &__devices-grid {
    align-items: flex-end;
    padding: 0 24px;

    @include bp(l) {
      padding: 0;
    }
  }

  &__logo-col {
    padding: 32px 0;

    @media (max-width: 1280px) {
      order: 2;
    }
  }

  &__footnote {
    color: $dmb-color-grey-shuttle;
    font-size: 14px;
  }
}
