.dmb-reports-admin {
  margin: 0 16px;

  @include bp(m) {
    margin: 0 50px;
  }

  @include bp(l) {
    margin: 0 100px;
  }

  &__intro {
    padding: 0 24px;
  }

  &__title {
    @include dmb-responsive(margin-top, 32, 66);
    @include dmb-responsive(margin-bottom, 16, 48);
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__create-survey {
    background: $dmb-color-blue-solitude;
    list-style: none;
    margin: 0 0 64px;
    max-width: 1280px;
    padding: 24px;

    li {
      @include bp(m) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    @include bp(m) {
      display: flex;
    }

    .dmb-right-panel-trigger {
      margin: 0;
    }
  }

  &__survey-creation-text {
    padding: 16px 0 24px;
  }

  &__referral-wrp {
    margin-top: 32px;

    @include bp(m) {
      margin-left: 32px;
      margin-top: 0;
    }
  }

  #survey-link {  // sass-lint:disable-line no-ids
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__table {
    background: none;

    td {
      white-space: nowrap;
    }

    th[data-glue-table-sort-type]::after,
    th[glue-table-sort-type]::after {
      display: block;
      margin-left: 0;
    }

    .h-c-table {
      overflow: hidden;
    }

    .h-c-table--datatable-altrows {
      tr {
        &:nth-of-type(even) {
          background-color: $dmb-color-blue-solitude;
        }
      }
    }

    .dmb-reports-admin__table-small-text {
      font-size: 14px;
    }

    &-date {
      display: none;
    }

    &-history-btn {
      background: transparent;
      border: none;
      white-space: nowrap;

      svg {
        height: 12px;
        margin-left: 10px;
        width: 12px;
      }
    }

    &-subcell {
      padding-bottom: 22px;
      padding-top: 22px;

      &:nth-of-type(1) {
        margin-top: 22px;
      }

      &--first {
        position: relative;

        &::before {
          content: '';
          border-top: 1px solid $dmb-color-grey-light;
          position: absolute;
          top: -1px;
          left: 0;
          width: 100vw;
        }
      }
    }
  }

  .glue-js-table__caption {
    display: none !important;
  }

  .h-c-table {
    th[data-glue-table-sort-type],
    th[glue-table-sort-type] {
      &:hover,
      &:focus {
        &::after {
          will-change: unset; //to remove stange resizing on mouseout of table header cells
        }
      }
    }
  }
}
