$report-page-color-map: (
  attribution: (
    main: $dmb-color-blue-cornflower,
    light: $dmb-color-blue-alice
  ),
  ads: (
    main: $dmb-color-red-cinnabar,
    light: $dmb-color-red-pale-pink
  ),
  audience: (
    main: $dmb-color-yellow-selective,
    light: $dmb-color-yellow-forget-me-not
  ),
  access: (
    main: $dmb-color-green-ecalyptus,
    light: $dmb-color-green-frosted-mint
  ),
  automation: (
    main: $dmb-color-grey-chateau,
    light: $dmb-color-blue-solitude
  ),
  organization: (
    main: $dmb-color-blue-denim-2,
    light: $dmb-color-blue-lavender
  )
);

$recommendation-classes: analytics, speed-test, ux-bp;

$dmb-button-height: 46px;
$dmb-report-hero-padding-bottom: 37px;
$dmb-tabs-border-radius: 5px;
$dmb-tabs-shadow-color: rgba($dmb-color-grey-suva, .5);
$dmb-headline-accent-color: $dmb-color-blue-manatee;
$cta-border-color: $dmb-color-grey-link-water;
$cta-color: $dmb-color-blue-royal;
$cta-bg-color-alt: $h-gm-grey-50;
$dmb-eyebrow-border-color: $dmb-color-grey-zircon;
$dmb-box-shadow: 0 2px 8px 0 rgba($dmb-color-grey-suva, .5);


.dmb-report-page {
  .h-c-eyebrow {
    border-bottom: 6px solid $dmb-eyebrow-border-color;
    display: inline-block;
    padding-bottom: 8px;

    @include dmb-responsive(margin-bottom, 35, 40);

    @media (max-width: 1279px) {
      max-width: 135px;

      &--wide {
        max-width: 186px;
      }
    }
  }

  strong {
    font-weight: $h-font-weight-medium;
  }

  .h-c-page {
    @media (max-width: 1279px) {
      padding: 0 24px;
    }
  }

  main {
    section {
      padding: 40px 0 32px;

      @include bp(m) {
        padding: 100px 0 54px;
      }
    }
  }

  &__hero-muted {
    opacity: .45;
  }

  .h-c-header {
    &__bar {
      position: absolute !important;
    }
  }

  .glue-header.h-is-wholly-scrolled .h-c-header__bar  {
    transform: none !important;
  }

  &__hero {
    background: $dmb-color-blue-denim;
    color: $dmb-light-text-color;
    padding: 24px 0 48px;
    position: relative;

    @include bp(s) {
      padding: 48px 0;
    }

    @include bp(m) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      min-height: calc(100vh - 64px);
      padding: 52px 0;
    }

    .h-c-page {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }

    .dmb-progress-circle {
      font-size: 13px;
      height: 184px;
      width: 184px;

      @include bp(s) {
        font-size: 16px;
        height: 232px;
        width: 232px;
      }

      &__bg-bar {
        stroke: rgba($dmb-prog-circ-inverted-bar-color, .24);
      }

      &__prog-bar {
        stroke: $dmb-prog-circ-inverted-bar-color;
      }
    }

    @include print-styles {
      background: transparent;
      color: $dmb-text-color;
      min-height: 0;
      padding-bottom: $dmb-margin-big;
      padding-top:  #{$_h-header-height--full-size + $dmb-margin-big};
      page-break-after: always;

      .glue-flexbox & .h-c-grid__col {
        flex-basis: auto;
        width: auto;
      }
    }
  }

  &__hero-title {
    font-family: $dmb-alt-font-family;
    font-weight: $h-font-weight-regular;

    @include dmb-responsive(font-size, 44, 88);

    @include bp(s) {
      font-size: 72px;
    }
  }

  &__hero-company {
    display: block;

    &:empty:before {
      content: '\200b'; // unicode zero width space character
    }
  }

  &__hero-date {
    color: inherit;
    margin: 24px 0 50px;
    @include dmb-responsive(margin-top, 8, 32);

    @include bp(s) {
      margin: 32px 0  57px;
    }

    @include bp(m) {
      margin-bottom: 0;
    }
  }

  &__hero-benchmark-wrp {
    $subgrid: &;
    align-items: center;
    display: flex;
    flex-direction: column;

    @include bp(s) {
      flex-direction: row;
    }

    @include bp(m) {
      margin-left: -8%;
      width: 108%;
    }
  }

  &__hero-circle-wrp,
  &__hero-sub-title {
    font-family: $dmb-alt-font-family;
    text-align: center;

    @include bp(m) {
      text-align: left;
    }
  }

  &__hero-sub-title {
    font-size: 55px;
    margin-left: 40px;
    text-align: left;

    @media (max-width: 599px) {
      display: none;
    }
  }

  &__hero-subhead {
    font-size: 14px;
    font-weight: 200;
    @include dmb-responsive(margin-top, 40, 52);

    @include bp(s) {
      font-size: 20px;
    }

    @include bp(m) {
      margin-left: -8%;
    }
  }

  @include print-styles {
    &__hero-title {
      font-size: 88px !important;
      line-height: 1.27em;
    }

    &__hero-title &__hero-accent {
      font-weight: $h-font-weight-medium;
    }

    &__hero p {
      font-size: 20px;
      max-width: 31em;
    }

    &__hero-date {
      font-size: 44px !important;
    }
  }

  &__hero-cta {
    display: none;

    @include bp(s) {
      display: block;
      margin-top: 55px;
    }

    @include bp(m) {
      margin-top: 0;
    }
  }

  &__hero-button {
    border-radius: 23px;
    color: $h-gm-grey-700 !important;
    height: auto;
    line-height: 30px;
    margin: auto 0 0;
    padding: 9px 16px 9px 35px;
    width: auto;

    .h-c-icon {
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  &__company-dmb-content {
    display: flex;
    margin: 88px 0;

    .dmb-progress-circle {
      margin-right: 640px;
    }
  }

  &__content {
    position: relative;

    @include print-styles {
      padding: $dmb-margin-small 0;
    }
  }

  &__content-title {
    font-family: $dmb-alt-font-family;
    margin-bottom: 24px;
    @include dmb-responsive(font-size, 32, 44);

    @media (max-width: 1279px) {
      margin-top: 43px;
    }

    strong {
      font-size: 44px;
    }
  }

  &__info {
    @extend .dmb-h-hidden--print;
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    top: -1px;
    width: 18px;
  }

  &__headline-accent {
    color: $dmb-headline-accent-color;
  }

  &__maturity {
    .h-c-grid__col-l--2 {
      @include bp(m) {
        margin-right: 50px;
      }
    }

    .h-c-eyebrow {
      @include dmb-responsive(margin-bottom, 43, 80);
    }

    .dmb-progress-table {
      @include dmb-responsive(margin-top, 40, 80);
    }
  }

  &__maturity-intro {
    max-width: 400px;

    @media (max-width: 1279px) {
      margin-bottom: 20px;
    }
  }

  &__dimension-zippy {
    @media (max-width: 1279px) {
      margin-top: 40px;
    }
  }

  .glue-zippy-set {
    .glue-zippy-btn {
      align-items: center;
      display: flex;
      padding: 0;

      h4 {
        flex-grow: 1;
      }

      svg {
        margin: 0;
      }

      &:focus {
        border: 1px solid transparent;
        padding-bottom: 0;
      }
    }

    &.h-t-hercules {
      .glue-c-zippy__content-container {
        padding: 14px 0 0;
      }

      .h-c-expansion-panels__button-header,
      .glue-zippy-btn:focus .h-c-expansion-panels__button-header {
        color: $dmb-text-color;
        font-size: 16px;
        font-weight: 400;
      }

      .glue-is-expanded {
        .glue-zippy-btn {
          border: 1px solid transparent;
        }
      }
    }
  }

  &__zippy-container {
    border-radius: 3px;
    box-shadow: $dmb-box-shadow;
    margin-bottom: 16px;
    padding: 16px 20px;
  }

  &__zippy-btn {
    vertical-align: middle;

    &::before {
      background-size: contain;
      content: '';
      display: inline-block;
      height: 39px;
      margin-right: 20px;
      vertical-align: middle;
      width: 39px;
    }

    $i: 1;

    @each $name, $color in $report-page-color-map {
      .glue-zippy:nth-of-type(#{$i}) &::before {
        background-image: url('../img/icons/#{$name}.svg');
      }

      $i: $i + 1;
    }
  }

  &__tab-content {
    .dmb-progress-table {
      max-width: 980px;

      @include dmb-responsive(margin-top, 35, 90);
      @include dmb-responsive(margin-bottom, 64, 90);
      @include bp(s) {
        padding-right: 40px;
      }
      @include bp(m) {
        padding-right: 0;
      }
    }
  }

  &__tabs {
    @include dmb-responsive(margin-top, 40, 64);

    .glue-tabby {
      margin-top: 16px;
    }

    .glue-c-tabset {
      &__tab {
        font-family: $dmb-alt-font-family;
        margin: 0;
        position: relative;

        &.glue-is-active {
          &::after {
            background: $h-white;
            bottom: -5px;
            content: '';
            display: block;
            height: 10px;
            left: 1px;
            position: absolute;
            right: 1px;
          }

          .glue-c-tabset__button {
            box-shadow: 0 -1px 8px 0 $dmb-tabs-shadow-color;
            color: $dmb-text-color;
            font-weight: $h-font-weight-medium;
          }
        }
      }

      &__button {
        border: 0;
        border-radius: $dmb-tabs-border-radius $dmb-tabs-border-radius 0 0;
        color: $dmb-color-grey-aluminium;
        height: 100%;
        padding: 14px 10px;
        width: 100%;

        &:hover::before {
          background: $dmb-color-blue-solitude;
        }

        &::before {
          border-radius: 5px;
          content: '';
          display: block;
          height: 43px;
          left: 50%;
          min-width: 140px;
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 80%;
          z-index: -1;
        }

        // Quick win to make icon on top of the tab clickable.
        &::after {
          bottom: 0;
          content: '';
          display: block;
          height: 150px;
          position: absolute;
          width: 100%;
        }
      }

      &__panel-container {
        border: 0;
        padding: 0;
      }

      &__page {
        border: 0;
        border-radius: $dmb-tabs-border-radius;
        box-shadow: $dmb-box-shadow;


        > h3 {
          display: block;

          @include bp(s) {
            display: none;
          }

          @include print-styles {
            display: none;
          }
        }

        @include print-styles {
          box-shadow: none;
          display: block;
          padding: 0;
          page-break-before: always;
        }

        &:first-child {
          border-top-left-radius: 0;
        }

        &:last-child {
          border-top-right-radius: 0;
        }
      }
    }
  }

  &__tabs-icons,
  .glue-c-tabset__tablist {
    @extend .dmb-h-hidden--print;
    display: flex;

    > div,
    .glue-c-tabset__tab {
      flex-basis: calc(100% / 6);
    }
  }

  &__tabs-icons {
    display: flex;
    margin-bottom: 16px;

    .dmb-progress-circle {
      height: 70px;
      width: 70px;
    }
  }

  &__tabs-sticky-nav {
    @include h-u-box-shadow-1();
    background-color: $h-white;
    display: none;
    font-family: $h-font-family-google-sans;
    font-weight: $h-font-weight-regular;
    height: $_h-header-height;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform .3s, opacity 1ms .3s;
    z-index: $_h-header-bar-z-index + 1;

    @include bp(s) {
      display: block;
    }

    @media (min-width: $h-header-breakpoint--full-size) {
      height: $_h-header-height--full-size;
    }

    .h-c-page,
    ul {
      height: 100%;
    }

    ul {
      align-items: center;
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &.dmb-pinned {
      opacity: 1;
      transform: translateY(0);
      transition: transform .3s;
    }
  }

  &__tabs-sticky-nav-btn {
    background: transparent;
    border: 0;
    color: $glue-tabset-tabs-text-color;
    outline: 0;
    padding: 8px 20px;

    &.is-active {
      background-color: $dmb-color-blue-solitude;
      border-radius: $dmb-tabs-border-radius $dmb-tabs-border-radius 0 0;
      font-weight: $h-font-weight-medium;
    }
  }

  @each $name, $color in $report-page-color-map {
    [dmb-dimension-tab='#{$name}'] {
      .dmb-progress-table__row--main {
        border-color: map-get($color, main);
      }
    }

    .dmb-progress-circle.dmb-progress-circle--#{$name} .dmb-progress-circle {
      &__bg-bar {
        stroke: map-get($color, light);
      }

      &__prog-bar {
        stroke: map-get($color, main);
      }

      &__icon {
        background-image: url('../img/icons/#{$name}.svg');
      }
    }
  }

  &__cta {
    align-items: center;
    border: 1px solid $cta-border-color;
    border-radius: 22px;
    color: $cta-color;
    display: inline-flex;
    font-family: $dmb-alt-font-family;
    font-size: 14px;
    margin-top: 24px;
    padding: 10px 16px;
    transition: background .3s;

    &:hover {
      background: $h-white;
    }

    @include bp(m) {
      font-size: 16px;
      padding: 10px 20px;
    }

    &--alt {

      &:hover {
        background: $cta-bg-color-alt;
      }
    }
  }

  &__cta-icon {
    background-image: url('../img/icons/learn-more.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include dmb-responsive(width, 18, 22);
    @include dmb-responsive(height, 18, 22);
    @include dmb-responsive(margin-right, 12, 15);
  }

  &__cta-extra-text {
    @media (max-width: 600px) {
      display: none;
    }
  }

  @each $class in $recommendation-classes {
    &__recommendation {
      &--#{$class} .dmb-report-page__cta-icon {
        background-image: url('../img/icons/#{$class}.svg');
      }
    }
  }

  &__panel-trigger {
    z-index: 1;

    .dmb-right-panel-trigger {
      transition: transform .3s;
    }

    &.dmb-pinned {
      position: fixed;
      right: 0;
      top: 0;
      transition: transform .3s;

      .dmb-right-panel-trigger:not(:hover) {
        @include bp(s) {
          transform: translateX(175px);
        }
      }
    }
  }

  .dmb-right-panel-trigger {
    $dmb-right-panel-trigger-bg-color: $dmb-color-blue-solitude;
    $dmb-right-panel-trigger-color: $dmb-color-blue-charade;
    $dmb-right-panel-trigger-shadow-color: $dmb-color-grey-charcoal;

    align-items: center;
    background: $dmb-right-panel-trigger-bg-color;
    border: 0;
    border-radius: 50px 0 0 50px;
    box-shadow: $dmb-box-shadow;
    color: $dmb-right-panel-trigger-color;
    display: inline-flex;
    font-family: $dmb-alt-font-family;
    font-size: 18px;
    line-height: 21px;
    padding: 17px 17px 17px 14px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 40px;

    &__icon {
      align-items: center;
      display: flex;
      justify-content: center;

      svg {
        height: 17px;
        transform: rotate(-90deg);
        width: 17px;
      }
    }

    @media (max-width: 599px) {
      &__label {
        display: none;
      }
    }

    @include bp(s) {
      padding-left: 30px;
      top: 100px;
      width: 240px;

      &__icon {
        margin-right: 30px;

        svg {
          height: 24px;
          width: 24px;
        }
      }
    }

    &--sticky {
      position: fixed;
    }
  }

  .dmb-side-panel {
    $resp-bp: s;
    $side-panel: '.dmb-side-panel';

    &--narrow {
      max-width: 522px;

      @include print-styles {
        max-width: none;
      }
    }

    &--left {
      #{$side-panel}__inner {
        @include bp($resp-bp) {
          padding-right: 125px;
        }
      }

      h1 {
        margin-bottom: 60px;
        max-width: 280px;
        position: relative;

        &::after {
          border-bottom: 6px solid $dmb-color-grey-zircon;
          bottom: -20px;
          content: '';
          left: 0;
          max-width: 170px;
          position: absolute;
          width: 100%;
        }
      }

      h2 {
        margin-bottom: 8px;

        @include bp(m) {
          &.h-c-headline--three {
            font-size: 26px;
          }
        }
      }

      p {
        font-weight: 200;
        margin-bottom: 32px;
      }
    }

    &--right {
      @include print-styles {
        page-break-before: always;
      }

      [dmb-side-panel-close] {
        @media (max-width: 599px) {
          right: 30px;
          top: 40px;
          width: 40px;
        }
      }

      #{$side-panel} {
        &__inner {
          @include bp($resp-bp) {
            padding: 79px 80px 97px;
          }
        }

        &__heading {
          margin: 0 0 40px;

          @include bp($resp-bp) {
            border-bottom: 1px solid $dmb-color-grey-gainsboro;
            margin-bottom: 58px;
            padding-bottom: 16px;
          }
        }

        &__left-block {
          @include bp($resp-bp) {
            padding-left: 70px;
          }
        }

        &__list-container {
          margin: 50px 0 8px;

          @include bp($resp-bp) {
            margin: 90px 0 16px;
          }

          @include print-styles {
            margin-bottom: $dmb-margin-small;
          }

          h2 {
            @media (max-width: 599px) {
              margin-bottom: 22px;
            }
          }
        }

        &__list {
          counter-reset: shields;
          list-style-type: none;
          margin: 0;
        }

        &__list-item {
          display: flex;
          padding-bottom: 32px;

          h3,
          p,
          li {
            margin-bottom: 16px;
          }

          sup {
            color: $dmb-color-grey-aluminium;
          }
        }

        &__list-item-heading {
          position: relative;

          @media (max-width: 599px) {
            padding-left: 34px;
          }
        }

        &__list-item-bullet {
          counter-increment: shields;
          left: 0;
          margin-right: 32px;
          min-width: 20px;
          position: absolute;

          @include bp($resp-bp) {
            left: -50px;
          }

          &::after {
            bottom: 0;
            color: $dmb-light-text-color;
            content: counter(shields);
            font-family: $dmb-alt-font-family;
            font-size: 13px;
            font-weight: 600;
            left: -1px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 3px;

            @include bp(m) {
              top: 7px;
            }
          }
        }

        &__list-item-content {
          ul {
            list-style-image: url('/src/static/src/img/icons/side-panel-bullet.svg');
            list-style-type: none;
          }
        }

        &__advice {
          background: $h-gm-grey-50;
          padding: 24px;

          @include bp($resp-bp) {
            padding: 40px 48px 18px;
          }

          h3 {
            margin-bottom: 32px;
            max-width: 545px;

            @include bp($resp-bp) {
              margin-bottom: 62px;
            }
          }
        }

        &__advice-items {
          @include bp(m) {
            display: flex;
            flex-wrap: nowrap;
          }
        }

        &__advice-item {
          $advice-item: &;
          flex-basis: 33%;
          flex-grow: 1;

          &:not(:last-of-type) {
            margin-bottom: 32px;
          }

          h4 {
            margin-bottom: 16px;

            @include bp($resp-bp) {
              margin-bottom: 24px;
            }
          }
        }

        &__research {
          border-bottom: 1px solid $dmb-color-grey-very-light;
          padding: 48px 0 24px;

          @include bp($resp-bp) {
            padding: 80px 80px 90px;
          }

          p {
            &:nth-of-type(1) {
              margin-bottom: 24px;
              max-width: 584px;
            }

            &:nth-of-type(2) {
              max-width: 536px;
            }
          }
        }

        &__footnotes {
          color: $dmb-color-grey-aluminium;
          max-width: 775px;
          padding-top: 24px;

          @include bp($resp-bp) {
            padding: 32px 83px 0;
          }

          p {
            display: flex;
            font-size: 10px;
            line-height: 1.5em;
            margin: 0 0 2px;

            span {
              &:nth-of-type(1) {
                font-size: .6em;
                margin-right: 5px;
              }
            }
          }
        }
      }

      #{$side-panel}__advice-item + #{$side-panel}__advice-item {
        @include bp(m) {
          margin-left: 54px;
        }
      }

      #{$side-panel}__list-item + #{$side-panel}__list-item {
        border-top: 1px solid $dmb-color-grey-gainsboro;
        padding-top: 32px;
      }
    }
  }

  &__appendix {
    @include print-styles {
      page-break-before: always;
    }
  }

  &__print-button-container {
    margin-top: 36.5px;

    @media (max-width: 721px) {
      display: none;
    }
  }

  &__print-button {
    border-radius: 50%;
    bottom: 24px;
    box-shadow: $dmb-box-shadow;
    height: 70px;
    padding: 20px;
    position: fixed;
    right: 33px;
    width: 70px;
    z-index: 10;

    img {
      width: 30px;
    }

    &::before {
      background-color: rgba(#000, .07);
      border-radius: 24.5px;
      color: $dmb-light-text-color;
      content: attr(data-tooltip-text);
      font-family: $dmb-alt-font-family;
      opacity: 0;
      padding: 10px 20px;
      position: absolute;
      right: calc(100% + 14px);
      top: 50%;
      transform: translateY(-50%);
      transition: visibility 0s, opacity .3s linear;
      visibility: hidden;
      white-space: nowrap;

      @include dmb-responsive(font-size, 16, 18);
    }

    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &--dark-print-button-text {
    .dmb-report-page__print-button {
      &::before {
        background-color: #f1f3f4;
        color: $dmb-color-blue-charade;
      }
    }
  }
}
