$report-page-color-map: (
  attribution: (
    main: $dmb-color-blue-cornflower,
    light: $dmb-color-blue-alice
  ),
  assets: (
    main: $dmb-color-red-cinnabar,
    light: $dmb-color-red-pale-pink
  ),
  audience: (
    main: $dmb-color-yellow-selective,
    light: $dmb-color-yellow-forget-me-not
  ),
  access: (
    main: $dmb-color-green-ecalyptus,
    light: $dmb-color-green-frosted-mint
  ),
  automation: (
    main: $dmb-color-grey-chateau,
    light: $dmb-color-blue-solitude
  ),
  organization: (
    main: $dmb-color-blue-denim-2,
    light: $dmb-color-blue-lavender
  )
);

$dmb-button-height: 46px;
$dmb-report-hero-padding-bottom: 37px;
$dmb-tabs-border-radius: 5px;
$dmb-tabs-shadow-color: rgba($dmb-color-grey-suva, .5);

.dmb-report-page {
  &__hero {
    background: $dmb-color-blue-denim;
    color: $dmb-light-text-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: -$_h-header-height--full-size;
    min-height: 100vh;
    padding: #{$_h-header-height--full-size + 24px} 0 #{$dmb-margin-medium + $dmb-button-height + $dmb-report-hero-padding-bottom};
    position: relative;

    .dmb-progress-circle {
      &__bg-bar {
        stroke: rgba($dmb-prog-circ-inverted-bar-color, .24);
      }

      &__prog-bar {
        stroke: $dmb-prog-circ-inverted-bar-color;
      }
    }

    .h-c-headline:not(.dmb-report-page__hero-accent) {
      color: inherit;
    }
  }

  strong {
    font-weight: 500;
  }

  &__hero-title {
    @include bp(m) {
      font-size: 96px !important;
    }
  }

  &__hero-sub-title {
    @include bp(m) {
      font-size: 66px !important;
    }
  }

  &__hero-accent {
    color: rgba($dmb-light-text-color, .62);
    display: block;
  }

  &__hero-cta {
    bottom: $dmb-report-hero-padding-bottom;
    left: 0;
    position: absolute;
    right: 0;
  }

  &__hero-button {
    border-radius: 23px;
    margin: auto 0 0;
  }

  &__content {
    padding: $dmb-margin-big 0;
  }

  &__headline-accent {
    color: $dmb-headline-accent-color;
  }

  &__maturity-intro {
    max-width: 25em;
  }

  &__dimensions-intro {
    max-width: 41em;
  }


  // Tabs

  &__tabs-icons,
  .glue-c-tabset__tablist {
    display: flex;

    & > div {
      flex-basis: calc(100% / 6);
    }
  }

  // Mobile
  &__tabs-ul {
    list-style-type: none;
    margin: 0;
  }

  &__tabs {
    .glue-tabby {
      margin-top: 16px;
    }

    .glue-c-tabset {
      &__tab {
        font-family: 'Google Sans';
        margin: 0;
        position: relative;

        &.glue-is-active {
          &::after {
            background: #fff;
            bottom: -5px;
            content: '';
            display: block;
            height: 10px;
            left: 1px;
            position: absolute;
            right: 1px;
          }

          .glue-c-tabset__button {
            box-shadow: 0 -1px 8px 0 $dmb-tabs-shadow-color;
            color: $dmb-text-color;
          }
        }
      }

      &__button {
        border: 0;
        border-radius: $dmb-tabs-border-radius $dmb-tabs-border-radius 0 0;
        color: $dmb-color-grey-aluminium;
        height: 100%;
        width: 100%;
      }

      &__panel-container {
        border: 0;
        padding: 0;
      }

      &__page {
        border: 0;
        border-radius: $dmb-tabs-border-radius;
        box-shadow: 0 2px 8px 0 $dmb-tabs-shadow-color;
        padding: 73px 66px 76px;

        &:first-child {
          border-top-left-radius: 0;
        }

        &:last-child {
          border-top-right-radius: 0;
        }
      }
    }

    progress-table {
      margin-top: 66px;
    }
  }

  &__tab-heading {
    @media (min-width: 601px) {
      display: none;
    }
  }

  &__tab-static-col {
    padding: 0 50px 47px 0;

    @media (min-width: 601px) {
      border-right: 1px solid $dmb-color-grey-gainsboro;
    }
  }

  &__tab-dynamic-col {
    display: flex;
    padding-left: 40px;
  }

  &__tab-progress-circle {
    margin-right: 50px;
  }







  &__recommendations {
    column-count: 2;
    column-gap: 27px;
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    page-break-inside: avoid;

    > li {
      background-color: #f8f9fa;
      display: inline-block;
      margin-bottom: 22px;
      padding: 32px;
      width: 100%;
    }
  }

  @each $name, $color in $report-page-color-map {

    .dmb-progress-table.dmb-progress-table--#{$name} .dmb-progress-table {
      &__row--main {
        background-color: map-get($color, main);
      }
    }

    .dmb-progress-circle.dmb-progress-circle--#{$name} .dmb-progress-circle {
      &__bg-bar {
        stroke: map-get($color, light);
      }

      &__prog-bar {
        stroke: map-get($color, main);
      }

      &__icon {
        background-image: url('../img/icons/#{$name}.svg');
      }
    }
  }
}
