<div class="dmb-list-card__header dmb-exp-panels__heading dmb-exp-panels__toggle glue-expansion-panel-toggle"
    data-glue-expansion-panel-toggle-for="{{list_name}}-card-{{forloop.counter0}}">
  <div class="dmb-list-card__header-left">
    Q{{ result.date|fiscal }} {{ result.date|date:"Y" }}
    <span class="dmb-u-text-muted">&#8226; {{ result.date|date:"F j" }}</span>
  </div>

  {% comment %} Hidden until glue upgrade is complete for expension panels
  <div class="dmb-list-card__header-right">
    {{ result.overall.value|floatformat }}
    <span class="dmb-list-card__subtext dmb-u-text-muted">{{ result.overall.levels.current.name }}</span>
  </div>
  {% endcomment %}

  <button
      aria-label="toggle panel expansion"
      class="dmb-list-card__toggle dmb-exp-panels__toggle">
    <svg class="dmb-exp-panels__arrow" role="img" width="12" height="8">
      <use xlink:href="#mi-chevron"></use>
    </svg>
  </button>
</div>

<div
    class="dmb-list-card__content dmb-exp-panels__content glue-expansion-panel-content"
    {% if forloop.counter0 == 0 %} data-glue-expansion-panel-initial="expanded"{% endif %}
    id="{{list_name}}-card-{{forloop.counter0}}">
  <div class="dmb-list-card__overall">
    <div>Overall</div>
    <div class="dmb-list-card__overall-text">{{ result.overall.levels.current.name }}</div>
    <div class="dmb-list-card__overall-score">{{ result.overall.value|floatformat }}</div>
  </div>

  <ul class="dmb-list-card__dimension-list">
    {% for dimension, dimension_info in result.dimensions.items %}
      <li class="dmb-list-card__dimension-list-item">
        <div>{{ dimension_info.name|capfirst }}</div>
        <div class="dmb-u-text-muted">{{ dimension_info.levels.current.name }}</div>
        <div class="dmb-u-text-muted">{{ dimension_info.value|floatformat }}</div>
      </li>
    {% endfor %}
  </ul>
</div>
