<div
    class="dmb-list-card__header dmb-exp-panels__heading dmb-exp-panels__toggle glue-expansion-panel-toggle"
    data-glue-expansion-panel-toggle-for="{{list_name}}-card-{{forloop.counter0}}">
  <div class="dmb-list-card__header-left">
    {{ result.date|date:"Y" }} Q{{ result.date|fiscal }}
    <span class="dmb-bullet dmb-u-text-muted">
      &#8226;
    </span>
    <span class="dmb-list-card__date dmb-u-text-muted">
      {{ result.date|date:"F j" }}
    </span>
    <a class="dmb-chip" dmb-account-user="" href="//moma.corp.google.com/person/{{ user.ldap }}">
      <span class="dmb-chip__text h-u-font-weight-medium dmb-u-text-muted">
        {{ user.ldap }}
      </span>
    </a>
  </div>

  <div class="dmb-list-card__header-right">
    {{ result.overall.value|floatformat }}
    <span class="dmb-list-card__subtext dmb-u-text-muted">
      {{ result.overall.levels.current.name }}
    </span>
  </div>

  <button
      aria-label="toggle panel expansion"
      class="dmb-list-card__toggle dmb-exp-panels__toggle">
    <svg class="dmb-exp-panels__arrow" role="img" width="12" height="8">
      <use xlink:href="#mi-chevron"></use>
    </svg>
  </button>
</div>

<div
    class="dmb-list-card__content dmb-exp-panels__content glue-expansion-panel-content"
    {% if forloop.counter0 == 0 %} data-glue-expansion-panel-initial="expanded"{% endif %}
    id="{{list_name}}-card-{{forloop.counter0}}">
  <div class="dmb-list-card__results">
    <div class="dmb-list-card__overall">
      <div class="dmb-list-card__overall-title dmb-u-text-semi-muted h-u-font-weight-medium">
        Overall
      </div>
      <div class="dmb-list-card__overall-level dmb-u-alt-font">
        {{ result.overall.levels.current.name }}
      </div>
      <div class="dmb-list-card__overall-score">
        <span class="dmb-u-text-semi-muted h-c-headline h-c-headline--four h-u-font-weight-medium dmb-u-alt-font">
          {{ result.overall.value|floatformat:1 }}
        </span>
        <span class="dmb-u-text-muted h-u-font-weight-light dmb-u-alt-font">
          /{{ result.overall.top_level|floatformat:0 }}
        </span>
      </div>
    </div>

    {% if result.dimensions.items %}
      <ul class="dmb-list-card__dimension-list">
        {% for dimension, dimension_info in result.dimensions.items %}
          <li class="dmb-list-card__dimension-list-item">
            <div class="dmb-list-card__dimension-list-item-title dmb-u-text-semi-muted h-u-font-weight-medium">
              {{ dimension_info.name|capfirst }}
            </div>
            <div class="dmb-list-card__dimension-list-level dmb-u-text-muted">
              {{ dimension_info.levels.current.name }}
            </div>
            <div class="dmb-list-card__dimension-list-score dmb-u-text-muted">
              {{ dimension_info.value|floatformat:1 }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {% if result.detail_link or result.report_link %}
    <div class="dmb-list-card__actions">
      {% if result.detail_link %}
        <a
            class="dmb-list-card__action dmb-button dmb-tooltip dmb-tooltip--center"
            {% if user.id == result.completed_by.id %}
              href="{{result.detail_link}}"
              target="_blank"
            {% else %}
              disabled
            {%endif%}>
          Responses
          {% if user.id != result.completed_by.id %}
            <div class="dmb-tooltip__text">
              Sorry, we can't show you the responses for other Googler's assessments.
            </div>
          {% endif %}
        </a>
      {% endif %}
      {% if result.report_link %}
        <a
            class="dmb-list-card__action dmb-button"
            href="{{result.report_link}}"
            target="_blank">
          Report
        </a>
      {% endif %}
    </div>
  {% endif %}

</div>
