<section class="dmb-home-hero h-c-page dmb-u-m-b-l{% if class %} {{class}}{% endif %}">
  <div class="dmb-home-hero__bg-img"></div>
  <div class="h-c-grid">
    <div class="dmb-home-hero__card h-c-grid__col h-c-grid__col--6 h-c-grid__col-l--5">
      <h1 class="dmb-primary-heading h-c-headline h-c-headline--two">
        Transforming onsite customer engagement and driving monitization
      </h1>
      <p class="dmb-u-m-b-s">
        Discover how your digital data maturity measures up against that of other retail organizations, plan your progress and move up the scale.
      </p>
      {% include 'public/inc/global/deloitte-gni-collaboration.inc.html' %}
    </div>
  </div>
</section>
