{% load staticfiles %}

<section class="dmb-tile-carousel{% if class %} {{class}}{% endif %} dmb-u-p-t-m dmb-u-p-b-m">
  <div class="h-c-page">
    {% include 'public/inc/global/step-heading.inc.html' with text='Dig deeper into how your retail organization prioritises data across four key dimensions' svg='shield' numbered=True only %}

    <div class="dmb-tile-carousel__tiles">

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/retail/dimensions/strategic-direction.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="strategic direction icon">
          <h4 class="h-c-tile__headline">
            Strategic direction & data foundations
          </h4>
          <p class="h-c-tile__description">
            Understand the role of data and the core capabilities required to successfully activate data within the organization.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/retail/dimensions/user-engagement.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="user engagement icon">
          <h4 class="h-c-tile__headline">
            User engagement
          </h4>
          <p class="h-c-tile__description">
            Use customer data to enhance the overall online experience.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/retail/dimensions/core-sales.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="core sales icon">
          <h4 class="h-c-tile__headline">
            Core sales activities
          </h4>
          <p class="h-c-tile__description">
            Improve conversion or increase basket size by enhancing product strategy and customer promotions.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/retail/dimensions/emerging-monetization.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="Emerging monetization icon">
          <h4 class="h-c-tile__headline">
            Emerging monetization opportunities
          </h4>
          <p class="h-c-tile__description">
            Serve the most relevant advertisements, supplier promotions, and in‑store support to customers.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
