// fileoverview:
// Styles for ctas (calls to action) and buttons.


$btn-tr-primary-color: $tr-white;
$btn-tr-primary-bg-color: $tr-green;
$btn-tr-primary-bg-color-hover: $tr-green-darker;
$btn-tr-primary-bg-color-disabled: $tr-gray;

// Base button used for buttons/ctas.
.tr-btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.75px;
  line-height: 1;
  margin: 8px 0;
  padding: base-unit(3) 23px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .15s linear, background-color .15s linear;
  vertical-align: middle;

  @include mq($from: desktop) {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  &.tr-btn--primary {
    background-color: $btn-tr-primary-bg-color;
    color: $btn-tr-primary-color;

    &:visited {
      background-color: $btn-tr-primary-bg-color;
      color: $btn-tr-primary-color;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $btn-tr-primary-bg-color-disabled;
    }

    &:hover,
    &:focus {
      background-color: $btn-tr-primary-bg-color-hover;
      color: $btn-tr-primary-color;
    }
  }
}

