
//Wrapping in .Skin class to override Qualtrics styles.
.Skin,
form {
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  label:not(.q-radio) {
    display: block;
    padding: 0 0 base-unit(3);
  }

  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='number'],
  input[type='tel'],
  .input--text,
  textarea,
  select {
    border: 0;
    border-bottom: 1px solid $tr-bastille;
    margin: 0;
  }

}





