{% load angular %}
{% load i18n %}
{% load languages %}

<footer class="dmb-footer h-c-footer h-c-footer--simple {{footerClass}}"
    id="footer-simple" {{footerAttribute}}>
  <section class="h-c-footer__global">
    {% if tenant|ng_mark_safe != 'cloud' %}
    <div class="dmb-footer__tenant-footer">
      <p class="dmb-footer__tenant-footer-title h-c-headline h-c-headline--subhead">
        {% trans "Looking to benchmark digital maturity for a different challenge or industry?" %}
      </p>
      <input
          id="dmb-read-more-1"
          class="dmb-footer__tenant-footer-checkbox dmb-read-more__checkbox"
          type="checkbox"
          aria-hidden="true">
      <label
          class="dmb-footer__tenant-footer-label dmb-read-more__label"
          for="dmb-read-more-1"
          aria-hidden="true">
        {% trans "Read" %}
        <span class="dmb-read-more__more">{% trans "more" %}</span>
        <span class="dmb-read-more__less">{% trans "less" %}</span>
      </label>
      <ul class="dmb-footer__tenant-footer-list dmb-read-more__content">
        {% comment %} Dynamically creates links and labels for the other surveys {% endcomment %}
        {% comment %} Label is translated in its definition in core/settings/tenants/__init__.py {% endcomment %}
        {% for label, other_tenant_slug in other_tenants %}
          <li class="dmb-footer__tenant-footer-list-item">
            <a href="/{{other_tenant_slug|ng_mark_safe}}">
              {{ label|ng_mark_safe }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="h-c-footer__logo">
      <a href="https://www.google.com" title="Google">
        <svg role="img" class="h-c-footer__logo-img">
          <use xlink:href="#google-logo"></use>
        </svg>
      </a>
    </div>
    <ul class="dmb-footer__link-list h-c-footer__global-links h-no-bullet">
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="{% trans 'https://www.google.com/intl/en/policies/privacy/' %}">{% trans "Privacy" %}</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="{% trans 'https://www.google.com/intl/en/policies/terms/' %}">{% trans "Terms" %}</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="{% trans 'https://www.google.com/intl/en/about/' %}">{% trans "About Google" %}</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="{% trans 'https://www.google.com/intl/en/about/products/' %}">{% trans "Google Products" %}</a>
      </li>
    </ul>

    <ul class="h-c-footer__global-links h-c-footer__global-links--extra h-no-bullet">
      <li class="dmb-footer__feedback-link-wrapper h-c-footer__global-links-list-item h-c-footer__global-links-list-item--extra">
        <a
            class="dmb-footer__feedback-link h-c-footer__link"
            href="mailto:{% if tenant|ng_mark_safe == 'ads' %}digital-maturity{% elif tenant|ng_mark_safe == 'cloud' %}gcaf-cma{% else %}data-maturity{% endif %}@google.com"
            target="_blank">
          <svg width="20px" height="16px" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-.4 4.25l-7.07 4.42c-.32.2-.74.2-1.06 0L2.4 4.25a.85.85 0 1 1     .9-1.44L10 7l6.7-4.19a.85.85 0 1 1 .9 1.44z"
              fill-rule="nonzero" />
          </svg>{% trans "Contact us" %}
        </a>
      </li>
      {% if tenant|ng_mark_safe == 'ads' %}
      <li class="h-c-footer__global-links-list-item h-c-footer__global-links-list-item--extra">
        <label for="lang-selector" class="h-u-visually-hidden">{% trans "Change language or region" %}</label>
          {% get_language_info_list for LANGUAGES as languages %}
          <form
              action="{% url 'set_language' %}"
              method="post"
              ng-controller="LanguageSelectorCtrl as languageSelectorCtrl">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path|strip_lang }}" />
            <select
                name="language"
                ng-model="language"
                ng-change="languageSelectorCtrl.changeLanguage()"
                ng-init="language = '{{LANGUAGE_CODE}}'"
                class="h-c-form__dropdown h-c-footer__lang-dropdown">
              {% for language in languages %}
                <option value="{{ language.code }}"
                    {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
                    {{ language.name_local|title }}
                </option>
              {% endfor %}
            </select>
          </form>
      </li>
      {% endif %}
    </ul>
  </section>
</footer>
