{% load angular %}
<footer class="dmb-footer h-c-footer h-c-footer--topmargin h-c-footer--simple {{footerClass}}"
    id="footer-simple" {{footerAttribute}}>
  <section class="h-c-footer__global">
    <div class="dmb-footer__tenant-footer">
      <p class="dmb-footer__tenant-footer-title h-c-headline h-c-headline--subhead">
        {% if tenant|ng_mark_safe == 'ads' %}Digital{% else %}Data{% endif %} Maturity Benchmark
      </p>
      <ul class="dmb-footer__tenant-footer-list">
        <!-- TODO(aabuelgasim,mazzalin): make this dynamic -->
        <li class="dmb-footer__tenant-footer-list-item">
          <a href="/advertisers">
            Advertisers
          </a>
        </li>
        <li class="dmb-footer__tenant-footer-list-item">
          <a href="/news">
            News
          </a>
        </li>
        <li class="dmb-footer__tenant-footer-list-item">
          <a href="/retail">
            Retail
          </a>
        </li>
      </ul>
    </div>
    <div class="h-c-footer__logo">
      <a href="https://www.google.com" title="Google">
        <svg role="img" class="h-c-footer__logo-img">
          <use xlink:href="#google-logo"></use>
        </svg>
      </a>
    </div>
    <ul class="dmb-footer__link-list h-c-footer__global-links h-no-bullet">
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="https://www.google.com/intl/en/policies/terms/">Terms</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="https://www.google.com/intl/en/about/">About Google</a>
      </li>
      <li class="h-c-footer__global-links-list-item">
        <a class="h-c-footer__link" href="https://www.google.com/intl/en/about/products/">Google Products</a>
      </li>
    </ul>
    <div>
      <a
          class="dmb-footer__feedback-link dmb-h-alt-font"
          href="mailto:{% if tenant|ng_mark_safe == 'ads' %}digital{% else %}data{% endif %}-maturity@google.com"
          target="_blank">
      <svg width="20px" height="16px" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-.4 4.25l-7.07 4.42c-.32.2-.74.2-1.06 0L2.4 4.25a.85.85 0 1 1     .9-1.44L10 7l6.7-4.19a.85.85 0 1 1 .9 1.44z"
          fill-rule="nonzero" />
      </svg>Contact us
      </a>
    </div>
  </section>
</footer>
