{% load angular %}
{% load i18n %}
{% load static %}
{% trans "Digital Maturity Benchmark" as digital_maturity %}
{% trans "Data Maturity Benchmark" as data_maturity %}

<div class="dmb-header glue-header h-c-header h-c-header--product-marketing-one-tier">
  <div class="h-c-header__bar">
    <!-- Both the first- and second-tier variants of the hamburger icon are
         included in code, and their display is controlled using BEM modifiers.
         This is done to prevent users of the header from having to figure out
         which HTML to add/remove themselves.
    -->
    {% comment %}
    <div class="h-c-header__hamburger h-c-header__hamburger--first-tier">
      <div class="h-c-header__hamburger-wrapper">
        <button type="button"
            class="h-js-header__drawer-toggle-link h-c-header__hamburger-link"
            aria-controls="h-js-header__drawer"
            aria-expanded="false"
            aria-label="Open the navigation drawer">
          <svg role="img" aria-label="Navigation" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--standard">
            <use xlink:href="#h-burger"></use>
          </svg>

          <svg role="img" aria-label="Navigation" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--reversed">
            <use xlink:href="#h-burger"></use>
          </svg>
        </button>
      </div>
    </div>
    {% endcomment %}

    <div class="h-c-header__lockup">
      <div class="h-c-header__company-logo">
        <a
            class="h-c-header__company-logo-link"
            href="/{{ slug|ng_mark_safe }}"
            title="Google">

          {% if tenant|ng_mark_safe == 'cloud' %}
            <img
                alt="Google Cloud logo"
                class="h-c-header__company-logo-img h-c-header__company-logo-img--standard"
                src="{% static 'img/cloud/google-cloud-lockup.svg' %}">
          {% else %}
            <!-- Both the color and white versions of the google logo are
                included in code, and their display is controlled using BEM
                modifiers. This is done to prevent users of the header from
                having to figure out which HTML to add/remove themselves. -->
            <svg role="img" aria-label="Google" class="h-c-header__company-logo-img
                h-c-header__company-logo-img--standard">
              <use xlink:href="#h-color-google-logo"></use>
            </svg>

            <svg role="img" aria-label="Google" class="h-c-header__company-logo-img
                h-c-header__company-logo-img--reversed">
              <use xlink:href="#h-white-google-logo"></use>
            </svg>
          {% endif %}
        </a>
      </div>

      {% if tenant|ng_mark_safe != 'cloud' %}
        <div class="h-c-header__product-logo">
          <a href="/{{ slug|ng_mark_safe }}"
              class="h-c-header__product-logo-link">
            <span class="h-c-header__product-logo-text">
              {% if tenant|ng_mark_safe == 'ads' %}{{digital_maturity}}{% else %}{{data_maturity}}{% endif %}
            </span>
          </a>
        </div>
      {% endif %}

      <a href="#jump-content" class="h-c-header__jump-to-content"
          data-glue-jump-link>
        <span class="h-c-header__jump-to-content-text">{% trans "Skip to content" %}</span>
      </a>
    </div>
    {% comment %}
    <div class="h-c-header__hamburger h-c-header__hamburger--second-tier">
      <div class="h-c-header__hamburger-wrapper">
        <button type="button"
            class="h-c-header__hamburger-link"
            aria-controls="h-js-header__drawer"
            aria-expanded="false"
            aria-label="Open the navigation drawer">
          <svg role="img" aria-label="Navigation" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--standard">
            <use xlink:href="#h-burger"></use>
          </svg>

          <svg role="img" aria-label="Navigation" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--reversed">
            <use xlink:href="#h-burger"></use>
          </svg>
        </button>
      </div>
    </div>

    <nav class="h-c-header__nav">
      <ul class="h-c-header__nav-list">
        <li class="h-c-header__nav-li" aria-level="1">
          <a href="#"
              class="h-c-header__nav-li-link">
            Item one
          </a>
        </li>
        <li class="h-c-header__nav-li" aria-level="1">
          <!-- TODO (joshmarsh): use attr selector to show/hide nested nav
               based on state of aria-expanded attribute
          -->
          <a href="#"
              class="h-c-header__nav-li-link h-is-active"
              aria-expanded="true">
            Item two
          </a>
        </li>
        <li class="h-c-header__nav-li" aria-level="1">
          <a href="#"
              class="h-c-header__nav-li-link">
            Item three
          </a>
        </li>
      </ul>
    </nav>
    {% endcomment %}

    <div class="h-c-header__cta">
      <ul class="h-c-header__cta-list">
        {% comment %}
        <li class="h-c-header__cta-li h-c-header__cta-li--secondary">
          <a href="#" class="h-c-header__cta-li-link
              h-c-header__cta-li-link--secondary">
            Secondary action
          </a>
        </li>
        {% endcomment %}
        {% if register %}
        <li class="h-c-header__cta-li h-c-header__cta-li--primary">
          <a href="{% url 'registration' slug|ng_mark_safe %}" class="h-c-header__cta-li-link
              h-c-header__cta-li-link--primary">
            {% trans "Start now" %}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="h-c-header__bar-underside"></div>
  </div>
  {% comment %}
  <div id="h-js-header__drawer" class="h-c-header__drawer" tabindex="0"
      aria-label="Navigation drawer">
    <div class="h-c-header__drawer-content">
      <div class="h-c-header__drawer-bar">
        <div class="h-c-header__drawer-lockup">
          <div class="h-c-header__drawer-company-logo">
            <div class="h-c-header__drawer-company-logo-link" title="Google">
              <svg role="img" class="h-c-header__drawer-company-logo-img">
                <use xlink:href="#h-color-google-logo"></use>
              </svg>
            </div>
          </div>

          <div class="h-c-header__drawer-product-logo">
            <div class="h-c-header__drawer-product-logo-link">
              <span class="h-c-header__drawer-product-logo-text">{% trans "Digital Maturity Benchmark" %}</span>
            </div>
          </div>
        </div>
      </div>

      <nav class="h-c-header__drawer-nav">
        <ul class="h-c-header__drawer-nav-list">
          <li class="h-c-header__drawer-nav-li" aria-level="1">
            <a href="#"
                class="h-c-header__drawer-nav-li-link">
              Item one
            </a>
          </li>
          <li class="h-c-header__drawer-nav-li" aria-level="1">
            <!-- Make sure the value you have for `aria-controls` matches
                 the `id` of your content area. -->
            <a href="#"
                class="h-c-header__drawer-nav-li-link h-is-active"
                aria-expanded="true" aria-controls="content" role="link">
              Item two
            </a>
          </li>
          <li class="h-c-header__drawer-nav-li" aria-level="1">
            <a href="#"
                class="h-c-header__drawer-nav-li-link">
              Item three
            </a>
          </li>
          <li class="h-c-header__drawer-nav-li" aria-level="1">
            <button type="button"
                    class="h-c-header__drawer-nav-close-btn"
                    id="h-js-header__drawer-close-btn"
                    aria-controls="h-js-header__drawer"
                    aria-expanded="true"
                    aria-label="Close the navigation drawer">
              Close navigation drawer
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <div class="h-c-header__drawer-cta">
      <ul class="h-c-header__drawer-cta-list">
        <li class="h-c-header__drawer-cta-li h-c-header__drawer-cta-li--secondary">
          <a href="#" class="h-c-header__drawer-cta-li-link
              h-c-header__drawer-cta-li-link--secondary">
            Secondary action
          </a>
        </li>
        <li class="h-c-header__drawer-cta-li h-c-header__drawer-cta-li--primary">
          <a href="{% url 'registration' tenant|ng_mark_safe %}" class="h-c-header__drawer-cta-li-link
              h-c-header__drawer-cta-li-link--primary">
            Start now
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="h-js-header__drawer-backdrop" class="h-c-header__drawer-backdrop"></div>
  {% endcomment %}
</div>
