{% comment %}
  Generates the partnership logo, with an img tag that has an srcset with 1x and 2x images.

  Takes following parameters:
    image - url of logo image without extension e.g. 'img/partners/deloitte-logo'.
    extension - logo image extension e.g. 'png'.
    company - company name needed for the img tag alt attribute.
    inline - (optional) Boolean that makes logo sit next to the text, aligned to baseline.
    invert - (optional) Boolean that makes text color inverted (white).

  Example:
    {% include 'public/inc/global/partnership-logo.inc.html' with image="img/partners/deloitte-logo" extension="png" company="deloitte" inline=True %}
{% endcomment %}

{% load staticfiles %}
<div
    class="dmb-partnership-logo{% if inline %} dmb-partnership-logo--inline{% endif %}{% if invert %} dmb-partnership-logo--invert{% endif %}">
  <div class="dmb-partnership-logo__text">In partnership with</div>
  <img
      srcset="{% static image %}{% if invert %}-light{% endif %}.{{extension}} 1x, {% static image %}{% if invert %}-light{% endif %}@2x.{{extension}} 2x"
      src="{% static image %}{% if invert %}-light{% endif %}.{{extension}}"
      alt="In partnership with {{company}}"
      class="dmb-partnership-logo__img">
</div>
