.dmb-button {
  align-items: center;
  border-radius: 30px;
  display: inline-flex;
  font-family: $dmb-alt-font-family;
  font-size: 14px;
  justify-content: center;
  letter-spacing: .5px;
  line-height: 30px;
  margin-top: 24px;
  padding: 10px 16px;
  transition: background .3s;

  @include bp(m) {
    font-size: 16px;
    padding: 10px 21px;
  }

  &:visited {
    color: inherit;
  }

  &__icon {
    margin-top: -1px;
    fill: currentColor;
  }

  &__text + &__icon,
  &__icon + &__text {
    @include dmb-responsive(margin-left, 12, 15);
  }

  &--secondary {
    border: 1px solid $dmb-color-grey-link-water;

    &:hover {
      background: #f8f9fa;
    }
  }

  &--tertiary {
    background: $dmb-color-blue-solitude;
    color: $dmb-color-grey-shuttle !important;

    &:hover {
      background: #e8eaed;
    }
  }

  &--find-out-more {
    position: relative;

    .dmb-button__icon {
      left: 16px;
      position: absolute;
      transform: rotate(90deg);
      transition: transform .2s;

      @include bp(s) {
        left: 21px;
      }
    }

    .dmb-button__text {
      margin-left: 30px;
    }

    &:hover {
      .dmb-button__icon {
        transform: translateX(-2px) rotate(90deg);
      }
    }
  }
}


// Can be added to an anchor tag or a button
.dmb-icon-button {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border-width: 0;
  box-shadow: $dmb-box-shadow;
  color: $dmb-color-grey-shuttle;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 56px;

  &:focus,
  &:hover,
  &:visited {
    color: $dmb-color-blue-charade;
  }

  svg {
    fill: currentColor;
    width: 22px;
  }
}
