@mixin hero() {
  background-image: url('../img/hero/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin hero-scrim() {
  background-image: linear-gradient(to left, rgba($h-white, 0) 0%, $h-white 100%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
