<div class="dmb-hero">
  <div class="h-c-page">
    <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col-l--7">
      <h1 class="h-c-headline h-c-headline--one">
        Don’t miss a single moment to connect
      </h1>
      <p class="h-c-headline h-c-headline--four">
        Discover how your marketing maturity measures up, plan your progress, reach more customers
      </p>
      <button class="h-c-button h-c-button--primary">
        Learn more
      </button>
    </div>
    <div class="dmb-hero__bcg-wrp">
      <p>In partnership with</p>
      <img src="" alt="The Boston Consulting Group">
    </div>
  </div>
</div>
