.JFEContent {

  &:before {
    background-image: url('https://wallpaperscraft.com/image/mug_steam_hand_119508_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 100vh;
    min-height: 600px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.Skin {
  #SkinContent,
  #HeaderContainer {
    background: transparent
  }


  #Header {
    background: transparent;
    color: $tr-white;
    height: 100vh;
    margin: 0;
  }


  .hero {

    &__title-intro {
      // font-size: 22px;
      // line-height: 28px;
      margin-bottom: base-unit(5);
      // font-weight: 700;

      @include mq($from: desktop) {
        margin-bottom: base-unit(1);
      }
    }

    &__title {
      // font-size: 36px;
      font-weight: $tr-font-weight-bold;
      // line-height: 40px;
      margin-bottom: base-unit(5);

      @include mq($from: tablet) {
        // font-size: 70px;
        // line-height: 70px;
      }
    }

    &__description {
      // font-size: 18px;
      margin-bottom: base-unit(5);

      @include mq($from: tablet) {
        max-width: 470px;
      }

      @include mq($from: desktop) {
        // font-size: 20px;
      }
    }
  }
}

