#HeroBanner {
    background-image: url(../images/hero.jpg);
    background-position: center;
}

#HeroBanner  .hero-content {
    vertical-align: bottom;
    padding: 0 15px 301px 15px;
}


.about--valentina:before {
    display: none;
}

.about--valentina:after {
    background-image: url(../images/valentina.jpg);
    background-position: top center;
}

.about--anna:after {
    display: none;
}

.about--anna .about-wrapper {
    margin-left: 50%;
    padding-left: 100px;
}

.about--anna:before {
    left: 0;
    background-image: url(../images/anna.jpg);
    background-position: top center;
}
