$google-blues: (
  50: #e8f0fe,
  100: #c6dafc,
  200: #a1c2fa,
  300: #7baaf7,
  400: #5e97f6,
  500: #4285f4,
  600: #3b78e7,
  700: #3367d6,
  800: #2a56c6,
  900: #1c3aa9
);


$google-blue-50: map-get($google-blues, 50);
$google-blue-100: map-get($google-blues, 100);
$google-blue-200: map-get($google-blues, 200);
$google-blue-300: map-get($google-blues, 300);
$google-blue-400: map-get($google-blues, 400);
$google-blue-500: map-get($google-blues, 500);
$google-blue-600: map-get($google-blues, 600);
$google-blue-700: map-get($google-blues, 700);
$google-blue-800: map-get($google-blues, 800);
$google-blue-900: map-get($google-blues, 900);
