<section class="dmb-home-tabs h-c-page">
  <h3 class="h-c-eyebrow dmb-u-m-b-s">How it works</h3>
  {% include 'public/news/inc/step-heading.inc.html' with text='Find out where your news organisation is on the data maturity scale.' svg='shield' %}

  <div class="dmb-home-tabs__tabs glue-tabby glue-zippy-style h-t-hercules"
    data-glue-tabby-tabset-breakpoints="['small', 'medium', 'medium-large', 'large', 'x-large', 'xx-large']" ng-cloak>
    <ul class="glue-zippy-set-single">
      <li data-glue-label="nascent" id="nascent" class="dmb-home-tabs__tab--nascent glue-a-zippy--v-smooth-expand">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading h-u-font-weight-medium">
            Nascent
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/news/inc/home-tab-content.inc.html' with title='Nascent' text='Organisations at this stage have the basic tools, but they often face cultural challenges to truly embracing data-supported decision-making.' %}
        </div>
      </li>

      <li data-glue-label="developing" id="developing" class="dmb-home-tabs__tab--developing glue-a-zippy--v-smooth-expand">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading h-u-font-weight-medium">
            Developing
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/news/inc/home-tab-content.inc.html' with title='Developing' text='These organisations are able to drive value from data in some pockets of their business. Leadership recognizes data as a priority, but is unclear on how to unlock the best returns.' %}
        </div>
      </li>

      <li data-glue-label="mature" id="mature" class="dmb-home-tabs__tab--mature glue-a-zippy--v-smooth-expand">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading h-u-font-weight-medium">
            Mature
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/news/inc/home-tab-content.inc.html' with title='Mature' text='Data-informed decision making is the standard across much of the business. While the technology and tools support various use cases, they are mostly on a project basis and not business as usual.' %}
        </div>
      </li>

      <li data-glue-label="leading" id="leading" class="dmb-home-tabs__tab--leading glue-a-zippy--v-smooth-expand">
        <h3 class="dmb-home-tabs__tab-heading h-c-tabby__heading-container">
          <span class="h-c-tabby__heading h-u-font-weight-medium">
            Leading
          </span>
          <svg role="img" width="12" height="8" class="h-c-tabby__heading-indicator h-c-icon h-c-icon--chevron h-c-icon--chevron-down">
            <use xlink:href="#mi-chevron"></use>
          </svg>
        </h3>
        <div class="h-c-tabby__content">
          {% include 'public/news/inc/home-tab-content.inc.html' with title='Leading' text='These organisations see data as an integral part of achieving their strategic objectives. They experiment with innovative, data-oriented projects and technologies that help drive the industry forward.' %}
        </div>
      </li>
    </ul>
  </div>
</section>
