<section class="dmb-icon-text-cta h-c-page h-u-text-center dmb-u-p-b-m{% if class %} {{class}}{% endif %}">
  {% include 'core/inc/svg.html' with id='analysis' size='80px' class='dmb-u-m-t-s dmb-u-m-b-s' %}
  <p class="dmb-icon-text-cta__text h-c-headline h-c-headline--subhead dmb-u-m-b-s">
    First, it analyzes where your business sits on the path to full data maturity.<br>
    Then, it generates a personalized interactive report to help you level up.
  </p>
  <a class="h-c-button h-c-button--flat" href="#">
    What do we mean by data?
  </a>
</section>
