// Fileoverview:
// Breakpoints definitions and library using them configuration.

// Breakpoints.
// This breakpoints match the ones used by qualtrics on the survey.
$tr-breakpoints: (
  mobile:  480px,
  tablet:  769px,
  desktop: 1000px,
  wide:    1300px
);


$tr-height-breakpoints: (
  short-desktop: 800px,
);
// Set mq breakpoints to be the tr ones.
$mq-breakpoints: $tr-breakpoints;

// Flexboxgrid breakpoint settings.
// The breakpoints definition has as 3rd value
// the size of the grid container. We're likely
// have the container size defined in our scss.
//
// Let's set a random value for now.
// This value is actually NOT used.
$container-width: 1300px;


// Flexboxgrid - Grid Bp - Defining the bp in EM for consistency with mq.
$breakpoints:
  mobile map-get($tr-breakpoints, mobile) $container-width,
  tablet map-get($tr-breakpoints, tablet) $container-width,
  desktop map-get($tr-breakpoints, desktop) $container-width,
  wide map-get($tr-breakpoints, wide) $container-width;
