
$tr-google-greens: (
  50: #e2f3eb,
  100: #b7e1cd,
  200: #87ceac,
  300: #57bb8a,
  400: #33ac71,
  500: #0f9d58,
  600: #0d904f,
  700: #0b8043,
  800: #097138,
  900: #055524
);



// Fileoverview:
// Color definitions.

$tr-cornflower-blue: #4285F4;
$tr-mariner: #3367D6;
$tr-green: map-get($tr-google-greens, 700);
$tr-green-darker: map-get($tr-google-greens, 500);
$tr-gray: #9AA0A6;

$tr-zircorn: #DFE1E5;
$tr-white: #fff;

$tr-bastille: #292D33;
$tr-logo-font: #5F6368;

$tr-bg-colors: (
  blue: $tr-cornflower-blue,
  white: $tr-white,
);
