// Fileoverview:
// Color definitions.

$tr-cornflower-blue: #4285F4;
$tr-mariner: #3367D6;

$tr-zircorn: #DFE1E5;
$tr-white: #fff;

$tr-bastille: #292D33;

$tr-bg-colors: (
  blue: $tr-cornflower-blue
);
