// fileoverview:
// Talent Revolution type variables and configuration.

// Default font family.
$tr-font-family: 'Google Sans', Arial, Helvetica, sans-serif;

// We use these to define default font styles
$tr-font-style-normal: normal;

// We use these to define default font weights
$tr-font-weight-light: 300;
$tr-font-weight-regular: 400;
$tr-font-weight-bold: 700;
$tr-font-weight-medium: 500;
// $tr-font-weight-thin: 100;

// Color palette for typography
$tr-font-color-light: $tr-white;
$tr-font-color-dark: $tr-bastille;

$tr-font-size-default: 20px;
$tr-font-line-height-default: base-unit(3);

$tr-display-font-size: 80px;
$tr-display-line-height: base-unit(10);
$tr-display-font-weight: $tr-font-weight-bold;

$tr-h1-font-size: 56px;
$tr-h1-line-height: base-unit(8);
$tr-h1-font-weight: $tr-font-weight-bold;

$tr-h2-font-size: 40px;
$tr-h2-line-height: base-unit(6);
$tr-h2-font-weight: $tr-font-weight-bold;

$tr-h3-font-size: 24px;
$tr-h3-line-height: base-unit(4);
$tr-h3-font-weight: $tr-font-weight-medium;

$tr-h4-font-size: 16px;
$tr-h4-line-height: base-unit(3);
$tr-h4-font-weight: $tr-font-weight-medium;

$tr-paragraph-font-size: $tr-font-size-default;
$tr-paragraph-line-height: base-unit(3);


$tr-p-smaller-font-size: 14px;
$tr-p-smaller-line-height: base-unit(3);
$tr-p-smaller-font-weight: $tr-font-weight-regular;
