{% extends "public/base.html" %}
{% load angular %}

{% block main %}
{% djangoblock %}
<div class="h-c-page">
  <h2 class="h-c-headline h-c-headline--three">{{ account.name }}</h2>
  <p>{{ account.account_id }} {{ account.country }} {{ account.industry }}</p>

  <hr>

  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--6">
      <p>External Results:</p>
      <ul>
        {% for result in external_results %}
          <li>
            {{ result.date }} [{{ result.overall.value }}]
            <ul>
              {% for dimension, dimension_info in result.dimensions.items %}
                <li>{{ dimension }} [{{ dimension_info.value }}]</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="h-c-grid__col h-c-grid__col--6">
        <p>Internal Results:</p>
        <ul>
          {% for result in internal_results %}
            <li>
              {{ result.date }} [{{ result.overall.value }}]
              <ul>
                {% for dimension, dimension_info in result.dimensions.items %}
                  <li>{{ dimension }} [{{ dimension_info.value }}]</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% enddjangoblock %}
{% endblock %}
