{% extends "public/base.html" %}
{% load angular %}

{% block main %}
{% djangoblock %}
<main id="dmb-account" class="dmb-account h-c-page dmb-u-m-t-m h-u-font-weight-regular">
  <div class="dmb-banner dmb-u-m-b-m">
    <div class="dmb-banner__back">
      <a href="{% url 'reports' slug %}">
        {% include 'core/inc/svg.html' with id='back' size='24px' %}
      </a>
    </div>

    <div class="dmb-banner__main">
      <h1 class="dmb-banner__heading h-c-headline h-c-headline--two">
        {{ account.name }}
      </h1>
      <div class="dmb-banner__details">
        <ul class="dmb-banner__details-list">
          <li class="dmb-banner__details-list-item">
            {% include 'core/inc/svg.html' with id='greentea' size='24px' %}
            <span>{{ account.id }}</span>
          </li>
          <li class="dmb-banner__details-list-item">
            {% include 'core/inc/svg.html' with id='globe' size='24px' %}
            <span>{{ account.country }}</span>
          </li>
          <li class="dmb-banner__details-list-item">
            {% include 'core/inc/svg.html' with id='briefcase' size='24px' %}
            <span>{{ account.industry }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="dmb-banner__btns h-u-text-right">
      <button class="dmb-banner__btn">
        {% include 'core/inc/svg.html' with id='edit' size='24px' %}
      </button>
      <button class="dmb-banner__btn">
        {% include 'core/inc/svg.html' with id='export' size='24px' %}
      </button>
    </div>
  </div>

  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--6">
      <div class="dmb-list-card">
        <div class="dmb-list-card__header">
          <h2 class="dmb-u-no-margin h-c-headline h-c-headline--subhead">Internal</h2>
          <span class="dmb-list-card__header-left dmb-list-card__subtext dmb-u-text-muted">
            {{ internal_results|length }} completion{{ internal_results|length|pluralize }}
          </span>
          <button class="dmb-list-card__header-right dmb-button">
            {% include 'core/inc/svg.html' with id='int-assessment' size='24px' %}
            <span>Assess client</span>
          </button>
        </div>
      </div>
      <!-- Expansion Panels Component -->
      <div class="dmb-exp-panels glue-expansion-panels">
        {% for result in internal_results %}

          <div class="dmb-list-card dmb-exp-panels__panel dmb-exp-panels__panel--level-{{forloop.counter0}} glue-expansion-panel">
            <div class="dmb-list-card__header dmb-exp-panels__heading dmb-exp-panels__toggle glue-expansion-panel-toggle">
              <div class="dmb-list-card__header-left">
                Q{{ result.date|fiscal }} {{ result.date|date:"Y" }}
                <span class="dmb-u-text-muted">&#8226; {{ result.date|date:"F j" }}</span>
              </div>
              {% comment %} Hidden until glue upgrade is complete for expension panels
              <div class="dmb-list-card__header-right">
                {{ result.overall.value|floatformat }}
                <span class="dmb-list-card__subtext dmb-u-text-muted">{{ result.overall.levels.current.name }}</span>
              </div>
              {% endcomment %}
              <button
                  aria-label="toggle panel expansion"
                  class="dmb-list-card__toggle dmb-exp-panels__toggle"
                  data-glue-expansion-panel-toggle-for="level-{{forloop.counter0}}">
                <svg class="dmb-exp-panels__arrow" role="img" width="12" height="8">
                  <use xlink:href="#mi-chevron"></use>
                </svg>
              </button>
            </div>
            <div
                class="dmb-list-card__content dmb-exp-panels__content glue-expansion-panel-content"
                {% if forloop.counter0 == 0 %} data-glue-expansion-panel-initial="expanded"{% endif %}
                id="level-{{forloop.counter0}}">
              <div class="dmb-list-card__overall">
                <div>Overall</div>
                <div class="dmb-list-card__overall-text">{{ result.overall.levels.current.name }}</div>
                <div class="dmb-list-card__overall-score">{{ result.overall.value|floatformat }}</div>
              </div>
              <ul class="dmb-list-card__dimension-list">
                {% for dimension, dimension_info in result.dimensions.items %}
                  <li class="dmb-list-card__dimension-list-item">
                    <div>{{ dimension_info.name|capfirst }}</div>
                    <div class="dmb-u-text-muted">{{ dimension_info.levels.current.name }}</div>
                    <div class="dmb-u-text-muted">{{ dimension_info.value|floatformat }}</div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

        {% endfor %}
      </div> <!--/expansion panels -->
    </div>

    <div class="h-c-grid__col h-c-grid__col--6">
      <div class="dmb-list-card">
        <div class="dmb-list-card__header">
          <h2 class="dmb-u-no-margin h-c-headline h-c-headline--subhead">External</h2>
          <span class="dmb-list-card__header-left dmb-list-card__subtext dmb-u-text-muted">
            {{ external_results|length }} completion{{ external_results|length|pluralize }}
          </span>
          <button class="dmb-list-card__header-right h-c-button h-c-button--flat">
            {% include 'core/inc/svg.html' with id='ext-assessment' size='24px' %}
            <span>Send assessment to client</span>
          </button>
        </div>
      </div>
      <!-- Expansion Panels Component -->
      <div class="dmb-exp-panels glue-expansion-panels">
        {% for result in external_results %}

          <div class="dmb-list-card dmb-exp-panels__panel dmb-exp-panels__panel--level-{{forloop.counter0}} glue-expansion-panel">
            <div class="dmb-list-card__header dmb-exp-panels__heading dmb-exp-panels__toggle glue-expansion-panel-toggle">
              <div class="dmb-list-card__header-left">
                Q{{ result.date|fiscal }} {{ result.date|date:"Y" }}
                <span class="dmb-u-text-muted">&#8226; {{ result.date|date:"F j" }}</span>
              </div>
              {% comment %} Hidden until glue upgrade is complete for expension panels
              <div class="dmb-list-card__header-right">
                {{ result.overall.value|floatformat }}
                <span class="dmb-list-card__subtext dmb-u-text-muted">{{ result.overall.levels.current.name }}</span>
              </div>
              {% endcomment %}
              <button
                  aria-label="toggle panel expansion"
                  class="dmb-list-card__toggle dmb-exp-panels__toggle"
                  data-glue-expansion-panel-toggle-for="level-{{forloop.counter0}}">
                <svg class="dmb-exp-panels__arrow" role="img" width="12" height="8">
                  <use xlink:href="#mi-chevron"></use>
                </svg>
              </button>
            </div>
            <div
                class="dmb-list-card__content dmb-exp-panels__content glue-expansion-panel-content"
                {% if forloop.counter0 == 0 %} data-glue-expansion-panel-initial="expanded"{% endif %}
                id="level-{{forloop.counter0}}">
              <div class="dmb-list-card__overall">
                <div>Overall</div>
                <div class="dmb-list-card__overall-text">{{ result.overall.levels.current.name }}</div>
                <div class="dmb-list-card__overall-score">{{ result.overall.value|floatformat }}</div>
              </div>
              <ul class="dmb-list-card__dimension-list">
                {% for dimension, dimension_info in result.dimensions.items %}
                  <li class="dmb-list-card__dimension-list-item">
                    <div>{{ dimension_info.name|capfirst }}</div>
                    <div class="dmb-u-text-muted">{{ dimension_info.levels.current.name }}</div>
                    <div class="dmb-u-text-muted">{{ dimension_info.value|floatformat }}</div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

        {% endfor %}
      </div> <!--/expansion panels -->
    </div>
  </div>
</main>
{% enddjangoblock %}
{% endblock %}
