{% extends "public/base.html" %}
{% load angular %}

{% block main %}
{% djangoblock %}
<div class="h-c-page">
  <h2 class="h-c-headline h-c-headline--three">{{ account.company_name }}</h2>
  <p>{{ account.account_id }} { country }} {{ industry }}</p>

  <hr>

  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--6">
      <p>External Results:</p>
      <ul>
        {% for result in account.survey_results.all %}
          <li>
            {{ result.started_at }} [{{ result.dmb }}]
            <ul>
              {% for dimension, score in result.dmb_d.items %}
                <li>{{ dimension }} [{{ score }}]</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="h-c-grid__col h-c-grid__col--6">
        <p>Internal Results:</p>
        <ul>
          {% for result in account.internal_results.all %}
            <li>
              {{ result.started_at }} [{{ result.dmb }}]
              <ul>
                {% for dimension, score in result.dmb_d.items %}
                  <li>{{ dimension }} [{{ score }}]</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% enddjangoblock %}
{% endblock %}
