{% extends "public/base.html" %}
{% load angular %}

{% block main %}
{% djangoblock %}
<main id="dmb-account-details" class="dmb-account-details h-c-page dmb-u-m-t-m h-u-font-weight-regular">

  {% include 'public/admin/inc/account-details-banner.inc.html' with account=account %}

  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col-l--6 dmb-u-m-b-s">
      {% include 'public/admin/inc/account-details-result-list.inc.html' with list_name='internal' results=internal_results %}
    </div>

    <div class="h-c-grid__col h-c-grid__col-l--6 dmb-u-m-b-s">
      {% include 'public/admin/inc/account-details-result-list.inc.html' with list_name='external' results=external_results %}
    </div>
  </div>

  <div class="dmb-toast dmb-toast--short" dmb-clippy-toast="copy-external-link">
    External assessment link copied to clipboard!
  </div>
</main>
{% enddjangoblock %}
{% endblock %}
