{% extends 'public/base.html' %}
{% load staticfiles %}
{% load angular %}

{% block body_class %}dmb-add-account{% endblock %}

{% block main %}

<main
    class="h-c-page"
    id="dmb-add-account"
    ng-cloak
    ng-controller="RegistrationCtrl as registrationCtrl">

  <div class="dmb-toolbar dmb-u-m-t-s dmb-u-m-b-s h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--7">

      <div class="dmb-toolbar__heading h-c-headline h-c-headline--subhead dmb-u-no-margin">
        <a
            class="dmb-toolbar__heading-icon"
            href="{% url 'accounts' slug|ng_mark_safe %}">
          {% include 'core/inc/svg.html' with id='back' size='20px' %}
        </a>
        <h1 class="dmb-toolbar__heading-text">
          Add account
        </h1>
      </div>

    </div>
  </div>

  <div class="h-c-grid">
    <div class="h-c-grid__col h-c-grid__col--5">

      <form
          autocomplete="off"
          class="dmb-form dmb-form--admin"
          name="registration"
          ng-init="registrationCtrl.engagementLead='{{engagement_lead|ng_mark_safe}}'"
          ng-submit="registrationCtrl.submit()"
          novalidate>

        <div class="dmb-form__inputs-wrapper dmb-u-m-b-xs">
          <h2 class="h-u-font-weight-regular dmb-u-m-b-s dmb-u-alt-font">
            Create a new account
          </h2>

          <p class="dmb-u-m-b-s">
            Fill in these details to create a new account
          </p>

          <input
              class="dmb-form__input"
              id="tenant"
              name="tenant"
              ng-init="registrationCtrl.tenant='{{tenant|ng_mark_safe}}'"
              ng-model="registrationCtrl.tenant"
              required
              type="hidden"
              value="{{tenant|ng_mark_safe}}">

          <div class="dmb-form__input-wrapper">
            <label for="companyName">
              Organisation name
            </label>
            <input
                class="dmb-form__input"
                name="companyName"
                ng-model="registrationCtrl.companyName"
                placeholder="Enter the organisation name"
                required
                type="text">
          </div>

          <div class="dmb-form__input-wrapper">
            <label for="accountId">
              Greentea Division ID &#8226;
              <a
                  class="h-c-inline-link h-u-font-weight-regular"
                  href="http://go/dmb-userguide"
                  target="_blank">
                Where can I find this?
              </a>
            </label>
            <input
                class="dmb-form__input dmb-u-m-b-xs"
                id="accountId"
                name="accountId"
                ng-model="registrationCtrl.accountId"
                placeholder="Enter Greentea ID (division)"
                required
                type="text">
          </div>

          <div class="dmb-form__input-wrapper">
            <label for="industry">
              Industry
            </label>
            <select
                class="dmb-form__select dmb-dropdown-arrow"
                id="industry"
                name="industry"
                ng-model="registrationCtrl.industry"
                required>
              <option
                  disabled
                  selected
                  value="">
                Select an industry
              </option>
                {% for i_key, i_text in industries %}
                  <option value="{{i_key|ng_mark_safe}}">
                    {{i_text|ng_mark_safe}}
                  </option>
                {% endfor %}
            </select>
          </div>

          <div class="dmb-form__input-wrapper">
            <label for="country">
              Country
            </label>
            <select
                class="dmb-form__select dmb-dropdown-arrow"
                id="country"
                name="country"
                ng-model="registrationCtrl.country"
                required>
              <option
                  disabled
                  selected
                  value="">
                Select a country
              </option>
                {% for c_key, c_text in countries %}
                  <option value="{{c_key|ng_mark_safe}}">
                    {{c_text|ng_mark_safe}}
                  </option>
                {% endfor %}
            </select>
          </div>
        </div>

        <div
            class="dmb-form__error"
            ng-hide="!registrationCtrl.serverError">
          Oops, something went wrong!
        </div>

        <div class="dmb-form__btns-wrapper">
          <button
              class="h-c-button h-c-button--primary"
              type="submit">
            Add Account
          </button>

          <a
              class="h-c-button dmb-outline-button"
              href="{% url 'accounts' slug|ng_mark_safe %}">
            Cancel
          </a>
        </div>

      </form>
    </div>

    <!-- <div class="h-c-grid__col h-c-grid__col--4 h-c-grid__col--offset-1">
      <div class="dmb-note">
        <div class="dmb-note__icon-wrapper">
          {% include 'core/inc/svg.html' with id='info-2' size='20px' %}
        </div>
        <div class="dmb-note__text-wrapper">
          <p>
            Accounts are shared across Google.
          </p>
          <p>
            Once created, other Googlers will be able to add this account to their dashboard and view the maturity results.
          </p>
          <p>
            The detailed responses given for internal assessments are not shared.
          </p>
        </div>
      </div>
    </div> -->


  </div>
</main>

{% endblock %}
