// Breakpoints
$tr-breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px
);

// Set mq breakpoints to be the tr ones.
$mq-breakpoints: $tr-breakpoints;

// Flexboxgrid breakpoint settings.
// The breakpoints definition has as 3rd value
// the size of the grid container. We're likely
// have the container size defined in our scss.
//
// Let's set a random value for now.
// This value is actually NOT used.
$container-width: 100%;


// Defining the bp in EM for consistency with mq.
$breakpoints:
  mobile map-get($tr-breakpoints, mobile ) / $tr-font-size-default * 1em $container-width,
  tablet map-get($tr-breakpoints, tablet ) / $tr-font-size-default * 1em $container-width,
  desktop map-get($tr-breakpoints, desktop ) / $tr-font-size-default * 1em $container-width,
  wide map-get($tr-breakpoints, wide ) / $tr-font-size-default * 1em $container-width;
