// fileoverview:
// Talent Revolution type variables and configuration.

// Default font family.
$tr-font-family: 'Google Sans', Arial, Helvetica, sans-serif;

// We use these to define default font styles
$tr-font-style-normal: normal;

// We use these to define default font weights
$tr-font-weight-light: 300;
$tr-font-weight-regular: 400;
$tr-font-weight-bold: 700;
// $tr-font-weight-thin: 100;
// $tr-font-weight-medium: 500;

// Color palette for typography
$tr-font-color-light: $tr-white;
$tr-font-color-dark: $tr-bastille;
// $tr-font-color-darker: #545454;
// $tr-font-color-darkest: #414141;
