{% load staticfiles %}
<div class="dmb-collaboration{% if invert %} dmb-collaboration--invert{% endif %}">
  <div class="dmb-collaboration__text h-c-footnote">
    In collaboration with
  </div>
  <div class="dmb-collaboration__logos">
    <img
        class="dmb-collaboration__img"
        srcset="{% static 'img/partners/deloitte-logo' %}{% if invert %}-light{% endif %}.png 1x, {% static 'img/partners/deloitte-logo' %}{% if invert %}-light{% endif %}@2x.png 2x"
        src="{% static 'img/partners/deloitte-logo' %}{% if invert %}-light{% endif %}.png"
        alt="deloitte logo">
  </div>
</div>
