.tr-section,
.fp-section {

  &,
  &:not(.tr-hero):not(.section-slider):not(.mobile-full-height) .fp-tableCell {
    @include mq($until: desktop) {
      height: auto !important;
    }

    .wrapper {
      padding-bottom: base-unit(8);
      padding-top: base-unit(4);

      @include mq($from: mobile) {
        padding-bottom: base-unit(11);
        padding-top: base-unit(11);
      }

      @include mq($from: mobile) {
        padding-bottom: base-unit(14);
        padding-top: base-unit(8);
      }
    }

  }


  .wrapper {
    @include mq($from: desktop) {
      margin-top: $tr-header-height;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}
