.tr-section,
.fp-section {
  &,
  .fp-tableCell {
    @include mq($until: tablet) {
      height: auto !important;
    }
  }


  .wrapper {
    padding-bottom: base-unit(8);
    padding-top: base-unit(4);

    @include mq($from: tablet) {
      margin-top: $tr-header-height;
      padding-bottom: base-unit(10);
      padding-top: base-unit(10);
    }
  }
}
