<section class="dmb-icon-text-cta h-u-text-center dmb-u-p-t-m dmb-u-p-b-m{% if class %} {{class}}{% endif %}">
  <div class="h-c-page">
    {% include 'core/inc/svg.html' with id='analysis' size='80px' class='dmb-u-m-b-s' only %}

    <p class="dmb-icon-text-cta__text h-c-headline h-c-headline--subhead">
      First, it analyzes where your business sits on the path to transformational cloud maturity.<br>
      Then, it generates a personalized interactive report to help you plan your cloud adoption roadmap.
    </p>
  </div>
</section>
