{% load staticfiles %}

<section class="dmb-tile-carousel{% if class %} {{class}}{% endif %} dmb-u-p-t-m dmb-u-p-b-m">
  <div class="h-c-page">
    {% include 'public/inc/global/step-heading.inc.html' with svg='shield' numbered=True text="To develop a cloud-first organization, there are four foundational themes you will need to excel in—whatever your business objectives. Assess your organization against these themes:" only %}

    <div class="dmb-tile-carousel__tiles">

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/'|add:tenant|add:'/dimensions/learn.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="learn icon">
          <h4 class="h-c-tile__headline">
            Learn
          </h4>
          <p class="h-c-tile__description">
            The quality and scale of the learning programs in place to upskill technical teams, and the ability to augment IT staff with experienced partners.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/'|add:tenant|add:'/dimensions/lead.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="lead icon">
          <h4 class="h-c-tile__headline">
            Lead
          </h4>
          <p class="h-c-tile__description">
            The extent to which IT teams are supported by a mandate from leadership to migrate to cloud, and the degree to which the teams themselves are cross-functional, collaborative, and self-motivated.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/'|add:tenant|add:'/dimensions/scale.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="scale icon">
          <h4 class="h-c-tile__headline">
            Scale
          </h4>
          <p class="h-c-tile__description">
            The extent to which cloud-native services are used that reduce operational overhead and automate manual processes and policies.
          </p>
        </div>
      </div>

      <div class="dmb-tile-carousel__tile h-c-tile h-c-tile--border h-c-tile--small-height">
        <div class="h-c-tile__body">
          <img
              src="{% static 'img/'|add:tenant|add:'/dimensions/secure.svg' %}"
              class="dmb-tile-carousel__tile-icon dmb-u-m-b-m"
              alt="secure icon">
          <h4 class="h-c-tile__headline">
            Secure
          </h4>
          <p class="h-c-tile__description">
            The capability to protect services from unauthorized and inappropriate access with a multilayered, identity-centric security model.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
