.dmb-survey-banner {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    font-family: $dmb-alt-font-family;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5;
    line-height: 1;
    text-transform: uppercase;

    @include dmb-mq($from: tablet) {
      br {
        display: none;
      }
    }
  }

  &-container {
    .InnerInner {
      padding-bottom: 0;
    }

    &.QuestionOuter + .Separator {
      display: none;
    }
  }
}
