.dmb-survey-footer {
  position: relative;
  @include dmb-resp-prop(padding, '40px 16px', '40px 30px');

  @include dmb-mq($from: tablet) {
    display: flex;
  }

  &__bg {
    background: $dmb-color-blue-solitude;
    bottom: 0;
    left: -1000px;
    position: absolute;
    right: -1000px;
    top: 0;
    z-index: -1;
  }

  &__logo {
    margin-right: 50px;
    width: 86px;

    @include dmb-mq($until: tablet) {
      margin-bottom: 30px;
    }
  }

  &__links {
    list-style-type: none;
    margin: 0;
  }

  &__link {
    color: $dmb-color-grey-shuttle;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;

    &:not(:last-of-type) {
      margin-right: 30px;
    }

    @include dmb-mq($from: tablet) {
      display: inline-block;
    }
  }
}
