.dmb-survey-footer {
  @include dmb-mq($from: tablet) {
    display: flex;
  }

  &__logo {
    margin-right: 50px;
    width: 86px;

    @include dmb-mq($until: tablet) {
      margin-bottom: 30px;
    }
  }

  &__links {
    list-style-type: none;
    margin: 0;
  }

  &__link {
    color: $dmb-color-grey-shuttle;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;

    &:not(:last-of-type) {
      margin-right: 30px;
    }

    @include dmb-mq($from: tablet) {
      display: inline-block;
    }
  }
}
