.Skin {
  fieldset {
    border: 0 none;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
  }

  legend {
    @extend .h-c-headline;
    @extend .h-c-headline--four;
    margin-bottom: $dmb-margin-small;
  }

  .QuestionText {
    padding: 0;
  }

  .QuestionBody {
    margin-bottom: $dmb-margin-medium;
    overflow: visible;
    padding: 0;
  }

  input[type=text] {
    border: 0 none;
    border-bottom: 1px solid $dmb-input-color--passive;
    border-radius: 0;

    &:focus {
      border-bottom-color: $dmb-input-color--active;
    }
  }
}
