.dmb-survey-hero {
  text-align: left;

  &__lockup {
    display: flex;
  }

  &__company-logo {
    margin-right: 10px;
    width: 50px;

    @include dmb-mq($from: desktop) {
      width: 60px;
    }
  }

  &__product-logo {
    color: $dmb-color-grey-mid;
    font-family: $h-font-family-product-sans;
    font-size: 12px;
    font-weight: $h-font-weight-regular;
    margin-top: -3px;

    @include dmb-mq($from: desktop) {
      font-size: 16px;
    }
  }

  .dmb-primary-heading {
    color: $dmb-news-primary-color;
  }

  &__flex {
    @include dmb-mq($from: desktop) {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }
  }

  &__panel-button {
    display: block;

    &.h-c-button {
      margin-bottom: 30px;
    }
  }

  &__instructions {
    h2 {
      margin-bottom: 10px;
    }
  }
}

@each $tenant, $value in $tenants {
  .dmb-#{$tenant} {
    &#Wrapper.dmb-survey--start { // sass-lint:disable-line no-ids
      background-image: url('../img/#{$tenant}/survey/survey-hero.jpg');
      background-size: auto 193px;

      @include dmb-mq(tablet) {
        background-size: auto 250px;
      }

      @include dmb-mq($from: desktop) {
        background-size: auto 330px;
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/#{$tenant}/survey/survey-hero@2x.jpg');
      }
    }

    .dmb-primary-heading {
      color: map-get($value, primary-color);
    }
  }
}
