.Skin {
  .Matrix .q-matrix {
    // Each row in the matrix has its own spacing now
    margin-bottom: 0;

    table,
    tbody,
    tr,
    th,
    td,
    .table-cell {
      display: block;
    }

    thead {
      display: none;
    }

    .ChoiceRow {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin-bottom: $dmb-margin-medium;

      &:hover {
        background: transparent;
      }

      > th {
        @extend .h-c-headline;
        @extend .h-c-headline--four;
        display: block;
        margin-bottom: 24px;
        padding: 0 !important;
        width: 100%;
      }
    }

    td {
      position: relative;

      > input {
        @include element-invisible();
      }

      .single-answer.mobile {
        @extend %dmb-radio-label;
        display: flex !important;
        outline: none;
      }

      &:hover .single-answer.mobile,
      .single-answer.mobile.q-focused {
        @extend %dmb-radio-label--hover;
      }

      .q-radio.q-checked + .single-answer.mobile {
        @extend %dmb-radio-lable--active;
      }

      .q-radio {
        @extend %dmb-radio-input;
        display: block;
        outline: none;
      }

      &:hover .q-radio,
      .q-radio.q-focused {
        @extend %dmb-radio-input--hover;
      }
    }

    &.mobile {
      // Mobile-specific styles go here
      .ChoiceRow {
        border-bottom: 0 none;
        flex-flow: column nowrap;
        height: auto !important;
      }

      table td {
        padding: 0 !important;

        & + td {
          margin-top: 16px;
        }
      }

      .dropdown-arrow.mobile,
      .answered-indicator.mobile {
        display: none !important;
      }
    }

    &.desktop {
      // Desktop-specific styles go here
      table td {
        flex: 1;

        & + td {
          margin-left: 12px;
        }
      }

      .single-answer.mobile {
        border-color: transparent;
        font-size: 16px;
        height: 112px;
        justify-content: center;
        padding: 12px 24px 75px;
      }

      .q-radio.q-checked + .single-answer.mobile {
        padding: 11px 23px 74px;
      }

      .q-radio {
        bottom: 24px;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: auto;
      }
    }
  }
}
