// sass-lint:disable no-ids
.dmb-survey-privacy-policy {
  $block: &;

  &__intro {
    margin-bottom: 10px;
  }

  &__read-more-label {
    font-weight: 500;
  }

  &__less {
    display: none;
  }

  &__text {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;

    .h-c-button {
      display: inline;
      font-size: 12px;
    }
  }

  &__read-more:checked {
    & + label {
      #{$block}__less {
        display: inline;
      }

      #{$block}__more {
        display: none;
      }
    }

    & ~ #{$block}__text {
      max-height: 700px;
    }
  }
}

.dmb-survey-policy-checkbox {
  &.QuestionOuter {
    padding-top: 0;
  }

  #Wrapper & {
    .LabelWrapper label {
      color: $dmb-text-color;

      &:not(.q-focused) {
        background: transparent;
      }
    }
  }
}
