.Skin {
  // Radio groups
  .MC .QuestionBody {
    overflow: visible;
    padding: 0;

    .Selection {
      padding: 0;
      position: relative;

      & + .Selection {
        margin-top: 16px;
      }

      .radio,
      .checkbox {
        @include element-invisible();
      }

      .LabelWrapper {
        display: block;
        width: auto;

        .SingleAnswer,
        .MultipleAnswer {
          @extend %dmb-radio-label;

          &.q-checked {
            @extend %dmb-radio-lable--active;

            & ~ .TextEntryBox {
              display: block;
            }
          }
        }
      }

      .TextEntryBox {
        -webkit-appearance: none;
        display: none;
        margin-top: 16px;
        width: 100% !important;

        @include bp(s) {
          margin-left: 75px;
          max-width: calc(100% - 75px);
        }

        &.InputText {
          max-width: 190px;
        }

        &.TextEntryMedium {
          height: 92px;
        }

        &.TextEntryLarge {
          height: 120px;
        }
      }

      br {
        display: none;
      }

      // Used visually as the radio element
      .q-radio {
        @extend %dmb-radio-input;
      }

      .q-checkbox {
        @extend %dmb-radio-input;

        &,
        &::before {
          border-radius: 3px !important;
        }

        &.q-checked::before {
          content: url('../img/icons/check.svg');
          height: 24px;
          width: 24px;
        }
      }

      &:hover .q-radio,
      &:hover .q-checkbox {
        @extend %dmb-radio-input--hover;
      }

      &:hover .LabelWrapper .SingleAnswer,
      .LabelWrapper .SingleAnswer.q-focused,
      &:hover .LabelWrapper .MultipleAnswer,
      .LabelWrapper .MultipleAnswer.q-focused {
        @extend %dmb-radio-label--hover;
      }
    }
  }
}

%dmb-radio-label {
  align-items: center;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  color: #5f6368;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 23px 31px 23px 75px;
  transition:
    background-color $dmb-default-transition-duration $dmb-easing--standard,
    border-color $dmb-default-transition-duration $dmb-easing--standard,
    color $dmb-default-transition-duration $dmb-easing--standard;
  width: auto;

  @include bp(s) {
    font-size: 18px;
  }
}

%dmb-radio-label--hover {
  background-color: #f8f9fa;
  color: $h-gm-grey-rgba-900;
}

%dmb-radio-lable--active {
  background-color: rgba(232, 240, 254, .5) !important;
  border-color: $h-button-primary-bg-color;
  border-width: 2px;
  padding: 22px 30px 22px 74px;
}

%dmb-radio-input {
  border: 2px solid #979797;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  height: 24px;
  left: 24px;
  margin: -12px 0 0;
  position: absolute;
  top: 50%;
  transition: border-color $dmb-default-transition-duration $dmb-easing--standard;
  width: 24px;

  &::before,
  &::after {
    border-radius: 50%;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color $dmb-default-transition-duration $dmb-easing--standard;
  }

  &::before {
    height: 14px;
    width: 14px;
  }

  &::after {
    height: 58px;
    width: 58px;
  }

  &.q-checked {
    background-color: #fff;
    border-color: #1967d2;

    &::before {
      background-color: #1967d2;
    }
  }
}

%dmb-radio-input--hover {
  &:not(.q-checked)::after {
    background-color: rgba(0, 0, 0, .04);
  }
}
