.dmb-survey-side-panel-container {
  &.QuestionOuter {
    padding: 0;
  }

  fieldset {
    transform: none !important;
  }

  .dmb-side-panel {
    background: #fff;
  }
}

.dmb-body--has-modal {
  overflow: hidden;
}

.dmb-backdrop {
  display: none;
}
