.dmb-side-panel {

  //TODO: this can be removed  and dmb-sidepanel__headline-underlined used instead once https://app.asana.com/0/709696085323527/904600094514522 is merged
  .h-c-headline {
    border-bottom: 6px solid $dmb-heading-border-color;
    max-width: 90%;
    padding-bottom: 15px;
    width: max-content;
  }

  p {
    font-size: 16px;
  }
}
