
/* RGB */
$charleston-green: #2D2B29;
$hillary: #bdb59e;
$ice: #f0ece2;
$red: #a7342d;

// Fileoverview:
// Color definitions.

$aa-white: rgba(218, 221, 216, 1);
$aa-black: $charleston-green;
$aa-font-error: #f00;

$aa-bastille: #292d33;
$aa-logo-font: #5f6368;

$aa-bg-colors: ();


$hamburger-layer-color: $ice;
